@charset "utf-8";


@import "dropdown.css";

ul.dropdown-vertical {
  width:180px;
 margin-left:10px;
}

ul.dropdown-vertical ul {
 top: 1px;
 left: 99%;
}

ul.dropdown-vertical li {
 float: none;
}
/***************************/


