﻿body
{
    font: normal 11px/14px Tahoma;
    color: #FFFFFF;
}
#header-bg { background:url(/images/header-bg.jpg); background-repeat:repeat-x; width:100%; height:53px;}
#header-logo
{
    padding-top: 0px;
    padding-left: 22px;
    position: absolute;
    top: 0px;
    left: 0px;
}
