﻿@import url("/css/home.css");
@import url("/css/form.css");
@import url("/css/botton.css");
@import url("/css/global_HACK.css");
body
{
    font: normal 11px/14px Tahoma;
    color: #676767;
}

a
{
    color: #007495;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

img
{
    vertical-align: middle;
}

h1
{
    color: #660000;
    font: 500 24px/30px tahoma;
}
h3
{
    color: #660000;
    font: bold 18px/19px tahoma;
    border-bottom: solid 1px #b8b8b8;
    padding-bottom: 5px;
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}

/* FONT-COLOR */
.green
{
    color: #899c0f;
}
.gray
{
    color: #7e7e7e;
}
.gray-m
{
    color: #676767;
}
.gray-h
{
    color: #4c4c4c;
}
.red
{
    color: #c4484b;
}
.font-11
{
    font: normal 11px tahoma;
}
.font-12
{
    font: normal 12px tahoma;
}
.font-13
{
    font: normal 13px tahoma;
}
#header
{
    min-width: 696px;
    padding-left: 180px;
    padding-right: 10px;
    margin-top: 20px;
    height: 120px;
    position: relative;
}

#header-logo
{
    padding-top: 0px;
    padding-left: 22px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#header-logo a
{
    background-image: url(/images/logo.gif);
    background-repeat: no-repeat;
    width: 165px;
    height: 57px;
    display: block;
}

#header-logo a:hover
{
    background-image: url(/images/logo_over.gif);
    background-repeat: no-repeat;
    width: 165px;
    height: 57px;
    display: block;
}

#header-welcome
{
    height: 62px;
    top: 10px;
    left: 220px;
    padding-left: 0px;
}

#header-welcome p
{
    margin-top: 10px;
    margin-left: 10px;
    font: normal 13px tahoma;
}

#header-welcome p strong
{
    font: bold 11px tahoma;
}

#header-welcome p.link-header a
{
    color: #899b11;
    font: normal 11px tahoma;
    margin-right: 5px;
    padding-right: 5px;
    border-right: solid 1px #899b11;
}

#header-welcome p.link-header
{
    margin-top: 10px;
    clear: both;
    float: left;
}

#header-menu
{
    position: absolute;
    top: 62px;
    left: 6px;
}

#header-search
{
    background: url('/images/bg_search_repeat.gif') repeat-x;
    border-left: solid 0px #ffffff;
    height: 60px;
    top: 62px;
    left: 190px;
}

#header-shoppingcart
{
    background-image: url(/images/btn/btn_cart.jpg);
    height: 60px;
    position: absolute;
    right: 7px;
    top: 62px;
    width: 85px;
}

#header-shoppingcart a.redbox
{
    border: 1px solid white;
    padding: 1px 2px;
    position: absolute;
    min-width: 13px;
    top: 20px;
    left: 53px;
    background-color: #d90504;
    color: white;
    font-weight: bold;
    text-align: center;
}
.navShopAll
{
    background-image: url(/images/btn/alldepartment.gif);
    width: 200px;
    height: 60px;
    position: relative;
}
.navShopAll a
{
    position: absolute;
    top: 24px;
    left: 38px;
    font: bold 13px tahoma;
    color: #6f6f6f;
}
.navShopAll span.all-departments
{
    color: #635f50;
}
#menuAnchor
{
    display: none;
}
.flyoutAnchor
{
    background-image: url(/images/btn/flyoutAnchor_hover.gif);
    width: 16px;
    height: 17px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 25px;
    display: block;
}
.flyoutAnchor:hover
{
    background-image: url(/images/btn/flyoutAnchor.gif);
    width: 16px;
    height: 17px;
    cursor: pointer;
    display: block;
}

#footer
{
    clear: both;
    padding-top: 30px;
    margin-top: 0px;
    min-width: 981px;
    position: relative;
    background: url('/images/bg-foot.jpg') repeat-x;
}
#footer-link
{
    /*background: url('/images/gr_box.jpg') no-repeat;*/
    width: 875px;
    height: 108px;
    margin: 0px auto;
    padding-left: 0px;
    font-size: 11px;
    color: Gray;
}
#footer-link > div
{
    float: left;
    margin-right: 0px;
    width: 175px;
}
#footer-link ul
{
    list-style: none;
    margin-top: 7px;
}
#footer-link li
{
    margin: 1px 0px;
    font-size: 13px;
    line-height: 17px;
}
#footer-link-aboutus
{
    background: url('/images/aboutus.gif') no-repeat;
    padding-top: 14px;
}
#footer-link-help
{
    background: url('/images/help.gif') no-repeat;
    padding-top: 14px;
}
#footer-link-website
{
    background: url('/images/website_company.gif') no-repeat;
    padding-top: 14px;
}
#footer-link-trendyday
{
    background: url('/images/trendyday.gif') no-repeat;
    padding-top: 14px;
}
#footer-link-advertising
{
    background: url('/images/advertising.gif') no-repeat;
    padding-top: 14px;
}
#footer-contact
{
    width: 716px;
    margin: 20px auto;
    text-align: center;
    font-size: 11px;
    color: Gray;
}
#footer-contact-company-name
{
    font-weight: bolder;
}
#footer-contact-company-ecommerce
{
    margin-left: 20px;
}
#footer-logo
{
    background: url('/images/foot.gif') no-repeat;
    width: 660px;/*width: 639px;*/
    height: 77px;
    margin: 0px auto;
}

/* Pager */
.pager
{
    margin-bottom: 30px;
    margin-top: 5px;
}
.pager .disabled
{
    display: none;
}
.pager .current
{
    background-color: #53b998;
    border: 0px solid #009;
    color: #fff;
    font-weight: bold;
    margin-top: 4px;
    padding: 2px 4px;
    text-align: center;
}
.pager span, .pager a
{
    margin: 4px 3px;
}
.pager a
{
    border: 1px solid #c0c0c0;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
}

/* CONTENT-DEPARTMENT */
.table-layout
{
    width: 100%;
    margin-top: 13px;
    margin-bottom: 10px;
}
.table-layout-column-center
{
    vertical-align: top;
    padding-left: 10px;
    padding-right: 15px;
}
.table-layout-column-left
{
    width: 202px;
    vertical-align: top;
    padding-left: 10px;
}
.table-layout-column-right
{
    width: 250px;
    vertical-align: top;
    padding-right: 7px;
}
#content
{
    position: relative;
    min-height: 400px;
    margin-top: 10px;
}
#content-department.three-columns
{
    position: relative;
    margin-top: 13px;
    padding-right: 270px;
    padding-left: 220px;
    min-width: 462px;
    min-height: 1500px;
}
#content-department h1
{
    color: #660000;
    font: 500 24px/30px tahoma;
}
#content-department-product-display-setting
{
    position: relative;
    background: #efefef url('/images/bg_tab_left.gif') no-repeat;
    color: #999999;
    font: 11px/25px Tahoma;
    height: 29px;
    padding-left: 6px;
}
#content-department-product-display-setting img
{
    vertical-align: middle;
    left: 286px;
}
#content-department-product-display-setting-applysort
{
    /*position: absolute; 	top: 0px; 	right: 0px; 	padding-top:3px*/
    display: inline;
    margin-left: 5px;
}
/*#content-department.three-columns #content-department-left-panel
{
    position: absolute;
    top: 0px;
    left: 10px;
}
#content-department.three-columns #content-department-right-panel
{
    position: absolute;
    top: 0px;
    right: 7px;
    width: 250px;
    overflow: hidden;
}*/
/*#content-department.three-columns #content-department-left-panel > *, #content-department.three-columns #content-department-right-panel > *
{
    display: block;
    margin-bottom: 20px;
}
#content-department.three-columns #content-department-left-panel > *
{
    margin-bottom: 8px;
}
#content-department.three-columns #content-department-right-panel > img, #column-right
{
    margin-bottom: 10px;
}*/
ul#content-department-product-list > li
{
    position: relative;
}
ul#content-department-product-list .product-infomation-description, .ink_result .product-infomation-description
{
    display: none;
}

ul#content-department-product-list.list .product-infomation-description
{
    display: block;
}

ul#content-department-product-list.list > li
{
    border-bottom: Solid 1px #d4d0c8;
    min-height: 180px;
    padding-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
ul#content-department-product-list-office.list > li
{
    border-bottom: Solid 0px #d4d0c8;
    margin-bottom: 20px;
}
ul#content-department-product-list.list .product-image, ul#content-department-product-list.list .product-infomation, ul#content-department-product-list.list .product-action
{
    float: left;
}
ul#content-department-product-list.list .product-infomation
{
    max-width: 70%;
}
ul#content-department-product-list.list .product-action
{
    clear: both;
    margin-left: 130px;
}

ul#content-department-product-list.list > li div.product-image
{
    position: absolute;
    top: 0px;
    left: 0px;
}
div.product-image
{
    text-align: center;
    
}
ul#content-department-product-list.thumbnail p.product-infomation-description
{
    display: none;
}
#content-product .box-product, #content-department-dept .box-product, #content-index div.box-product
{
    margin-top: 10px;
    border-bottom: solid 0px #CCCCCC;
    padding-bottom: 10px;
    clear: both;
    overflow: hidden;
    height: auto;
}

.box-product p
{
    font: normal 13px/18px tahoma;
    color: #676767;
    margin: 10px 20px;
}
.box-product
{
    margin: 0 10px;
}
.box-product p.product-infomation-price, .box-product p.product-infomation-name
{
    margin: 0px 20px;
}

#content-department h2
{
    font: bold 16px tahoma;
    color: #800000;
    padding-left: 25px;
}
#content-product h2
{
    display: inline;
    font-weight: bold;
    font-size: 13px;
    color: #cc0000;
}
#content-department.two-columns
{
    position: relative;
    margin-top: 13px;
    padding-left: 205px;
    min-width: 462px;
}
#content-department.two-columns #content-department-dept
{
    min-height: 600px;
}
#content-department.two-columns #content-department-left-panel
{
    position: absolute;
    top: 0px;
    left: 10px;
}
#content-department-banner-main, #content-department-product-banner
{
    min-width: 500px;
    text-align: center;
    overflow: hidden;
    margin-top: 2px;
}
#content-department-deptlist
{
    margin: 10px 0;
}
div.center .content-department-deptlist-details
{
    width: 180px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1; *display:inline;
_height:250px;
float:none
}
.content-department-deptlist-details
{
    width: 15%;
    min-width: 240px; /*height: 400px;*/
    float: left;
    padding: 1px;
    border: 1px solid #cbdfe7; /*overflow:hidden*/
}
.content-department-deptlist-details a
{
    font: normal 12px/14px tahoma;
    color: #800000;
}
.content-department-deptlist-details ul
{
    margin: 0px;
    list-style: none;
}
.content-department-deptlist-details ul li a
{
    font-weight: normal;
    font: normal 11px/17px tahoma;
    background-image: url(/images/menu/arrow.gif);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    padding: 0 8px;
    color: #007495;
    display: inline-block;
}
/**/
#content-department-deptlist-all
{
    margin: 10px 0;
}
div.center .content-department-deptlist-details-all
{
    width: 180px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1; *display:inline;
_height:250px;
float:none
}
.content-department-deptlist-details-all
{
    width: 15%; /*height: 400px;*/
    float: left;
    padding: 1px; /*border: 1px solid #cbdfe7;*/ /*overflow:hidden*/
}
.content-department-deptlist-details-all a
{
    font: normal 12px/14px tahoma;
    color: #800000;
}
.content-department-deptlist-details-all ul
{
    margin: 0px;
    list-style: none;
}
.content-department-deptlist-details-all ul li a
{
    font-weight: normal;
    font: normal 11px/17px tahoma;
    background-image: url(/images/menu/arrow.gif);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    padding: 0 8px;
    color: #007495;
    display: inline-block;
}
/**/
.content-department-deptlist-details > ul
{
    /*list-style:*/ /*padding: 0px 20px;*/
}
#search-price-button
{
    vertical-align: middle;
}
#price-begin, #price-end
{
    width: 40px;
}
#content-department-product-sortby
{
    /*width:380px;*/
    position: absolute;
    right: 10px;
    top: 2px;
    padding: 2px 2px 2px 2px;
    font: bold 11px/20px tahoma;
    color: #555555;
}
input#sortByDept
{
    margin: 0px;
    vertical-align: text-top;
    margin: 0 0px 0 6px;
}
#content-department-product-sortby select
{
    border: solid 1px #b0b0b0;
    font: bold 11px tahoma;
    color: #880000;
}

#content-department-product-refid select
{
    padding: 2px;
    border: solid 1px #b0b0b0;
    font: bold 11px tahoma;
    color: white;
    width: 150px;
    background-color: gray;
}
#content-department-product-refid
{
    position: absolute;
    left: 150px;
    top: 2px;
    padding: 2px;
    font: bold 11px/25px tahoma;
    color: black;
    margin-right: 85px;
    top: -1px;
    min-width: 390px;
}
#content-department-product-sortby span.ab
{
    position: absolute;
    right: 98px;
    top: 8px;
    font: normal 11px tahoma;
    color: #868686;
}
#content-department #breadcrumbs h1 a, #content-department #breadcrumbs h1
{
    font: normal 11px tahoma;
}
#content-department #breadcrumbs
{
    margin: 5px auto;
}
#content-department-dept-show
{
    clear: both;
}
div.box-product-right-panel li, div.box-product li
{
    list-style: none;
    
}

ul.new-product
{
    display: block;
    height: auto;
    margin: auto;
    overflow: hidden;
    width: 240px !important;
}
ul.new-product li
{
    border: 0px solid #CCCCCC;
    float: left;
    list-style: none outside none;
    margin: 5px 8px;
    width: 60px !important;
}

#content-department-right-panel .new-product #icon-promotion, #content-department-right-panel .lookinside
{
    display: none;
}
div.box-product-right-panel h2
{
    padding-left: 0px !important;
    border-bottom: solid 2px #cccccc;
    padding-bottom: 3px;
    margin-top: 20px;
}
.box-product-right-panel h3, .box-product-right-panel-new h3, .box-product-right-panel-promotion h3, .box-product-right-panel-new h3, .box-product-right-panel-recommended h3, box-product-right-panel-bestselling h3
{
    color: #660000;
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    border-bottom: solid 1px #b8b8b8;
    padding-bottom: 5px;
}
.box-product-right-panel-new .lookinside, .box-product-right-panel-promotion .product-infomation-description
{
    display: none;
}
.box-product-right-panel-promotion .product-image img, .box-product-right-panel-new .product-image img
{
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
    outline: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 3px;
    background: #f0f0f0;
}
.box-product-right-panel-promotion ul li
{
    /* basic */
    background-color: #efefef;
    margin: 5px auto;
    padding: 0px;
    text-align: left; /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    min-height: 60px;
    clear:both
}
.box-product-right-panel-promotion .product-action, .box-product-right-panel-promotion .product-action a
{
    display: none;
}
#content-index .box-product, #content-department-dept .box-product .buttonAdd
{
    width: 100px;
    height: 55px;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent url('/images/btn/ecoupon_act_s.gif') no-repeat center top;
    text-indent: -1000em;
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
}
#BrandList li
{
    float: left;
    margin-right: 5px;
}
#content-bookpreview-departmentlist-select
{
    padding: 9px 0 5px 5px;
}
.box-product-right-panel-promotion #icon-promotion
{
    display: none;
}
/* END CONTENT-DEPARTMENT */

/* PRODUCT SHARED*/
.btn-update-page
{
    display: none;
}
.product-infomation-name, .product-infomation-name a
{
    /*color: #660000;*/
    font: normal 12px/14px tahoma;
    font-weight: normal;
}
.product-infomation-description
{
    font: normal 11px/14px tahoma;
    color: Gray;
}
.product-infomation-price
{
    color: #c00 !important;
    font-size: 12px !important;
    font-weight: normal !important;
}
.product-action, .product-infomation-description, .product-infomation, .product-infomation-price
{
    margin: 10px 0px;
}
.product-infomation-name, .product-infomation-description, .product-infomation-description, .product-infomation-price
{
    text-align: left !important;
}
span.full-detail
{
    background-image: url("/images/btn/btn_viewall.gif");
    background-position: 0px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    width: 68px;
    margin: auto;
}

#content-department-dept-show ul
{
    /*overflow:hidden; 	max-height:520px;*/
}

#content-department-dept-show ul#content-department-dept-show-brand
{
    height: auto;
}




/* SHOW PRODUCT THUMB - ALL*/
#content-department-dept-show ul li, #product-history ul li, #content-product-similar-inbrand ul li, #content-product-related ul li, #content-product-similar ul li, #content-product-related-dept ul li, #content-product-list ul li, #product-cart-recommend ul li, ul#content-department-product-list.thumbnail > li, #SearchForm div.ink_result ul li, #content-product-alsobought ul li, #content-home-show ul li
{
    width: 150px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
    zoom: 1; *display:inline;
_height:250px;
}
#personalize-most-view-dept, #product-cart-recommend
{
    width: 812px;
    max-height: 717px;
    overflow: hidden;
}
#personalize-most-view-dept ul li
{
    width: 150px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
    zoom: 1; *display:inline;
_height:250px;

}

#content-product-similar-detail-slider ul li, #content-product-related-dept-detail-slider ul li
{
    width: 150px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
    zoom: 1; *display:inline;
_height:250px;
}

#content-product-similar-detail-slider, #content-product-related-dept-detail-slider
{
    height: 225px;
    overflow: hidden;
    margin: 0px 0px 0px 10px;
}

#content-product-similar-detail-slider-loading, #content-product-related-detail-slider-loading
{
    position: absolute;
    text-align: center;
    width: 220px;
    height: 19px;
    background: url('/images/icon_loader.gif') no-repeat center;
}
/* PRODUCT PAGE */
.table-layout-product-column-center
{
    vertical-align: top;
    padding-left: 10px;
    padding-right: 0px;
}
.table-layout-product-column-left
{
    width: 400px;
    vertical-align: top;
    padding-left: 10px;
}
.table-layout-product-column-right
{
    width: 200px;
    vertical-align: top;
    padding-right: 10px;
}
#content-product-summary
{
    position: relative;
    margin-top: 13px; /*padding-right: 250px;     padding-left: 430px;*/
    min-width: 250px;
    margin-bottom: 20px;
    height: auto/*575px*/;
    overflow: inherit;
}
#content-product-summary-picture
{
    width: 400px;
}
#content-product-summary-main
{
    height: auto;
}
#quickinfo-content h1
{
    color: #660000;
    font: 500 24px/30px tahoma;
}
#content-product-summary-add2cart
{
    background-image: url('/images/bg_add2cart_repeat.gif');
    background-repeat: repeat-y;
    color: #660000;
}
#content-product-summary-nextback
{
    background-color: White;
    min-height: 130px;
    margin: 10px auto;
    border: solid 1px #c2c2c2;
    padding: 3px;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 5px solid #E6E6E6;
    overflow: hidden;
    width: 185px;
}
#content-product-summary-nextback a
{
    width: 90px;
}
#content-product-summary-nextback img.thumb
{
    width: 80px;
    border: 1px solid rgb(202, 200, 200);
}
#content-product-summary-add2cart-detail
{
    padding-bottom: 15px;
    width: 200px;
    background: url('/images/bg_add2cart_foot.gif') no-repeat bottom;
    text-align: center;
}
#content-product-summary-main h1
{
    color: #660000;
    font: 500 24px/30px tahoma;
    margin-bottom: 5px;
}
#content-product-summary .description
{
    color: #676767;
    font-size: 11px;
    margin: 10px 0;
}
#content-product-summary .price
{
    color: #c00;
    font-size: 14px;
    font-weight: bold;
}
#content-product-summary-add2cart-detail input.qty
{
    width: 20px;
}
#content-product-summary-add2cart-detail > div
{
    margin: 5px;
}
#content-product
{
    margin: 0px;
    position: relative;
}
#content-product-summary-main
{
    color: #676767;
    font: normal 13px tahoma;
}
.extendVariationSelectionBox
{
    margin: 10px 0;
}
.status
{
    margin: 5px 0;
}
.status img
{
    vertical-align: middle;
}
.color-deal
{
    color: #008080;
}
.color-stock
{
    color: #d96c00;
}
.status-cancel
{
    font: bold 18px tahoma;
    color: #cc0000;
}
ul.content-product-list > li
{
    width: 140px;
    height: 150px;
    float: left;
    text-align: center;
}
#Question
{
    width: 300px;
    padding: 5px;
    border: solid 1px #c3c3c3;
    display: block;
}
#content-product-gallery-detail
{
    list-style: none;
}
#content-product-gallery-detail img
{
    width: 70px;
    height: 70px;
    border: 1px solid rgb(230, 194, 195);
}
#content-product-description ul li
{
    list-style-type: disc;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 18px;
    color: #676767;
    margin-left: 20px;
}
.ProductSpecTitle
{
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
.ProductRemark
{
    color: gray;
    font-size: 10px;
}
.propertyList li
{
    cursor: pointer;
    float: left;
    margin-right: 10px;
    border: solid 1px #86AEC1;
    padding: 2px;
}
.propertyList li:hover
{
    border: solid 1px #b1ada0;
}
.selectedProperty
{
    color: white;
    background-color: #b1ada0;
    border: solid 1px #b1ada0 !important;
    font-weight: bold;
}
.propertyName
{
    font-weight: bold;
}
#content-product-summary #content-product-summary-main span
{
    display: inline-block;
    width: 120px;
    margin-bottom: 2px;
}
#product-id
{
    background-image: url(/images/icon/icon_product_id.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
}
#normal-price
{
    background-image: url(/images/icon/icon_normal_price.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
}
#buy-trendyday
{
    background-image: url(/images/icon/icon_buy_trendyday.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
}
#save
{
    background-image: url(/images/icon/icon_save.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.extendVariationSelectionBox div
{
    overflow: auto;
}
.quoteheader
{
    /*background: url("/images/quote-l.gif") no-repeat scroll 4px 4px #ebebeb;*/
    background-color: #ebebeb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    color: #9b9b9b;
    font-size: 11px;
    font-weight: bold;
    margin: 6px auto 0;
    padding: 3px;
}
blockquote
{
    background: url("/images/quote-r.gif") no-repeat scroll 99% 97% ebebeb;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    color: #9b9b9b;
    font-size: 11px;
    line-height: 1.4em;
    margin: 0px 0px 10px 0px;
    padding: 5px 25px 15px 15px;
}
#morecomment
{
    display: none;
}
.content-product-list
{
    min-height: 300px;
}
#content-product-add2cart-ecoupon
{
    text-align: center;
    background-color: white;
    padding: 3px;
    border: dashed 1px #c3c3c3;
    max-width: 150px;
    margin: auto;
    padding-bottom: 10px;
}
#content-product-add2cart-ecoupon .product-infomation-productID, #content-product-add2cart-ecoupon .product-infomation-description
{
    display: none;
}
.btn_send
{
    background-color: Transparent;
    background-image: url("/images/btn/btn_post_comment.png");
    border: 0 none;
    height: 26px;
    width: 79px;
    color: #676767;
    font: 13px tahoma !important;
    cursor: pointer;
}
/* END PRODUCT PAGE */

/* REGISTER PAGE */
div#content-register
{
    width: 730px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d4d0c8;
    position: relative;
}
div#content-register > h1
{
    font-size: 18px;
    font-weight: bolder;
    color: #660000;
    text-align: left;
}
div#content-register-instruction
{
    margin-top: 13px;
    border-bottom: Solid 1px;
    border-bottom-color: #c8c8c9;
    padding-bottom: 10px;
    margin-bottom: 13px;
}
p#content-register-instruction-content
{
    font-size: 13px;
    font-weight: bolder;
    color: #4c4c4c;
    width: 400px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
    line-height: 18px;
}
p#content-register-instruction-remark
{
    font-size: 11px;
    color: #7e7e7e;
    text-align: center;
}
div#content-register legend
{
    font-size: 11px;
    color: white;
    font-weight: bolder;
    padding: 3px 0 0 7px;
    width: 133px;
    height: 30px;
    background-image: url(/images/bg_legend.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: -12px;
}
p#content-register-required-remark
{
    font-size: 11px;
    color: #7e7e7e;
    text-align: center;
    margin-bottom: 14px;
}
div#content-register-newsandagreement-news
{
    text-align: center;
    margin-bottom: 15px;
}
div#content-register-newsandagreement-agreement-checkbox label
{
    display: inline-block;
    width: 180px;
}
div#content-register-newsandagreement-agreement-checkbox > input
{
    margin-left: 220px;
}
div#content-register-newsandagreement-agreement-checkbox
{
    width: 600px;
    margin: 0px auto;
}
#content-register-submit
{
    display: block;
    margin: 0px auto;
}
#content-register-newsandagreement-agreement-content *
{
    margin: 10px 0px;
}
#content-register-newsandagreement-agreement-content > p
{
    text-indent: 4em;
}
#content-register-newsandagreement-agreement-content > ol
{
    margin-left: 4em;
}
#content-register-newsandagreement-agreement-content > h2
{
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}
#content-register-newsandagreement-agreement-content > h3
{
    font-weight: bolder;
}
#content-register .input-text input[type="text"]
{
    background-image: url(/images/bg_input.jpg);
    background-repeat: no-repeat;
    width: 190px;
    height: 22px;
    border: 0px;
}
#content-register-newsandagreement-news input, #content-register-newsandagreement-agreement-checkbox input
{
    background-image: url(/images/bg_input.jpg);
    background-repeat: no-repeat;
    border: 0px;
    color: #676767;
    font: normal 13px/16px tahoma;
}
/* END REGISTER PAGE */

/* ACTIVATE PAGE */
div#content-activate > h2
{
    border-top: solid 5px Yellow;
    padding-top: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div#content-activate
{
    display: block;
    width: 750px;
    margin: 20px auto;
    font-size: 13px;
    color: Black;
    border: solid 1px Gray;
    padding: 0px 0px 0px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
span#content-activate-thtoppic
{
    color: Red;
    font-size: 18px;
    font-weight: bolder;
}
span#content-activate-entoppic
{
    font-size: 16px;
    font-weight: bolder;
}
p#content-activate-content-remark
{
    text-indent: 1em;
    color: #333333;
    font-weight: bold;
}
div#content-activate-content
{
    border: solid 1px;
    border-color: #555555;
    background-color: #f6f6f6;
    width: 460px;
    display: block;
    margin: 30px auto 20px;
    padding: 5px 10px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div#content-activate-content p
{
    margin-bottom: 20px;
}
p.content-activate-content-paragraph
{
    text-indent: 1em;
}
p#content-activate-content-fristparagraph
{
    color: #555555;
    font-weight: bold;
}
p#content-activate-content-useremail
{
    color: #B60D14;
    text-decoration: underline;
}
/* END ACTIVATE PAGE */

/* DEPARTMENTNAVIATOR.ASCX*/
li.departmentNavigator-childlist > ul
{
    display: none;
    left: 100px;
    min-width: 180px;
}
li.departmentNavigator-childlist > ul
{
    z-index: 2;
}
li.departmentNavigator-childlist:hover > ul
{
    display: block;
    position: absolute;
    border: solid 2px;
    border-color: #d4d0c8;
    margin-left: 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-image: url(/images/icon/icon_under.gif);
    background-repeat: no-repeat;
    background-position: top left;
}
li.departmentNavigator-childlist
{
    background-image: url(/images/bg_tree_list.gif);
    background-repeat: no-repeat;
    background-position: 10px 3px;
    padding-left: 20px;
}
li.departmentNavigator-childlist:hover
{
    text-decoration: underline;
    color: #1b6dab !important;
}

li.departmentNavigator-grandchildlist
{
    background-image: url(/images/menu/arrow.gif);
    background-repeat: no-repeat;
    background-position: 8px 7px;
    padding-left: 15px;
}
/* END DEPARTMENTNAVIATOR.ASCX*/

/* BOX */
.list-box
{
    width: 200px;
    font: normal 12px/18px tahoma;
    border-left: solid 1px #d7d7d7;
    border-right: solid 1px #d7d7d7;
    background-color: White;
    margin-bottom: 11px; /*max-height:800px;*/
    overflow: auto;
}
.list-box > h3
{
    background: url('/images/bg_box_topic.gif') no-repeat;
    font-size: 13px !important;
    height: 23px;
    padding-top: 4px;
    padding-left: 7px;
    border: none;
    color: Black;
    padding-bottom: 0px !important;
    font-weight: bold;
}
.list-box > h4
{
    font-size: 12px;
    font-weight: bolder;
    color: #880000;
    padding-left: 7px;
    margin-bottom: 2px;
}
.list-box .propname
{
    font-size: 12px;
    font-weight: bolder;
    color: #660000;
}
.list-box > ul > li > h5
{
    font-size: 12px;
    color: #999999;
    font-weight: normal;
}
.list-box > ul
{
    border-bottom: solid 1px #d7d7d7;
    padding-left: 10px;
    padding-bottom: 9px;
    list-style: none;
}
.list-box .active
{
    background-color: #EFEFEF;
    border: 1px solid #D3D3D3;
    color: #A50E0E;
    font-weight: bolder;
    margin-left: -5px;
    padding: 2px 2px 2px 5px;
    width: 95%;
}
.list-box .active > a
{
    float: right;
    margin-right: 5px;
}
/* END BOX  */

.content-product-subject
{
    border: solid 0px;
    border-bottom: solid 1px red;
}

.boxcontent-border
{
    background-repeat: no-repeat;
    background-color: #eeedea;
    border: solid 1px #c3c3c3;
    padding: 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    max-width: 300px;
}

#billingdata
{
    padding: 10px 20px !important;
    margin: 0px !important;
}

/* FIELDSET */
fieldset
{
    border-bottom-color: #e6e6e6;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: #e6e6e6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 3px;
    position: relative;
    display: block;
    padding: 0px 10px 10px 10px;
    -moz-border-radius: 3px;
    font: normal 12px/16px tahoma;
    color: #676767;
    background-color: #eaeaea;
    margin-bottom: 10px;
}

fieldset span
{
    font: 11px tahoma;
    margin-left: 5px;
}

fieldset#contact, fieldset#shipping, fieldset#billingdata, fieldset#payment-type
{
    border-bottom-color: #e6e6e6;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #e6e6e6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 10px;
    -moz-border-radius: 1px;
    font: normal 13px/16px tahoma;
    color: #676767;
    background-color: White;
    margin-bottom: 10px;
}

fieldset input[type="text"], fieldset input[type="password"]
{
    /*background-image: url(/images/bg_input.jpg);*/
    background-repeat: no-repeat;
    width: 200px;
    height: 22px;
    border: solid 1px lightgray;
    padding: 1px 3px;
    color: #676767;
    font: normal 13px/16px tahoma;
    margin-left: 5px;
}

#ByProductId
{
    background-image: url(/images/byproductid.jpg);
    background-repeat: no-repeat;
    background-position: 10px -4px;
    padding-left: 250px;
    height: 185px;
    width: 720px;
}

#ByProductId input[type="text"]
{
    background-repeat: no-repeat;
    width: 200px;
    height: 22px;
    border: solid 1px lightgray;
    padding: 1px 3px;
    color: #676767;
    font: normal 13px/16px tahoma;
    margin-left: 5px;
}

#inform-payment input[type="text"]
{
    /*background-image: url(/images/bg_input.jpg);*/
    background-repeat: no-repeat;
    width: 320px;
    height: 22px;
    border: solid 1px lightgray;
    padding: 1px 5px;
    color: #676767;
    font: normal 13px/16px tahoma;
    margin-left: 5px;
}

fieldset#checkout-shippingnotmember-billingdata, fieldset#checkout-shippingnotmember-contactdata, fieldset#checkout-shippingnotmember-shippingdata
{
    margin: 0px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

fieldset#checkout-shippingnotmember-billingdata label, fieldset#checkout-shippingnotmember-contactdata label, fieldset#checkout-shippingnotmember-shippingdata label
{
    display: inline-block;
    width: 100px;
}

fieldset#checkout-shippingnotmember-billingdata div, fieldset#checkout-shippingnotmember-contactdata div, fieldset#checkout-shippingnotmember-shippingdata div
{
    margin-bottom: 3px;
}

fieldset#content-register-account *, fieldset#content-register-profile *, fieldset#Create-My-Catalog *, .fieldset-middle *
{
    vertical-align: middle;
}

fieldset#content-register-account label, fieldset#content-register-profile label
{
    display: inline-block;
    width: 200px;
    text-align: right;
}

fieldset#content-register-account input[type="text"], fieldset#content-register-profile input[type="text"], fieldset#content-register-account input[type="password"]
{
    margin-left: 5px;
    width: 192px !important;
}

fieldset#content-register-account > div, fieldset#content-register-profile > div
{
    margin: 5px auto;
    width: 650px;
}

fieldset#content-register-account, fieldset#content-register-profile
{
    border-bottom: Solid 0px;
    border-bottom-color: #c8c8c9;
    margin-bottom: 15px;
}

fieldset#content-register-newsandagreement > legend
{
    display: none;
}

fieldset#content-register-newsandagreement
{
    margin-bottom: 15px;
}

legend
{
    font-size: 11px;
    color: white;
    font-weight: bolder;
    padding: 3px 0 0 7px;
    width: 133px;
    height: 30px;
    background-image: url('/images/bg_legend.jpg');
    background-repeat: no-repeat;
    position: relative;
    top: -12px;
}

#remark
{
    width: 730px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 110px;
    font: normal 13px tahoma;
    color: #676767;
    margin-top: 25px; /*background-image: url(/images/gr_remark.gif); 	background-repeat: no-repeat; 	background-position: 30px 30px;*/
}
textarea
{
    border: solid 1px lightgray;
    padding: 1px 5px;
    color: #676767;
    font: normal 13px/16px tahoma;
    margin-left: 5px;
}
#remark textarea
{
    /*background-image: url(/images/bg_textarea.jpg); 	background-repeat: no-repeat;*/
    width: 600px;
    height: 100px;
    border: solid 1px gray;
    position: absolute;
    left: 142px;
    font: normal 13px tahoma;
    color: #676767;
    padding: 1px 5px;
}
#comment-product
{
    height: 200px;
}

#comment-product textarea
{
    /*background-image: url(/images/bg_textarea.jpg);*/
    background-repeat: no-repeat;
    width: 600px;
    height: 170px;
    max-height: 170px;
    border: solid 1px #C3C3C3;
    position: absolute;
    left: 30px;
    font: normal 13px tahoma;
    color: #676767;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
    overflow: auto;
}

#bottom-question textarea
{
    background-repeat: no-repeat;
    border: 1px solid #C3C3C3;
    color: #676767;
    font: 13px tahoma;
    width: 600px;
    height: 170px;
    margin-left: 25px;
    max-height: 170px;
}

div.check-box-sign-in
{
    margin-left: 125px;
}
div.check-box-sign-in p span
{
    font-size: 10px;
}
div.sign-in p
{
    width: 120px;
    text-align: right;
    display: inline-block;
}
div.sign-in input
{
    margin-left: 10px;
    margin-bottom: 5px;
}

/* MYPROFILE */
#content-MyProfile
{
    margin: 10px auto;
    padding: 10px 20px 10px 20px;
}
#sideNav
{
    width: 30%;
    float: left;
}
#contentCol
{
    width: 70%;
    overflow: hidden;
}
#myprofile-shipping-editbilling, #myprofile-shipping-editcontact, #EditCustomerShipping, #checkout-shipping-addshipping-addshippingset, #myprofile-shipping-editshipping, #myprofile-shipping-addshipping
{
    /*width:780px;*/
    margin-top: 10px;
    padding-left: 20px;
    float: left;
}
#ChangePassword
{
    width: 510px;
    margin: 20px auto;
}
#orders-table
{
    width: 98%;
    margin-left: 10px;
}
#orders-table thead
{
    background-color: #e6e6e6;
}
#table-quotation-list
{
    width: 100%;
    min-width: 680px;
    border: solid 1px #c5c5c5;
}
#table-wishlist-list
{
    border: solid 1px #c5c5c5;
}
.format-table .thead
{
    background-color: #e6e6e6;
    padding: 5px;
    font-weight: bold;
    font: bold 11px tahoma;
}
.format-table td
{
    border: solid 1px #C5C5C5;
    padding: 5px;
    font: normal 12px tahoma;
}
/* END MYPROFILE */

/* LOGIN.ASPX */
#account-login label, #account-login span
{
    display: inline-block;
    text-align: left;
    width: 250px;
}
#account-login input
{
    margin-left: 5px;
}
#account-login div
{
    margin-bottom: 5px;
}
.help-text
{
    font: normal 11px tahoma;
    color: #7e7e7e;
    text-align: center;
    margin: 10px 0;
}
.box-product-right-panel-new .product-infomation, .box-product-right-panel-new .product-action
{
    display: none;
}

#content-product-description, #product-detail-review-content
{
    font: normal 13px tahoma;
    margin: 10px;
}
#content-product-description h4
{
    font: bold 13px tahoma;
}

#content-product-description ul, #content-product-description p
{
    margin: 10px 20px;
}

#content-product-gallery-detail li
{
    display: inline;
}
#comment-error
{
    color: #C4484B;
    margin: 0 0 10px 20px;
}
/* END LOGIN.ASPX */

/* TAB */
#content-home-show h3, #content-department-dept-show h3, #content-product h3, #content-product-description h3, #product-detail-comment h3, #content-product-similar h3, #content-product-similar-inbrand h3, #content-product-related-dept h3, #content-product-bundle h3, #content-product-related h3, #content-product-alsobought h3, #product-detail-review h3, #product-cart-recommend h3, #personalize-most-view-dept h3
{
    /* TAB-basic */
    font: bold 16px tahoma;
    color: #444444; /*background-color: #f1f0ef;*/
    text-align: left;
    padding: 5px 40px; /* TAB-border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; /*border-bottom: solid 1px #c5c5c5; 	border-top: solid 1px #e4e2de;*/ /* TAB-shadow  	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px; 	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px; 	box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;*/
    background-image: url("/images/icon/bg_bag.gif");
    background-repeat: no-repeat;
    background-color: #eeedea;
    margin: 10px 0;
}

/* PRODUCT - HISTORY*/
#top-page-product-history ul li
{
    width: 80px;
    min-height: 80px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
    zoom: 1; *display:inline;_height:250px;}
#top-page-product-history img
{
    width: 75px;
    height: 75px;
}
#top-page-product-history
{
    padding: 5px;
    height: 120px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    width: 98%;
    min-width: 380px;
    margin: auto; *position:relative}
#top-page-product-history .product-infomation-name a, #top-page-product-history .product-infomation-price
{
    display: none;
}
#top-page-product-history .product-infomation-description
{
    display: none;
}
#top-page-product-history img.lookinside
{
    width: 100px;
    height: 25px;
}
#top-page-product-history img.promotion
{
    width: 40px;
    height: 17px;
}
#top-page-product-history ul
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin: auto;
    float: left;
}
#top-page-product-history ul li .product-action
{
    display: none;
}

#product-history h3
{
}
#product-history img
{
    width: 80px;
    height: 80px;
}
#product-history ul li .product-action
{
    display: none;
}
#product-history
{
    border-bottom-color: #e6e6e6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #e6e6e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 5px;
    padding: 5px;
    -moz-border-radius: 5px;
    height: 200px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    width: 98%;
    margin: auto; *position:relative
}
#Relate
{
    border-bottom-color: #e6e6e6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #e6e6e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 5px;
    padding: 10px;
    -moz-border-radius: 5px;
    height: 200px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    width: 90%;
    margin: auto; *position:relative
}
.box-border-format
{
    border-bottom-color: #e6e6e6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #e6e6e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 5px;
    -moz-border-radius: 5px;
    min-height: 200px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    width: 98%;
    margin: auto; *position:relative
}
/*#content div #product-history
{
	border:none;
	height: 230px;
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
	width: 100%!important;
	margin: auto;
	*position:relative;
	padding: 0px!important;
}
#content-product div #product-history h3
{
	-moz-border-radius: 5px 5px 5px 5px;
    background-color: #EEEDEA;
    background-image: url("/images/icon/bg_bag.gif");
    background-repeat: no-repeat;
    color: #666666;
    font: bold 16px tahoma;
    margin: 10px 0;
    padding: 5px 40px;
    text-align: left;
}
#content div #product-history h3
{
	 -moz-border-radius: 5px 5px 5px 5px;
    background-color: #EEEDEA;
    background-image: url("/images/icon/bg_bag.gif");
    background-repeat: no-repeat;
    color: #635F50;
    font: bold 16px tahoma;
    margin: 10px 0;
    padding: 5px 40px;
    text-align: left;
}*/
#product-history .product-infomation-name a, #product-history .product-infomation-price
{
    font: normal 11px tahoma;
}
#product-history .product-infomation-description, #searchresult-right-panel .product-infomation-description, #personalize-most-view-dept .product-infomation-description
{
    display: none;
}

#product-history img.lookinside
{
    width: 100px;
    height: 25px;
}
#product-history img.promotion
{
    width: 74px;
    height: 33px;
}
#product-history ul
{
    width: 99%;
    height: 180px;
    overflow: hidden;
    margin: auto;
}

/* END PRODUCT - HISTORY*/

/* WISH LIST */
#product-wishlist
{
    width: 100%;
    margin: 10px 0 0 10px;
}
#product-wishlist-ul
{
    width: 100%;
    display: inline-block;
}
#product-wishlist-ul .product-image, #product-wishlist-ul .product-infomation-name, #product-wishlist-ul .product-infomation-description, #product-wishlist-ul .product-infomation-price
{
    float: left;
}
#product-wishlist-ul .product-infomation-name, #product-wishlist-ul .product-infomation-description, #product-wishlist-ul .product-infomation-price, #product-wishlist-ul .product-action
{
    width: 500px;
}
#product-wishlist-ul li.product-wishlist-list
{
    border-bottom: Solid 1px #d4d0c8;
    min-height: 150px;
    padding-left: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
#product-wishlist-ul li div.product-wishlist-detail
{
    float: left;
}
#product-wishlist-ul li div.product-delwishlist
{
    float: right;
    margin-right: 10px;
}
#product-wishlist-ul .group
{
    width: 400px;
    float: left;
    margin-left: 15px;
}
#product-wishlist h3
{
    margin: 15px auto;
}

/* END WISH LIST */


span.propertyName
{
    margin: 5px 0;
}

/* E-COUPON */
#ecoupon-today
{
    width: 960px;
    margin: auto;
}
#content-home-show div.radius-ecoupon ul li
{
    margin: 0px !important;
}
#buyFromEcoupon
{
    padding: 5px;
}
#ecoupon-today div.radius-ecoupon
{
    /* basic */
    margin: 15px 12px;
    padding: 3px;
    text-align: left; /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    background-color: White;
    border: solid 1px lightgray;
    width: 155px;
    display: inline-block; *display:inline;
vertical-align:top;
min-height:345px;
_height:345px;
zoom:1;

}
#content-home-show div.radius-ecoupon
{ /* basic */
    margin: 15px 5px;
    padding: 5px;
    text-align: left; /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    background-color: White;
    border: solid 1px lightgray;
    width: 210px;
    display: inline-block; *display:inline;
vertical-align:top;
min-height:130px;
_height:130px;
zoom:1;
}
#ecoupon-today div.radius-ecoupon:hover
{
    border: solid 1px #c21818;
}
#ecoupon div.radius-ecoupon #buyFromEcoupon p.product-infomation-name
{
    overflow: hidden;
    text-align: left !important;
    width: 104px;
}

/*#ecoupon div{width:150px}*/
.ecoupon-price
{
    font: bold 14px tahoma;
    color: #c00;
}
#ecoupon
{
    overflow: hidden;
    height: 380px;
}

.content-home-product-list
{
    overflow: hidden;
    height: 520px;
}

#recommandHome
{
    height: 780px;
}

#content-home-show .radius-ecoupon .product-infomation-productID, #content-home-show .radius-ecoupon .product-infomation-description, #content-home-show .radius-ecoupon .product-infomation-description
{
    display: none !important;
}
#content-home-show #ecoupon .radius-ecoupon #buyFromEcoupon li
{
    width: 210px;
}
#content-home-show #ecoupon .radius-ecoupon #image-eCoupon-slider
{
    float: right;
    width: 100px;
    height: 100px;
}

#quickinfo-content-detail #content-product-add2cart-ecoupon .product-infomation-name
{
    display: none;
}
#quickinfo-content-detail #content-product-add2cart-ecoupon
{
    margin-left: 0px;
}

.price-ecoupon
{
    font-size: 18px;
    font-weight: bold;
}
/* END E-COUPON */

/*#content-product-related-dept #content-product-similar
{
	overflow: hidden;
	height : 597px
}*/



#trendyday
{
    width: 950px;
    margin: 10px auto;
    font: normal 13px/18px tahoma;
}
.center
{
    width: 1003px;
    margin: 30px auto;
}
.text-center
{
    text-align: center;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.page-margin-LR-10px
{
    margin: 0 10px;
}
.radius
{
    /* basic */
    background-color: #efefef;
    margin: 0 auto;
    min-width: 450px;
    padding: 0px;
    text-align: left; /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
#content-department-dept-show-brand li
{
    margin: 0 !important;
    padding: 0 !important;
    min-height: 20px !important;
    width: 100px !important;
}
.more
{
    font-size: 10px;
    margin-left: 3px;
    color: #007495 !important;
}
.office-list-product
{
    width: 100%;
    font: normal 13px tahoma;
}
.office-list-product thead
{
    background-color: #efefef;
    font-weight: bold;
    font-size: 11px;
}
.office-list-product thead td.bgcolor-hilight
{
    background-color: #dddddd;
}
.office-list-product thead td.bgcolor-hilight2
{
    background-color: #e0eaf3;
}
.office-list-product td
{
    border: solid 1px #d1d1d1;
    padding: 2px;
}
.office-list-product td.text-center
{
    text-align: center;
}
.office-list-product-infomation-name
{
    margin-left: 10px;
    font: normal 13px tahoma;
    color: #660000;
}
.office-list-product-infomation-name span
{
    font: normal 11px/17px tahoma;
}
.office-list-product .fix120
{
    width: 120px;
}
.office-list-product .fix50
{
    width: 50px;
}
#affiliate-bar a
{
    color: white;
    margin-left: 5px;
    line-height: 20px;
    font-weight: bold;
}
.btn-close-filter
{
    width: 16px;
    height: 16px;
    background-image: url(/images/icon/action_delete.gif);
    background-position: 0 1px;
}
#profile-pic-preview
{
    outline: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 10px;
    background: #f0f0f0;
}
/*.border-image
{border:solid 1px #91baca}*/

span#viewall a
{
    color: #6e736e;
}

.content-department-deptlist-details img
{
    height: 50px;
    width: 75px;
    float: left;
    margin-right: 5px;
}
.content-department-deptlist-details:hover
{
    /*background-color: #dceaef;     color: white !important;*/
}
.content-department-deptlist-details a
{
    color: #007495 !important;
    display: block;
}
#view-all-department a
{
    height: 50px;
    padding-left: 80px;
    width: 100%;
}

.errormessage-type1
{
    background-color: #ffe8e8;
    color: #880000;
    font: bold 12px tahoma;
    padding: 5px;
    border: solid 1px #ffcece;
    margin: 10px 0;
}
.complete-format
{
    margin: auto;
    padding: 20px;
    background-color: #f0faf0;
    border: 1px solid #cdebb9;
}
.complete-format h3
{
    border-bottom: 1px solid #CCECB9;
    color: #365643;
    font: bold 18px/19px tahoma;
    padding-bottom: 5px;
}
#content-department-product-list div.product-infomation
{
    margin-left: 20px;
    margin-top: 0px;
}
#content-department-product-list.list .product-infomation-name a
{
    font: bold 13px tahoma;
}
h4
{
    font-family: tahoma;
    font-size: medium;
    font-weight: bold;
    color: #555555;
    background-color: #d1d1d1;
    padding: 5px;
}
ul#test li
{
    width: 150px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
    zoom: 1; *display:inline;
_height:250px;
}
ul#test li .product-infomation-description
{
    display: none;
}
ul#test li .product-infomation-name a
{
    color: #007495;
}
ul#test li .product-image
{
    float: left;
    margin-right: 20px;
}
ul#test li .group
{
    float: left;
}

.uiIcon .iconCorrectSmall
{
    width: 13px;
    height: 13px;
    top: 0px;
    background-position: -0px -45px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url('/images/icon/tRpY94D8F.png');
}
.uiIcon
{
    font-size: 11px;
    text-align: left;
    color: #C4484B;
    font-weight: normal;
}

#product-history .commission-rate { display:none; }
#product-history .extra-commission { display:none; }

.commission-rate
{
    position: absolute;
    top: 0px;
    left: 10px;
	z-index:1;
}
.commission-rate .detail
{
    text-align: left;
    width: 55px;
    padding: 1px 3px;
    color: White;
}
.extra-commission
{
    position: absolute;
    top: 16px;
    left: 10px;
	z-index:1;
}
.extra-commission .detail
{
    /*width:70px;*/
    padding: 1px 3px;
    color: #555;
    background-color: #ddd;
    text-align: left;
}
.interest-percent
{
    position: absolute;
    top: 0px;
    right: 0px;
	z-index:1;
}
.interest-percent .detail
{
    background-image: url('/images/icon/icon_percent.png');
    width: 43px;
    height: 43px;
}

table#property-summary
{
    font: normal 13px tahoma;
    width: 650px;
    border-collapse: collapse;
    width: 725;
    border: solid 0px 	#F0F0F0;
    border-style:solid;
    border-width:2px;
    margin-left:20px;
 
}

table#property-summary td
{
    padding:5px;}
table#property-summary td.property-name 
{
    font-weight: bold;
}
table#property-summary tr.odd
{
    background-color:#F0F0F0 ;
    
}
table#property-summary tr.even
{
    background-color: Transparent;

}

table.playlist
{
    font: normal 13px tahoma;
    width: 650px;
    border-collapse: collapse;
    border: solid 1px #e7e7e7;
    width: 800px;
}
table.playlist tr th
{
    background-color: #666666;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
    padding: 4px 3px;
}
table.playlist td
{
    border-bottom: solid 1px #e7e7e7;
    padding: 2px 3px;
}
table.playlist em
{
    font-weight: bold;
    font-style: normal;
}
table.playlist td a
{
    width: 18px;
    height: 18px;
}
.product-image-group-hover li
{
    float: left;
    list-style: none;
    width: 50px;
    padding: 2px;
}
.img-group-tooltip
{
    z-index: 5;
    padding: 2px;
    position: absolute;
    top: -58px;
    background-color: #e1e1e1;
    background-repeat: repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; /* box-shadow */
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    -moz-box-shadow: gray 0px 3px 3px;
    box-shadow: gray 0px 3px 3px;
}
.img-group-tooltip a:hover
{
    opacity: 0.5;
}
