﻿	.forbtn{border:none; cursor:pointer}

	.btn-product-notifyme {background:url(/images/btn/btn-product-notifyme.png) no-repeat; width:195px; height:23px;}
	.btn-product-notifyme:hover {background:url(/images/btn/btn-product-notifyme-h.png) no-repeat; width:195px; height:23px;}


	.btn-submit-gray {background:url(/images/btn/btn-submit-gray.png) no-repeat; width:68px; height:21px;}
	.btn-submit-gray:hover {background:url(/images/btn/btn-submit-gray-h.png) no-repeat; width:68px; height:21px;}
	
	.btn-cancel-gray {background:url(/images/btn/btn-cancel-gray.png) no-repeat; width:68px; height:21px;}
	.btn-cancel-gray:hover {background:url(/images/btn/btn-cancel-gray-h.png) no-repeat; width:68px; height:21px;}