﻿.content-shopping-cart-topic
{
	border-bottom: 1px solid #d1d1d1;
	height: 39px;
	margin: 20px auto 0px;
	width: 980px;
}
.content-shopping-cart-topic h1
{
	color: #6784BA;
	float: left;
	font-size: 24px;
	font-weight: 500;
	margin: 0px;
}
#edit-wishlist, #delete-wishlist, #Duplicate-wishlist, #create-wishlist {
    float: left;
    height: 30px;
    margin-right: 10px;
    padding-top: 10px;
}
.content-shopping-cart-topic div
{
	color: #666666;
	float: right;
	font: normal 11px tahoma;
	margin: 0px;
}
div.content-shopping-cart-topic div p
{
	border-bottom: solid 1px #cccccc;
	margin: 0 0 5px 0;
	padding-bottom: 3px;
}
.content-shopping-cart-table
{
	min-height: 50px;
	padding: 10px;
}
#content-shopping-cart-detail
{
	clear: both;
}
#content-shopping-cart-detail .gray
{
	color: #999999;
}
#content-shopping-cart-detail .grayM
{
	color: #666666;
}
#content-shopping-cart-detail .orange
{
	color: #ff5809;
}
#content-shopping-cart-detail table
{
	border-collapse: collapse;
	border-spacing: 0;
}
#content-shopping-cart-detail td.thead, .format-table td.thead
{
	background-color: #e6e6e6;
	font: bold 11px tahoma;
	padding: 5px;
	text-align: center;
}
#content-shopping-cart-detail td label
{
	text-align: center;
}
#content-shopping-cart-detail .productnameCart
{
	/*color: #660000;*/
	font: bold 11px tahoma;
}
#content-shopping-cart-detail .remark
{
	color: #ae6262;
	font: normal 10px tahoma;
	margin: 5px 0;
}
#content-shopping-cart-detail .remark span
{
	font: bold 10px tahoma;
}
#content-shopping-cart-detail a
{
	color: #00a1cd;
	font: normal 10px tahoma;
	text-decoration: none;
}
#content-shopping-cart-detail a:hover
{
	color: #4479A3;
	font: normal 13px tahoma;
	text-decoration: underline;
}

#content-shopping-cart-detail table a, #cart-for-merge a
{
	color: #4479A3;
	font: bold 13px tahoma!important;
	text-decoration: none;
}

#content-shopping-cart-detail table a:hover
{
	text-decoration: underline;
}
#content-shopping-cart-detail ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#content-shopping-cart-detail li
{
	margin: 0px 0px;
}
.margin-top-10
{
	margin-top: 10px;
}
.margin-top-4
{
	margin-top: 4px;
}
.font-11
{
	font-size: 11px;
}
#total
{
	float: right;
	width: 450px;
}
#total span
{
	display: inline-block;
	font: bold 12px tahoma;
	text-align: right;
	width: 80px;
}
#total label
{
	display: inline-block;
	width: 270px;
}
.alert
{
	font: bold 11px Tahoma;
}
#btn
{
	clear: both;
	height: auto;
	overflow: hidden;
	padding-top: 10px;
}
#content-shopping-cart-detail td
{
	border: solid 1px #c5c5c5;
	padding:5px;
	color: #666666;  
}
#content-shopping-cart-detail input[type="text"], #quickinfo-content input[type="text"]
{
    margin-left: 0px;
    width: 35px !important;
    margin-bottom:15px;
    margin-top:10px;
    text-align:center;
}
/*
#content-shopping-cart-detail input[type="text"], #quickinfo-content input[type="text"]
{
	background-image: url(/images/bg_input_cart.jpg);
	background-repeat: no-repeat;
	border: 0px;
	height: 22px;
	padding: 1px 1px 0 2px;
	width: 36px;
}
*/
#content-product-summary-add2cart-detail input.input-qty
{
	background-image: url(/images/bg_input_cart.jpg);
	background-repeat: no-repeat;
	border: 0px;
	height: 21px;
	text-align: center;
	width: 31px;
}
/*#checkout-shipping input[type="submit"], #EditContact input[type="submit"], #checkout-shipping-addContact-addset input[type="submit"], #EditCustomerShipping input[type="submit"], #checkout-shipping-addshipping-addshippingset input[type="submit"],  #checkout-shipping-addshipping-addshippingset label[type="submit"], .btn_submit, #checkout-shipping-editcontact-editset label[type="submit"], #checkout-shipping-editcontact-editset input[type="submit"], #profile-pic-preview input[type="submit"], #profile-pic-upload input[type="submit"], #profile-pic-upload input[type="button"], #content-MyProfile-PersonalInformation input[type="submit"], #ChangePassword input[type="submit"], #inform-payment input[type="submit"], #content-newsletter-manage input[type="submit"]
{
	background-image: url(/images/bg_input_submit.gif);
	border: solid 1px #d4d0c8;
	color: #535353;
	cursor: pointer;
	font: normal 11px tahoma;
	height: 23px;
	width: 62px;
	background-color:#dadada
}*/
/*.bg-AddShipping
{
	background-image: url(/images/bg_input_submit3.gif)!important;
	border: solid 1px #d4d0c8;
	color: #535353;
	cursor: pointer;
	font: normal 12px tahoma!important;
	height: 23px;
	padding-bottom: 6px;
	width: 120px!important;
	background-color:#dadada
}*/
/*.bg-AddShipping:hover
{
	background-image: url(/images/bg_input_submit_hover3.gif)!important;
	border: solid 1px #c4c4c4;
	color: #535353;
	font: normal 12px tahoma!important;
	width: 120px!important;
	background-color:#dbdfe8
}*/
/*#checkout-shipping input[type="submit"]:hover, #EditContact input[type="submit"]:hover, #checkout-shipping-addContact-addset input[type="submit"]:hover, #EditCustomerShipping input[type="submit"]:hover, #checkout-shipping-addshipping-addshippingset input[type="submit"]:hover, .btn_submit:hover, #checkout-shipping-editcontact-editset input[type="submit"]:hover, #profile-pic-preview input[type="submit"]:hover, #profile-pic-upload input[type="submit"]:hover, #profile-pic-upload input[type="button"]:hover, #content-MyProfile-PersonalInformation input[type="submit"]:hover, #ChangePassword input[type="submit"]:hover, #inform-payment input[type="submit"]:hover, #content-newsletter-manage input[type="submit"]:hover
{
	background-image: url(/images/bg_input_submit_hover.gif);
	border: solid 1px #c4c4c4;
	color: #535353;
	font: normal 11px tahoma;
	width: 62px;
	background-color:#dbdfe8
}*/
#header-welcome input[type="submit"]
{
	background: transparent;
	color: #007495;
	cursor: pointer;
	font: normal 12px tahoma!important;
	padding: 0px;
}
#header-welcome input[type="submit"]:hover
{
	text-decoration: underline;
}
.errormessage
{
	color: #C4484B;
	font: normal 10px tahoma;
}
#checkout-shipping-editcontact-editset #content-register-required-remark, #dialog-content fieldset, #EditContact #content-register-required-remark, #checkout-shipping-addContact-addset #content-register-required-remark
{
	margin: 0px;
}
#checkout-shipping-addContact-addset
{
	margin: 10px;
}
#EditContact div, #checkout-shipping-addContact-addset div, #EditCustomerShipping div, #checkout-shipping-addshipping-addshippingset div, #checkout-shipping-editcontact-editset div, #content-MyProfile-PersonalInformation div, #inform-payment div
{
	margin-bottom: 5px;
}
#content-cart-confirm #contact, #content-cart-confirm #shipping, #content-cart-confirm #payment-type
{
	margin: 0px 20px 10px 20px;
	padding: 10px 20px 10px 20px;
}
#content-cart-confirm label, #checkout-shipping-currentshippingdata label, #checkout-shipping-addContact-addset label, #checkout-shipping-addshipping-addshippingset label, #EditCustomerShipping label, #checkout-shipping-editcontact-editset label, #ChangePassword label
{
	display: inline-block;
	width: 120px;
}
#content-cart-confirm div, #ChangePassword div
{
	margin-bottom: 5px;
}
#checkout-shipping
{
	margin: auto;
	position: relative;
	width: 789px;
}
#checkout-shipping div
{
	margin-bottom: 5px;
}
#checkout-shipping p, #checkout-shipping-billingdata p, #checkout-shipping-contactdata p, #checkout-shipping-currentshippingdata p, #other-shipping p
{display:inline-block; width:130px}
#checkout-shipping p.show-shippingdata, p.show-contactdata, p.show-Billdata, #other-shipping p.show-other, #checkout-shipping-Orthershipping p.show-other
{ display:inline-block; width:540px!important}
.add-edit-content
{
	position: absolute;
	right: 30px;
	z-index:1
}
#checkout-shipping-billingdata
{margin: 0px 0px 10px 0px;
	padding: 10px 20px 10px 20px!important;}
#checkout-shipping-billingdata, #checkout-shipping-billingdata fieldset, #checkout-shipping-contactdata, #checkout-shipping-currentshippingdata, #checkout-shipping-Orthershipping, #checkout-shipping-contactdata fieldset, #checkout-shipping-currentshippingdata fieldset
{
	margin: 0px 0px 10px 0px;
	padding: 10px 20px 10px 20px;
}
#checkout-shipping-billingdata label, #checkout-shipping-contactdata label
{
	display: inline-block;
	width: 120px;
}
#checkout-shipping-billingdata span, #checkout-shipping-contactdata span
{
	margin-left: 5px;
}
#checkout-shipping-billingdata div.add-edit-content
{
	position: absolute;
	right: 30px;
	top: 25px;
}
#checkout-shipping-contactdata div.add-edit-content
{
	position: absolute;
	right: 30px;
	top: 175px;
}
#checkout-shipping-currentshippingdata div.add-edit-content
{
	position: absolute;
	right: 30px;
	top: 346px;
}
.for-btn
{
	height: auto;
	margin: 20px auto;
	overflow: hidden;
	width: 1003px;
}
table#selectshipping, table#selectcontact
{
	border: solid 1px #c4c4c4;
	font: 11px/14px tahoma;
	min-height: 400px;
}
table#selectshipping thead td, table#selectcontact thead td
{
	background-color: gray;
	color: White;
	padding: 3px;
}
table#selectshipping td, table#selectcontact td
{
	padding: 3px;
}
#total_net label, #total_delivery label, #total_ecoupon label, #total_amount label
{
	display: inline-block;
	text-align: right;
	width: 120px;
}
#total_net span, #total_delivery span, #total_ecoupon span, #total_amount span
{
	margin-left: 5px;
}
.delete-recal2
{
	clear: both;
	margin: 5px auto;
	width: 789px;
}

/*ViewCartCheckOut.aspx*/
div#content-cart-confirm
{
	padding-top: 5px;
	width: 1000px;
	margin: auto;
}
div#content-cart-confirm h3
{
	font: bold 13px tahoma;
	color: #880000;
	margin-bottom: 5px;
}
/*ShippingNotMember.aspx*/
div#checkout-shippingnotmember
{
	padding-top: 5px;
	width: 765px;
	margin: auto;
}
div#checkout-shippingnotmember > h3
{
	padding-left: 20px;
}
fieldset#checkout-shippingnotmember-billingdata > legend, fieldset#checkout-shippingnotmember-contactdata > legend, fieldset#checkout-shippingnotmember-shippingdata > legend
{
	/*display :none;*/
}


#checkout-shippingnotmember h3
{
	font: bold 13px tahoma;
	color: #880000;
	margin-bottom: 5px;
}
#ShipAddr4{width:75px;border-right:solid 1px #c5c5c5}
#trackOrder-Tabs, #before-list
{
	margin:10px;
	display: inline-block;
}
#trackOrder-Tabs li
{
	display:inline; margin-right:20px; font-weight:bold; color:Maroon; 
}
#trackOrder-Tabs li 
{font-weight:bold; color:white;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
font-size:12px;
	/* basic */
	background-color: #bebebe;
	margin: 0 auto;
	min-width: 450px;
	padding: 5px;
	text-align: left; /* border-radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; /* box-shadow */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
#trackOrder-Tabs li a.inactive {
	 color:#7f7f7f;
	 text-shadow: 0 -1px 1px rgba(0,0,0,0);
}
.orders-table-none
{ width:600px; text-align:center; border:solid 1px gray; padding:10px; margin-left:10px}
#detail-process
{ width:100%; border:solid 1px #c5c5c5}
#detail-process tr
{ background-color:White;}
#detail-process thead
{ background-color:#d8d8d8; font:bold 11px/14px tahoma }
#detail-process tr, #detail-process td, #detail-process th
{ padding:5px; border:solid 1px #c5c5c5;  white-space : nowrap;
}
.show-contact
{float: left; width: 270px; margin: 20px 5px}
.show-shipping
{float: left; width: 250px; margin: 20px 5px; padding-left: 10px; padding-right: 10px;
		border-left: dashed 1px gray; border-right: dashed 1px gray}
.show-invoice
{float: left; width: 250px; margin: 20px 5px}
.show-confirm-content{display: inline-block; max-width: 200px;}

.btn-myquotation
{
background-color:Transparent;
background-image:url(/images/btn/btn_myquotation.png);
background-repeat:no-repeat;
border:none;
width:102px;
height:28px;
cursor:pointer
}
.btn-myquotation:hover
{
	background-color:Transparent;
	background-image:url(/images/btn/btn_myquotation_hover.png);
	background-repeat:no-repeat;
	border:none;
	width:102px;
	height:28px
}
.btn-Create-Wish-List
{
	font:normal 11px tahoma;
	background-color: #e1803c;
	border: 1px solid #EC934C;
	color: white;
	cursor: pointer;
	padding: 3px;
	font-weight:bold
}
.btn-Create-Wish-List:hover
{
	background-color: #d06620;
	border: 1px solid #d06620;
}
.btn-Add-Product, .btn-delete-Product, .btn-Save-Wish-list, .btn-Add-Product-to-list, .format-btn
{
	font:normal 11px tahoma;
	background-color: #dadada;
	border: 1px solid #c5c5c5;
	color: gray;
	cursor: pointer;
	padding: 3px;
	font-weight:bold
}
.btn-Add-Product, .btn-delete-Product
{
	margin:10px 0px 0px 125px
}
.btn-Save-Wish-list, .btn-Add-Product-to-list
{
	margin:10px 0px 0px 130px
}
.btn-Add-Product:hover, .btn-delete-Product:hover, .btn-Save-Wish-list:hover, .btn-Add-Product-to-list:hover, .format-btn:hover
{
	background-color: #c5c5c5;
	border: 1px solid #c5c5c5;
}
#frmAddByPId
{
	padding-top:10px
}
a.active-link
{
	color: Maroon;
	text-decoration: none;
	font-weight: bold;
}
a {
	color: #007495;
	text-decoration: none;
}