﻿
div.content
{
	width: 360px;
	background-color: #ccc;
	border: 1px dotted #333;
	padding: 4px;
	margin: 0px auto;
}
div.row {
  clear: both;
  padding-top: 5px;
  }

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

div.row span.formw {
  float: right;
  width: 235px;
  text-align: left;
  } 
 div.row input.button
 {
 	 float:right;
 	 text-align: right;
 }