﻿/* Nav Menu */

.sidemenu { margin: 0 auto; width:200px; background:tranparent; height:35px; float:left; margin-left:10px;position:absolute; margin-top:80px;font-size:12px; font-weight:normal;}
.sidemenu ul { list-style:none;float:left; margin-top:25px; border-left:3px solid #D0DAE3; border-right:3px solid #D0DAE3; border-bottom:3px solid #D0DAE3;}
.sidemenu ul li{  list-style:none;color:#000000; height:30px; background-color:#FFFFFF; }
.sidemenu ul li a  
{
	list-style:none; color:#000000; text-decoration:none; 
  list-style:none;
 padding: 10px 10px 10px 20px;
 border-left:solid 1px transparent;
 border-right:solid 1px transparent;
                    }
.sidemenu ul li a:hover{ list-style:none; color:#41789c;}


.sidemenu ul li a.m1 {
background:url('../images/theme/sideicon-canteen.gif') no-repeat 5px center; padding: 10px 10px 10px 20px;}
.sidemenu ul li a.m2 {
background:url('../images/theme/sideicon-canteen.gif') no-repeat 5px center;padding: 10px 10px 10px 20px;}
.sidemenu ul li a.m3 {
background:url('../images/theme/sideicon-canteen.gif') no-repeat 5px center;padding: 10px 10px 10px 20px;}
.sidemenu ul li a.m4 {
background:url('../images/theme/sideicon-canteen.gif') no-repeat 5px center;padding: 10px 10px 10px 20px;}
.sidemenu ul li a.m5 {
background:url('../images/theme/sideicon-canteen.gif') no-repeat 5px center;padding: 10px 10px 10px 20px;}
.sidemenu ul li a.m6 {
background:url('../images/theme/sideicon-canteen.gif') no-repeat 5px center;padding: 10px 10px 10px 20px;}
.sidemenu ul li a.m7 {
background:url('../images/theme/sideicon-canteen.gif') no-repeat 5px center;padding: 10px 10px 10px 20px;}


.sidemenu ul > li.dropdown > a { margin-left:220px;}
.sidemenu > li.dropdown:hover > a {
	background: #000000 url(../assets/arrow-down-white.gif) no-repeat center right;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	/**/
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	color:#F60;
	padding: 9px 34px 9px 19px;
}
.sidemenu > li.dropdown li.dropdown > a {
	background: url(../assets/arrow-right-gray.gif) no-repeat center right;
}
.sidemenu > li.active > a, .sidemenu > li.active > a:hover {
	color: #FFF; /* active color: #999999; */
	/*Lin add*/
	border:#FFF 1px solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*border-radius*/
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	/**/
}






