﻿body
{
	margin: 0;
	padding: 0;
	font-family: MS Sans Serif, arial, verdana, Tahoma, hevetica, sans-serif;
	font-size: 8pt;
	color: #444444;
	background-color: White;
}

table, th, td
{
	font-family: MS Sans Serif, arial, verdana, Tahoma, hevetica, sans-serif;
	font-size: 8pt;
	color: #444444;
}


form
{
	margin: 0;
	padding: 0;
}

input, select, textarea
{
	margin: 0;
	font-family: MS Sans Serif, arial, verdana, tahoma, hevetica, sans-serif;
	font-size: 8pt;
	color: #333333;
}

.h1
{
	font-size: 10pt;
	border-bottom: darkgray 1pt solid;
	font-family: Microsoft Sans Serif;
	color: royalblue;
}

.catlink_over
{
	background-color: lightgrey;
	border-bottom: gray 1pt solid;
	cursor: hand;
	padding: 3px 3px 3px 3px;
	text-decoration: underline;
}

.catlink_out
{
	padding: 3px 3px 3px 3px;
	border-bottom: gray 1pt solid;
}

a
{
	color: #ff6600;
	text-decoration: underline;
}

a:hover
{
	color: #666666;
	text-decoration: none;
}
a:active
{
	color: #999999;
}

a:visited
{
	color: #ff3300;
}

ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

img
{
	border: 0px none;
}

.lite
{
	color: #888888;
}

.grid
{
	margin: 5px;
}

.gridskin_head
{
	padding: 0p 5px 0px 5px;
	background-color: lightblue;
}

.gridskin_row
{
	padding: 0p 5px 0px 5px;
}


.editor
{
	color: #444444;
	font-family: MS Sans Serif, Verdana, Tahoma;
	font-size: 10pt;
}
.hilight
{
	color: #ff6600;
	font-family: MS Sans Serif, Verdana, Tahoma;
	font-size: 8pt;
	font-weight: bold;
}
.cute
{
	color: #666666;
	font-family: Tahoma, MS Sans Serif, MS Sans Serif, Verdana;
	font-size: 10px;
}
.cute2
{
	color: #ff6600;
	font-family: Tahoma, MS Sans Serif, MS Sans Serif, Verdana;
	font-size: 10px;
}
.head
{
	color: #555555;
	font-family: MS Sans Serif, Tahoma,MS Sans Serif, Verdana;
	font-size: 10pt;
	font-weight: bold;
}
.head2
{
	color: #777777;
	font-family: MS Sans Serif, Verdana;
	font-size: 10pt;
	font-weight: bold;
}
.mrpoint
{
	color: #111111;
	font-family: MS Sans Serif, Tahoma,MS Sans Serif, Verdana;
	font-size: 20pt;
	font-weight: bold;
}

.input_post
{
	border: 1px solid #88aacc;
	color: #333333;
	font-family: MS Sans Serif, Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #ddeeff;
	font-size: 8pt;
	scrollbar-arrow-color: #eeeeee;
	scrollbar-base-color: #666666;
	scrollbar-face-color: #666666;
	scrollbar-3dlight-color: #777777;
	scrollbar-shadow-color: #333333;
	scrollbar-darkshadow-color: #333333;
	scrollbar-track-color: #444444;
	scrollbar-base-color: #444444;
	align: right;
}

.input_quan
{
	border: 1px solid #666666;
	color: #666666;
	font-family: MS Sans Serif, Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #f9f9f9;
	font-size: 10px;
	text-align: center;
}
.input_send
{
	border: 1px solid #ff6600;
	color: #666666;
	font-family: MS Sans Serif, Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #f4f4f4;
	font-size: 10px;
}
.input_mail
{
	border: 1px solid #aaaaaa;
	color: #000000;
	font-family: MS Sans Serif, Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #ffffff;
	font-size: 8pt;
}
.input_search
{
	border: 1px solid #bbbbbb;
	color: #ffffff;
	font-family: MS Sans Serif, Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #888888;
	font-size: 8pt;
}
.input_member
{
	font-family: Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #ffffff;
	font-size: 10px;
	text-align: left;
}
.input_contact
{
	border: 1px solid #666666;
	color: #666666;
	font-family: MS Sans Serif, Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #f4f4f4;
	font-size: 10px;
}
.input_mr
{
	border: 1px solid #ff99cc;
	color: #666666;
	font-family: MS Sans Serif, Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #f4e8f0;
	font-size: 10px;
}

.input_button1
{
	border: 1px solid #ffffff;
	color: #ff6699;
	font-weight: bold;
	font-family: MS Sans Serif, Tahoma;
	background-color: #ffffff;
}
.input_button2
{
	border: 1px solid #555555;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	font-family: MS Sans Serif, Arial, Verdana,MS Sans Serif,Tahoma;
	background-color: #66aaff;
}
.input_button3
{
	border: 1px solid #ffffff;
	color: #ff6699;
	font-weight: normal;
	font-family: MS Sans Serif, Tahoma;
	background-color: #ffffff;
	font-size: 8pt;
}
.input_button4
{
	border: 1px solid #ff8000;
	color: #ff8000;
	font-size: 10px;
	font-weight: normal;
	font-family: MS Sans Serif, Arial, Tahoma, Verdana,MS Sans Serif,Tahoma;
	background-color: #ffffff;
}

.img1
{
	background-color: #EFF1D5;
	border: 1 solid #ff6600;
}
.img2
{
	background-color: #DDDDDD;
	border: 0 solid #DDDDDD;
}
.img3
{
	background-color: #ffffff;
	border: 1 solid #cccccc;
}


/* HEADER
----------------------------------------------- */



#header select
{
	width: 160px;
}

option.c1
{
	background-color: #ff9900;
	color: #FFFFFF;
}

option.c2
{
	background-color: #EFF1D5;
}


#header input
{
	width: 43px;
	margin-right: 6px;
}


#header input.ok
{
	margin-right: 0px;
	width: 20px;
}


#logo
{
	padding-top: 55px;
	width: 170px;
}


#adinfolink
{
	margin-bottom: 5px;
}


#topnav
{
	float: right;
	width: 468px;
}


#banner
{
	text-align: right;
}


#jump
{
	margin: 7px 0px 5px 0px;
}


#login
{
	float: right;
	margin-top: 7px;
	width: 220px;
}


#loginimg
{
	float: right;
	margin-right: 5px;
	height: 20px;
}


#loginform
{
	float: right;
	height: 20px;
}

.UpdateProgress
{
	top: 0px;
	left: 0px;
	position: absolute;
}
