﻿
/*.epro-topemenuepro { margin: 0 auto; width:950px; background:#FFF url(/images/index/menu-help.jpg); background-repeat:no-repeat; width:950px; height:73px;}
#epro-body{margin-top: 0 !important; padding: 0; background:#FFFFFF url(/images/index/backgroud-Head.jpg); background-repeat:no-repeat; 
background-position:top; margin-bottom:0 !important; font-family:Tahoma;}*/

html p, ol,a
{
    font-size: 13px;
    font-family: arial,sans-serif;
}
h2
{
    font-size: 16px;
    line-height: 1.56;
}
h1
{
    font-size: 21px;
}
ul, ol
{
    margin: 10px 10px 10px 30px;
    padding: 0;
}
html
{
    color: #444444;
}
ol
{
    list-style-type: decimal;
}
li
{
    display: list-item;
}
a:focus, a:hover, a:active
{
    text-decoration: underline;
}
a
{
    color: #1155CC;
    text-decoration: none;
}
a:visited
{
    color: #551A8B;
}
/*div.margin
{
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 447px;
    margin-left: 447.5px;
}*/
.epro-topemenuepro { margin: 0 auto; width:950px; background:#FFF url(/images/index/menu-help.jpg); background-repeat:no-repeat; width:950px; height:73px;}
#maia-nav-x {
    background: -moz-linear-gradient(center top , #6C7A95 0px, #4D5B76 45px, #E5E5E5 46px, #F7F7F7 47px, #FFFFFF 48px) repeat-x scroll center top #6C7A95;
    padding: 0 15px;
}
.maia-aux {
    margin: auto;
    max-width: 978px;
}
.left
{
	float:left;
}

/*****Banner Hover****/
a.ofmBanner { float:right;width:230px; height:104px; background:url(/images/index/OFM-Banner.jpg) no-repeat; border:none;}
a.ofmBanner:hover{float:right;background:url(/images/index/OFM-Banner2.jpg) no-repeat; border:none;}

a.TDBanner { float:right;width:230px; height:104px; background:url(/images/index/TD-Banner.jpg) no-repeat; border:none;}
a.TDBanner:hover{float:right;background:url(/images/index/TD-Banner2.jpg) no-repeat; border:none;}

a.TDprintBanner { float:right;width:230px; height:104px; background:url(/images/index/TdPrint-Banner.jpg) no-repeat; border:none;}
a.TDprintBanner:hover{float:right;background:url(/images/index/TdPrint-Banner2.jpg) no-repeat; border:none;}

a.TDreward { float:right;width:230px; height:104px; background:url(/images/index/Td-Reward-Banner.jpg) no-repeat; border:none;}
a.TDreward:hover{float:right;background:url(/images/index/Td-Reward-Banner2.jpg) no-repeat; border:none;}

/*****Footer****/
.footer_repeat { width:100%; background:url(/images/index/Footer-bottom.jpg) center top no-repeat; height:108px; margin:0; padding:0;
background-position:bottom;}
