﻿#form-search
{
	/*background: url('/images/bg_search_left.gif') no-repeat;*/
    height: 35px;
    padding: 18px 186px 0 105px;
    position: relative;
}

#form-search-label
{
	color: #909090;
	font: bold 14px tahoma;
	position: absolute;
	top: 20px;
	left: 42px;
}
#form-search-label img
{
	 vertical-align:middle;
	 padding-bottom:2px
}
#form-search-scope
{
    background-color: #F2F2F2;
    border: 1px solid #CACACA;
    font: 13px tahoma;
    height: 23px;
    padding: 3px;
    position: absolute;
    right: 150px;
    top: 20px;
    width: 180px;
}
#form-search-keyword-input
{
    background-image: url("/images/icon/icon_keyb.gif");
    background-position: 2px 50%;
    background-repeat: no-repeat;
    border: 1px solid #DDDDDD;
    font: 13px tahoma;
    height: 23px;
    margin: 0;
    padding-left: 40px;
    width: 100%;
    color:#666666;
}

#form-search-button
{
	position: absolute;
	top: 18px;
	right: 108px;
}
#formComment img
{
	width: 66px;
}
#SearchForm
{
	width: 980px;
	margin: auto;
}
#SearchForm label
{
	width: 80px;
	text-align: left;
	display: inline-block;
}
#SearchForm fieldset div
{
	width:310px;
	margin:10px auto;
}
#product-wishlist-ul form
{
	position:relative
}
.form-validation p
{
	font:16px tahoma;
	background-color:#C4484B;
	color:White;
	padding:5px;
	width:130px
}

.field-validation-error
{
	color: #C4484B;
	font: normal 12px tahoma;
}

fieldset#content-register-account label.form-validation, fieldset#content-register-profile label.form-validation, div#content-register-newsandagreement-agreement-checkbox label.form-validation
{
	text-align: left;
	color: #C4484B;
	font: normal 10px tahoma;
}
label
{
	display:inline-block;
	width:120px;
	vertical-align:top
}
#inform-payment
{
	color: #676767;
	font: normal 13px/16px tahoma;
	margin-left:10px;
	width:650px
}

#inform-payment input[type="file"]
{
	background-color: rgb(245, 245, 245); border: 1px solid rgb(200, 200, 200); font: 13px tahoma; margin-left:5px
}
#PaymentRemark
{
	background-color: rgb(245, 245, 245); border: 1px solid rgb(200, 200, 200);margin-left:5px; width:200px; height:100px; padding:5px;color: #676767;
	font: normal 13px/16px tahoma;
}
.btn-update-page
{
	background-color: Transparent;
	background-image: url("/images/btn/btn_post_comment.png");
	border: 0 none;
	color: #676767;
	cursor: pointer;
	font: 13px tahoma !important;
	height: 26px;
	width: 79px;
}
#ProvinceSelected, #ProvinceEditProfileSelected{ margin-left:5px; color:#676767}
#checkout-shipping-StatusMessage
{
	font:normal 13px tahoma;
	color:#c4484b;
	margin-left:10px
}
/*CatalogRegister*/
#CatalogRegister
{
 font:normal 13px tahoma;
 width:760px;
 margin:15px auto;
 padding:20px;
 background-color:#f7f7f7;
 border:solid 1px gray
}
#CatalogRegister strong
{
	color:#353f62
}

#CatalogRegister-box1 label, #CatalogRegister-box2 label
{
	width:100px;
	vertical-align:middle!important
	
	
}
#CatalogRegister-box1
{
	margin-bottom:20px
}

#CatalogRegister-box1 #address1 input[type="text"]
{
	width:320px	
}
#CatalogRegister-box1 div, #CatalogRegister-box2 div
{
 margin-bottom:2px
 
}

#CatalogRegister-box1 #address input[type="text"]
{
	width:auto!important
}
.CatalogRegister-box2-inside
{
	margin-bottom:15px!important
}
#CatalogRegister .border
{
	border-bottom-color: #e6e6e6;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-left-color: #e6e6e6;
	border-left-style: solid;
	border-left-width: 5px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
	border-right-width: 5px;
	border-top-color: #e6e6e6;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 5px;
	padding: 10px;
	-moz-border-radius: 5px;
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
	margin: auto;
}
#CatalogRegister .bg_fac
{
 background-color:#f7cf48;
 border:none;
 text-align:center
}