﻿*:first-child+html #header /*hack ie7*/
{ z-index:2}
*:first-child+html #checkout-shipping p, *:first-child+html p.show-contactdata, *:first-child+html p.show-Billdata /*hack ie7*/
{display:inline}
*:first-child+html #content-department.three-columns /*hack ie7*/
{margin-top:0px}
*:first-child+html #content-trendymaster-left-panel /*hack ie7*/
{ z-index:1 }
*:first-child+html #comment-product textarea /*hack ie7*/
{}
*:first-child+html #content-department-deptlist /*hack ie7*/
{min-width:450px}
 
html > body #content-home-show #ecoupon .radius-ecoupon ul li /*hack ie*/
{
min-height: auto;
}
*:first-child+html #sort-type /*hack ie7*/
{
margin-right: 150px!important;
padding-top: 1px;
position:absolute;
right:10px
}
*:first-child+html div#searchresult-right-panel ol li /*hack ie7*/
		{
			display: inline-block;
			margin: 15px 5px;
			min-height: 200px;
			min-width: 140px;
			vertical-align: top;
			width: 150px;
			zoom: 1; *display:inline;
			_height:250px;
		}
/**:first-child+html ul#trendymenu ul
{
	background-image: url(sub.gif);
	background-position: 100% center;
	border: none;
	left: 7px;
	padding: 0 7px 7px 0;
	position: relative;
	top: 7px;
	min-width:200px;
	display:block
}*/

