﻿#content-home-inner h1
{
font-size:11px;
display:inline;
font-weight:bold
}
#content-home-inner h2
{
	display:inline;
}
#content-home.index-three-columns
{
	margin-top: 13px;
	min-height: 2900px;
	min-width: 462px;
	margin-left: 215px;
	padding-right: 265px;
	position: relative;
}
/*#content-home.index-three-columns*/ #content-trendymaster-left-panel
{
	left: 7px;
	position: absolute;
	top: -12px;
	width:200px;float:left
}
#content-home.index-three-columns #content-home-right-panel
{
	overflow: hidden;
	position: absolute;
	right: 7px;
	top: 0px;
	width: 250px;
}
#content-home.index-three-columns #content-home-right-panel > img, #content-home-left-panel > img, #content-home.index-three-columns #content-home-left-panel #trendymenu
{
	margin-bottom: 10px;
}
#EditContact label
{
	display: inline-block;
	width: 80px;
}
#view-order
{
	border: solid 1px #d4d0c8;
	margin: auto;
	padding: 10px;
	width: 960px;
}
.profile #view-order
{
	width: 90%!important;
}
#view-order p
{
	margin-bottom: 0px;
}
#view-order label
{
	display: inline-block;
	width: 80px;
}
#view-order span
{
	margin-left: 10px;
}
#view-order strong
{
	display: block;
	font-size: 13px;
	margin-bottom: 8px;
}
#content-activate h2
{
	text-align: center;
}
.delete-recal
{
	clear: both;
	margin: 5px auto;
	width: 950px;
}
#magazine
{
	overflow:hidden;
	margin:15px auto
}
#magazine div
{
	border-bottom:dashed 1px gray;
	padding-bottom:10px;
	margin-bottom:5px
}
#magazine img
{
	margin-right:5px
}
#Home-Comment
{
	margin-top:20px;
	border:solid 1px #ddd;
	padding: 5px;
}
#Home-Comment .quote
{
	display:none;
	
}
#Home-Comment-block
{
	/*display:inline-block;*/
	border-top:dashed 1px #ddd;
	padding:10px 0px;
	
}
#Home-Comment-block-image
{
	width:75px;
	float:left;
}
#Home-Comment-block-text
{
	width: 150px;
	margin-left:8px;
	margin-bottom:5px;
	float:left;
}
#Home-Comment-block-text-CreateBy
{
	font: bold 11px tahoma
}
#Home-Comment-block-text-CreateBy span
{
	color: #008080
}
#Home-Comment-block-text-Content
{
	padding-top: 10px;
	clear:both
	font: bold 10px tahoma;
}
.Home-Comment-block-text-Date-time
{
	font-size:10px
}
#Banner-Section
{
	width: 200px;
	padding-top:10px;
	float:none;
}
#your-style-recommend .product-infomation-description,#promotion-home .product-infomation-description{display:none}