﻿@import url("/css/home.css");
@import url("/css/form.css");
@import url("/css/botton.css");
@import url("/css/global_HACK.css");

body
{
    font: normal 11px/14px Tahoma;
    color: #000000;/*color: #676767;*/
}
/****FONT ******/
#product-history a, a:active, a:visited { text-decoration:none; color:#007495;}

#product-history a:hover {text-decoration:underline; color:#039; }



/****** Detail.Nomal Page *****/
.buy-trendyday {background-image: url(/images/icon/icon_buy_trendyday.jpg);
		background-repeat: no-repeat;
		padding-left: 25px;
	}
#content-product-Question textarea{margin-left: 0px;}

#dialog-background
		{
			position: absolute;
			top: 0;
			left: 0;
			min-height: 100%;
			width: 100%;
			background: Black;
			z-index: 2;
			filter: alpha(opacity=60);
			opacity: 0.6;
		}
#dialog-content
		{
			z-index: 3;
			position: absolute;
			min-width: 500px;
			max-height: 500px;
			overflow: auto;
			top: 0;
			left: 0;
			border-bottom-color: #e6e6e6;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			border-bottom-style: solid;
			border-bottom-width: 6px;
			border-left-color: #e6e6e6;
			border-left-style: solid;
			border-left-width: 6px;
			border-right-color: #e6e6e6;
			border-right-style: solid;
			border-right-width: 6px;
			border-top-color: #e6e6e6;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			border-top-style: solid;
			border-top-width: 6px;
			padding: 10px;
			-moz-border-radius: 6px;
			font: normal 13px/16px tahoma;
			color: #676767;
			background-color: #eaeaea;
		}
#dialog-loading
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 220px;
			height: 19px;
			background: url('/images/icon_loader.gif') no-repeat center;
		}
.style1
		{
			width: 400px;
			vertical-align: top;
			padding-left: 10px;
			height: 48px;
		}
.style2
		{
			vertical-align: top;
			padding-left: 10px;
			padding-right: 0px;
			height: 48px;
			width: 680px;
		}

/******************* product-history ******************************************/			
#product-history {
    border-color: #ECEFF2;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 5px;
    clear: both;
    height: 220px;
    margin: auto;
    overflow: hidden;
    padding: 5px;
    width: 98%;
}	
#product-history h3 {
    border-bottom: 1px solid #D0DAE3;
    color: #032360;
    font: bold 17px/19px tahoma;
    padding-bottom: 5px;
}

#product-history ul li , product-related
{
    width: 164px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px;
    zoom: 1; *display:inline;
height:250px;
}


#product-history img { width: 80px; height: 80px;}

#product-history ul li .product-action{display: none;}

#product-history
{
    border-bottom-color: #ECEFF2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #ECEFF2;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #ECEFF2;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #ECEFF2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 5px;
    padding: 5px;
    -moz-border-radius: 5px;
    height: 200px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    width: 98%;
    margin: auto; position:relative;
}
#Relate
{
    border-bottom-color: #e6e6e6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #e6e6e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 5px;
    padding: 10px;
    -moz-border-radius: 5px;
    height: 200px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    width: 90%;
    margin: auto; *position:relative
}

#product-history .product-infomation-name a, #product-history .product-infomation-price
{
    font: normal 11px tahoma;
}
/*add*/
#product-history .product-infomation-price{margin-top:10px; font-size:13px; color:red}
#product-history .product-infomation-description, #searchresult-right-panel .product-infomation-description, #personalize-most-view-dept .product-infomation-description
{
    display: none;
}

#product-history img.lookinside
{
    width: 100px;
    height: 25px;
}
#product-history img.promotion
{
    width: 74px;
    height: 33px;
}
#product-history ul
{
    width: 99%;
    height: 180px;
    overflow: hidden;
    margin: auto;
}


#content-department-dept-show ul li, #product-history ul li, #content-product-similar-inbrand ul li, #content-product-related ul li, #content-product-similar ul li, #content-product-related-dept ul li, #content-product-list ul li, #product-cart-recommend ul li, ul#content-department-product-list.thumbnail > li, #SearchForm div.ink_result ul li, #content-product-alsobought ul li, #content-home-show ul li
{
    width: 150px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
    zoom: 1; *display:inline;
_height:250px;
}


/* PRODUCT - HISTORY*/
#top-page-product-history ul li
{
    width: 80px;
    min-height: 80px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
    zoom: 1; *display:inline;_height:250px;}
#top-page-product-history img
{
    width: 75px;
    height: 75px;
}
#top-page-product-history
{
    padding: 5px;
    height: 120px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    width: 98%;
    min-width: 380px;
    margin: auto; *position:relative}
#top-page-product-history .product-infomation-name a, #top-page-product-history .product-infomation-price
{
    display: none;
}
#top-page-product-history .product-infomation-description
{
    display: none;
}
#top-page-product-history img.lookinside
{
    width: 100px;
    height: 25px;
}
#top-page-product-history img.promotion
{
    width: 40px;
    height: 17px;
}
#top-page-product-history ul
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin: auto;
    float: left;
}
#top-page-product-history ul li .product-action
{
    display: none;
}

#product-history h3
{
}
#product-history img
{
    width: 80px;
    height: 80px;
}
#product-history ul li .product-action
{
    display: none;
}

.box-border-format
{
    border-bottom-color: #e6e6e6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #e6e6e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 5px;
    -moz-border-radius: 5px;
    min-height: 200px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    width: 98%;
    margin: auto; *position:relative
}
/* END PRODUCT - HISTORY*/
#product-description h3
{
    font: bold 16px tahoma;
    color: #444444;
    text-align: left;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   /* background-image: url("/images/theme/mce-signoff.png");
    background-repeat: no-repeat;*/
    background-color: #eceff2;
    margin: 10px 0;
}
#product-description ul li
{
    list-style-type: disc;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 18px;
    color: #676767;
    margin-left: 20px;
}
#product-description h4 { font: bold 13px tahoma;}

#product-description ul, #content-product-description p
{
    margin: 10px 20px;
}
#product-description
{
    font: normal 13px tahoma;
    margin: 10px;
}

.table-layout
{
    width: 100%;
    margin-top: 13px;
    margin-bottom: 10px;
}
.table-layout-column-center
{
    vertical-align: top;
    padding-left: 10px;
    padding-right: 15px;
}
.table-layout-column-left
{
    width: 202px;
    vertical-align: top;
    padding-left: 10px;
}
.table-layout-column-right
{
    width: 250px;
    vertical-align: top;
    padding-right: 7px;
}
.table-layout-product-column-center
{
    vertical-align: top;
    padding-left: 10px;
    padding-right: 0px;
}
.table-layout-product-column-left
{
    width: 400px;
    vertical-align: top;
    padding-left: 10px;
}
.table-layout-product-column-right
{
    width: 200px;
    vertical-align: top;
    padding-right: 10px;
}

#content-product-summary-picture
{
    width: 350px;
}
#content-product-gallery-detail
{
    list-style: none;
}
#content-product-gallery-detail img
{
    width: 70px;
    height: 70px;
    border: 1px solid rgb(230, 194, 195);
}
#content-product-gallery-detail li
{
    display: inline;
}

/*input style*/

.contentbox input[type="text"], .contentbox input[type="text"], .contentbox input[type="password"] {
    margin-left: 10px;
    width: 50px !important;
    margin-bottom:15px;
  
}

.contentbox label
{
    display: inline-block;
    width: 30px;
    text-align: left;
}



/********Lin Content Design ************************/

.heading { 
background:url(../images/theme/top-side-title.jpg) repeat-x top; 
color:#FFF; 
height:40px; 
font:tahoma; font-weight:bold; font-size:14px;
margin-top:0 !important;  padding-left:10px; padding-top:10px;
-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px; 
}
 .heading h3  { color: #FFFFFF; font:tahoma; font-weight:bold; font-size:15px; padding-top: 10px;}

 
.contentbox { 
border: 1px solid #fff; 
padding:10px; 
background: #fff url(/images/theme/inner-bg-gray.jpg) repeat-x top;
margin-top:-16px;
border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; 
border:2px solid #D0DAE3; 
min-height:50px;}

.RightColumn { width:250px; float:right; margin-right:10px;}

.side-inner { height:auto;min-height:30px; margin-top:0px; padding-top:0; padding-left:10px; padding-right:5px; }

.adminbox { padding:10px 0px 5px 0px; width:100%;}
.box_white p { padding:10px 5px 5px 0px;}
.img50 { width:50px; height:50px;}
.imgepro-left {float: left;margin-right:10px;margin-bottom: 20px;}
.imgborder {  border:2px solid #d7e0e5;  -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:5px !important;
	page-break-after:always;
	text-align:left;
	width:98%;
	clear:both;
	color:#d7e0e5;
	padding:0;
	background-color:#d7e0e5;
	background-repeat:repeat-x
}

/************* Content Center ****************************/
.centerColumn { width:100%; float:left;}

.headingCenter { 
background:url(/images/theme/top-side-title.jpg) repeat-x top; 
height:40px; 
margin-top:0 !important;  padding-left:10px; padding-top:10px;
-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px; 
}

h3  .headingCenter  { color: #00F; font:tahoma; font-weight:bold; font-size:14px; padding-top: 10px;}
