﻿
.icon-quicklook
{
	cursor:pointer;
	background: url('/images/btn/quickinfo.png') no-repeat left center;
	margin-top: 10px;
margin-bottom: 10px;
	/*margin-left:35px;*/
	height:20px;
	width:80px;
}
#dialog-quickinfo-background
{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	background: Black;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	z-index:4
}
#dialog-quickinfo-content
{
	position: absolute;
	width: 710px;
	min-height: 440px;
	overflow: auto;
	top: 0;
	left: 0;
	border-bottom-color: #e6e6e6;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 6px;
	border-left-color: #e6e6e6;
	border-left-style: solid;
	border-left-width: 6px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
	border-right-width: 6px;
	border-top-color: #e6e6e6;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 6px;
	padding: 10px;
	-moz-border-radius: 6px;
	font: normal 13px/16px tahoma;
	color: #676767;
	background-color: #eaeaea;
	margin-bottom: 10px;
	z-index:5
}
#dialog-quickinfo-loading
{
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 19px;
	background: url('/images/icon_loader.gif') no-repeat center;
	z-index:7
}
#dialog-quickinfo-close
{
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 34px;
	cursor: pointer;
	background: url('/images/btn/btn_close.png') no-repeat;
	z-index:6
}
.clickable
{
	cursor: pointer;
}
div#dialog-quickinfo-loadingpage
{
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 19px;
	z-index:8
}
#quickinfo-content-detail
{float:left; padding:15px}
#quickinfo-content-detail p
{ font:normal 11px tahoma; margin-bottom:3px}
#quickinfo-content-detail h1
{ margin-bottom:5px}
#quickinfo-product-image
{
background-color:White;
border:1px solid #B5B5B5;
float:left;
max-height:380px;
max-width:300px;
overflow:hidden;
}
#quickinfo-content-detail .price {color: rgb(204, 0, 0); font-size: 11px;}
#quickinfo-content-detail .sale-price{color:#CC0000;
font-size:16px;
font-weight:bold;}
#quickinfo-content #description{
border:solid 1px #b5b5b5; padding:5px; background-color:#dfdfdf}
#quickinfo-content #description ul li
{
	list-style-type: disc;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 18px;
	color: #676767;
	margin-left: 20px;
}
#product-name{border-bottom:1px solid #cccaca; padding-bottom:5px; margin-bottom:10px}

#quickinfo-product-gallery-detail
{
	list-style: none;
}
#quickinfo-product-gallery-detail img
{
	width: 70px;
	height: 70px;
	border: 1px solid rgb(230, 194, 195); 
}
#quickinfo-product-gallery-detail li
{float:left; margin:5px}

.add-to-cart-success
{width:322px;
height:22px;

background: url(/images/text-image/text_add_to_cart_success.gif) no-repeat center;
}
.add-to-wishlist-success
{width:383px;
height:23px;
background-position:center;
background-image:url(/images/text-image/text_add_to_wish_list.gif)
}
