﻿/*Elements CSS Framework by Ben Henschel*/
/*Mass Reset*/
/*Thanks to Eric for this reset http://meyerweb.com/eric/thoughts/2007/04/14/reworked-reset/ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, /*strong,*/ sub, sup, 
tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	border-style: none;
	border-color: inherit;
	border-width: 0;
	margin: 0;/*margin: 0 0 2px 0; Lin edit Layout Search bar */
	padding: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size:100%;
	vertical-align: baseline;
	list-style-type:none;
	
}
	
a img {border:none;}

table {border-collapse: collapse; border-spacing: 0;}
table.color td{ border:solid 1px #DCDCDC}
input{vertical-align:middle}
q:before, q:after, blockquote:before, blockquote:after {content: "";}
