﻿<head>
	<link rel="Stylesheet" type='text/css' media='all' href='http://www.officemate.co.th/eprocurement/css/epro4_email.css'>
	<style type="text/css">
		.style1
		{
			height: 17px;
		}
		.style2
		{
			text-align: center;
		}
		.style3
		{
			width: 80%;
			font-size: medium;
		}
		td
		{
			font-size: small;
		}
	</style>
</head>
<div class="style3">
	<table width="80%" border="0" cellpadding="0" cellspacing="0" style="border: solid 1px gray;
		padding: 5px">
		<tr>
			<td style="border-bottom: solid 1px orange">
				<img src="http://www.officemate.co.th/eProcurement/images/logo_epro_head.gif" alt="e-Procurement"
					border="0" style="float: left" />
			</td>
		</tr>
		<tr>
			<td>
				<br />
				<strong>เรียนคุณ</strong> [<^CurrentRequesterThaiName>]
				<br />
				<br />
				e-Procurement ได้จัดส่งสินค้าตามรายการที่สั่งซื้อของคุณเรียบร้อยแล้วค่ะ หากคุณ ได้รับสินค้าเป็นที่เรียบร้อยแล้ว
				<br />
				กรุณา [<^Model.ContentUrl>] เพื่อเป็นข้อมูลสำหรับตรวจสอบ และประเมินการให้บริการ
				ซึ่ง เจ้าหน้าที่จะนำไปปรับปรุงแก้ไขต่อไปค่ะ
				<br />
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<strong>เลขที่ใบสั่งซื้อ:</strong>[<^Model.OrderID>]
					<table>
						<tr>
							<td>
								<strong>ผู้สั่งซื้อ: </strong>
							</td>
							<td>
								[<^Model.Contact.ContactorName>]
							</td>
							<td>
								<strong>รหัสองค์กร: </strong>
							</td>
							<td>
								[<^Model.Company.CompanyId>]
							</td>
						</tr>
						<tr>
							<td>
								<strong>รหัสผู้ใช้งาน: </strong>
							</td>
							<td>
								[<^Model.Contact.Email>]
							</td>
							<td>
								<strong>ชื่อบริษัท:</strong>
							</td>
							<td>
								[<^Model.Company.CompanyName>]
							</td>
						</tr>
						<tr>
							<td>
								<strong>เบอร์โทรศัพท์: </strong>
							</td>
							<td>
								[<^Model.Contact.ContactorPhone>]
							</td>
							<td>
								<strong>ฝ่าย: </strong>
							</td>
							<td>
								[<^Model.Department.DepartmentID>]
							</td>
						</tr>
						<tr>
							<td>
								<strong>เบอร์มือถือ: </strong>
							</td>
							<td>
								[<^Model.Contact.ContactMobileNo>]
							</td>
							<td>
								<strong>หน่วยงาน/แผนก:</strong>
							</td>
							<td>
								[<^Model.CostCenter.CostCenterID>]
							</td>
						</tr>
						<tr>
							<td>
								<strong>เบอร์โทรสาร:</strong>
							</td>
							<td>
								[<^Model.Contact.ContactorFax>]
							</td>
							<td>
								<strong>วันที่สั่งซื้อ: </strong>
							</td>
							<td>
								[<^Model.OrderDate>]
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
							</td>
							<td>
								<strong>รหัสลูกค้า:</strong>
							</td>
							<td>
								[<^Model.CostCenter.CostCenterCustID>]
							</td>
						</tr>
						<tr>
							<td class="style1">
								<strong>ที่อยู่ใบกำกับภาษี:</strong>
							</td>
							<td class="style1">
								[<^Model.Invoice.Address1>]
							</td>
							<td class="style1">
								<strong>ที่อยู่จัดส่ง: </strong>
							</td>
							<td class="style1">
								[<^Model.Shipping.Address1>]
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
								[<^Model.Invoice.Address2>]
							</td>
							<td>
							</td>
							<td>
								[<^Model.Shipping.Address2>]
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
								[<^Model.Invoice.Address3>]
							</td>
							<td>
							</td>
							<td>
								[<^Model.Shipping.Address3>]
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
								[<^Model.Invoice.Address4>]
							</td>
							<td>
							</td>
							<td>
								[<^Model.Shipping.Address4>]
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
							</td>
							<td>
								<strong>ผู้ติดต่อ: </strong>
							</td>
							<td>
								[<^Model.Shipping.ShipContactor>]
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
							</td>
							<td>
								<strong>เบอร์มือถือ: </strong>
							</td>
							<td>
								[<^Model.Shipping.ShipMobileNo>]
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
							</td>
							<td>
								<strong>เบอร์โทรศัพท์:</strong>
							</td>
							<td>
								[<^Model.Shipping.ShipPhoneNo>]
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<table width="100%" border="1" cellpadding="0" cellspacing="0" style="border: solid 1px #c5c5c5">
						<tr>
							<td width="80" class="thead" align="center">
								<strong>รายการสินค้า</strong>
							</td>
							<td class="thead" align="center">
								<strong>รายการ </strong>
							</td>
							<td width="80" class="thead" align="center">
								<strong>ราคาสินค้า
									<br />
									(รวมภาษี) </strong>
							</td>
							<td width="80" class="thead" align="center">
								<strong>ราคาสินค้า
									<br />
									(ไม่รวมภาษี) </strong>
							</td>
							<td width="40" class="style2">
								<strong>จำนวน </strong>
							</td>
							<td width="40" class="thead" align="center">
								<strong>หน่วย</strong>
							</td>
							<td width="80" class="thead" align="center">
								<strong>(ราคาสุทธิ)
									<br />
									(ไม่รวมภาษี) </strong>
							</td>
						</tr>
						[<^Model.ContentOrderDetail>]
						<tr style="line-height: 25px">
							<td valign="top">
								<div align="center">
								</div>
							</td>
							<td valign="top">
								<div align="right">
									<strong>ราคาสุทธิ </strong>&nbsp;</div>
							</td>
							<td valign="top">
								<div align="center">
								</div>
							</td>
							<td valign="top">
								<div align="center">
								</div>
							</td>
							<td valign="top">
								<div align="center">
									<b>[<^Model.ItemCountOrder>]</b>
								</div>
							</td>
							<td valign="top">
								<div align="center">
									<b>ชิ้น</b></div>
							</td>
							<td valign="top">
								<div align="center">
									<b>[<^Model.TotalNetAmt>]</b>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<strong>รายการสินค้าที่สั่งซื้อ </strong>
					<div id="Div1" class=" margin-top-10 gray-m">
						<p style="text-align: right">
							<label>
								<strong>ค่าขนส่ง</strong></label>
							<span>[<^Model.TotalDeliveryFee>]</span>&nbsp;<strong>บาท</strong>
						</p>
						<p style="text-align: right">
							<label>
								<strong>ราคาสุทธิสินค้ายกเว้นภาษี</strong></label>
							<span>[<^Model.TotalPriceProductNoneVatAmount>]</span>&nbsp;<strong>บาท </strong>
						</p>
						<p style="text-align: right">
							<label>
								<strong>ราคาสุทธิสินค้าเสียภาษี</strong></label>
							<span>[<^Model.TotalPriceProductExcVatAmount>]</span>&nbsp;<strong>บาท </strong>
						</p>
						<p style="text-align: right">
							<label>
								<strong>ภาษีมูลค่าเพิ่ม 7%</strong></label>
							<span>[<^Model.TotalVatAmt>]</span>&nbsp;<strong>บาท</strong>
						</p>
						<p style="text-align: right">
							<label>
								<strong>จำนวนรวมทั้งสิ้น</strong></label>
							<span class="price" style="color: #CC0000; font-size: 13px; font-weight: bolder;">[<^Model.GrandTotalAmt>]</span>&nbsp;<strong>บาท</strong>
						</p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<br />
					<br />
					<u><strong>หมายเหตุอื่นๆ</strong></u>
					<br />
					<strong>ข้อความถึงผู้อนุมัติ: </strong>[<^Model.ApproverRemark>]
					<br />
					<strong>ข้อความถึงออฟฟิศเมท: </strong>[<^Model.OFMRemark>]
					<br />
					<strong>เลขที่เอกสารอ้างอิง(กรณีที่มี):</strong> [<^Model.GrandTotalAmt>]
					<br />
					<br />
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 5px; font: normal 11px/14px tahoma; color: #8d8d8d">
					<strong>บริษัท ออฟฟิศเมท จำกัด (มหาชน)</strong><br />
					24 ซอยอ่อนนุช 66/1 แขวงสวนหลวง เขตสวนหลวง กรุงเทพมหานคร 10250<br />
					ติดต่อสอบถาม : 02-739-5555, แฟ็กซ์ : 02-721-1717, อีเมล์ : b2bconsult@officemate.co.th<br />
					Copyright 2008 &copy;OfficeMate e-Procurement. All Rights Reserved
				</div>
			</td>
		</tr>
	</table>
</div>
