﻿@charset "utf-8";
/* CSS Document */

/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @version		0.7.1
 * @type		Transitional
 * @stacks		597-599
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 *
 */
 
 /*------------------------------------------------------------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				*(.class|:hover)
 * @level sep	ul
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown {
 font: normal 13px Tahoma, Arial, Helvetica, sans-serif;
 text-transform: uppercase;
}

	ul.dropdown li {
	 padding: 7px 0;
	 /*background-color: #fff;*/
	 color: #444;
	 line-height: normal;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #7C7C7C;  text-decoration: none; }/*color: #7E590A;*/
	ul.dropdown a:hover { color: #012057; text-decoration: none; }/*color: #a57c23;*/
	ul.dropdown a:active { color: #012057; }/*color: #444;*/


/* ----- END LEVEL */


	/* ----- NON-FIRST LEVEL */

	ul.dropdown ul {
	 width: 170px;
	 background-color:#F1F1F1;
	 border-left:solid 1px #CCC9D1;
	 border-right:solid 1px #CCC9D1;
	 border-bottom:solid 1px #CCC9D1;
	 color: #666;
	 font-size: 11px;
	 text-transform: none;
	 filter: alpha(opacity=100);
	 -moz-opacity: 1.0;
	 KhtmlOpacity: 1.0;
	 opacity: 1.0;
	}

		ul.dropdown ul li {
		 background-color: transparent;
		 color: #000;
		 filter: none;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover {
		 background-color: transparent;
		}

		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #666; }
		ul.dropdown ul a:hover { color: #fff; text-decoration: none; }
		ul.dropdown ul a:active { color: #666; }


/* ----- END LEVEL */



/*------------------------------------------------------------------------------------------------------/
 * @section	Support Class 'dir'
 * @level sep	ul, .class
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown *.dir {
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----- END LEVEL */


/* Components override */


ul.dropdown li a {
 display: block;
 padding: 10px 10px 10px 20px;
 border-left:solid 1px transparent;
 border-right:solid 1px transparent;
 background:none;
}

ul.dropdown li a.m1 {
background:url('/images/icon/home.png') no-repeat 5px center; padding: 10px 10px 10px 20px;}
ul.dropdown li a.m2 {
background:url('/images/icon/po-report.png') no-repeat 5px center;}
ul.dropdown li a.m3 {
background:url('/images/icon/order.png') no-repeat 5px center;}
ul.dropdown li a.m4 {
background:url('/images/icon/profile-data.png') no-repeat 5px center;}
ul.dropdown li a.m5 {
background:url('/images/icon/contact.png') no-repeat 5px center;}
ul.dropdown li a.m6 {
background:url('/images/icon/help.png') no-repeat 5px center;}
ul.dropdown li a.m7 {
background:url('/images/icon/setting.png') no-repeat 5px center;}

/* ------------- Override default */

	ul.dropdown li {
	 padding: 0;
	}


/* ------------- Reinitiate default: post-override activities  */

	ul.dropdown li.dir {
	 padding: 7px 20px 7px 14px;
	}

	ul.dropdown ul li.dir {
	 padding-right: 15px;
	}


/* ------------- Custom */

	ul.dropdown li 
	{
	}

	ul.dropdown ul a {
	 padding: 4px 5px 4px 14px;
	 width: 151px; /* Especially for IE */
	}

	ul.dropdown ul a:hover {
	 background-color:#d3cfc3;/*Lin*/
	}

	ul.dropdown a.open {
	 background-color: #2e2e2e;
	 color: #76b900;
	}

	ul.dropdown ul a.open {
	 background-color: #d90404;
	 color: #fff;
	}


	/* CSS 2.1 */

	ul.dropdown li:hover > a.dir {
	 background-color:#F1F1F1;/*Lin*/
	 color: #7C7C7C;  
	 /*color: #7E590A;*/
	 border-left:solid 1px #CCC9D1;
	 border-right:solid 1px #CCC9D1;

	}
	
	ul.dropdown ul li:hover > a.dir {
	 background-color: #d90404;
	 color: #fff;
	}
	
	.btn-face		{ background-color:#0054a6; padding: 4px 10px; font: Tahoma; font-size: 13px; color: #ffffff; font-weight: bold; cursor: pointer; border: 0px; vertical-align:middle; text-decoration:none; border: 1px solid #003286; font-weight: bold; }
#user-section span.log-in a{background:#ffffff url('/images/icon/icon_user_login.png') no-repeat 1px center; padding-left:20px; display:inline-block; font-weight:bold}
#log-out:hover{text-decoration:underline}