@charset "utf-8";
/* CSS Document */

/*body {margin-top: 0 !important; padding: 0; background:#FFFFFF url(/images/index/BG-Head.jpg); background-repeat:no-repeat; 
background-position:top; margin-bottom:0 !important; font-family:Tahoma;
}*/
* { font-family:Tahoma, Sans-Serif;}
#epro-allwraper { margin: 0 auto; width:950px; background:#FFF; margin-top:60px;}
.epro-topmenu { margin: 0 auto; width:950px; background:#FFF url(/images/index/menu-bg.jpg); background-repeat:no-repeat; width:950px; height:73px;}
.epro-menuposition { float:right; width:650px; height:50px;display:inline; font-size:14px; font-weight:normal; }

.epro-menuposition ul { display:inline; list-style:none;float:right;margin-right:0px; margin-top:30px; letter-spacing:1px; }
.epro-menuposition ul li{ display:inline; list-style:none;color:#000000;}
.epro-menuposition ul li a{ display:inline; list-style:none; color:#000000; text-decoration:none;}
.epro-menuposition ul li a:hover{ display:inline; list-style:none; color:#41789c;}
.epro-slideimg { margin: 0 auto; width:950px; height:425px; background:#FFF;}
.epro-topemenuepro { margin: 0 auto; width:950px; background:#FFF url(/images/index/menu-help.jpg); background-repeat:no-repeat; width:950px; height:73px;}

#epro-body{margin-top: 0 !important; padding: 0; background:#FFFFFF url(/images/index/BG-Head.jpg); background-repeat:no-repeat; 
background-position:top; margin-bottom:0 !important; font-family:Tahoma;
}
img { border:none;}

.styleforget {width:70px; padding-top:5px; padding-left:0px;float: right; padding-right:0px;}
.forgetButtonstyle {width:120px; padding-top:5px; float: right; padding-right:0px;}
/*******Start Content*******/
.one_third{ 
	width:32%;
	margin-right: 2%; float:left; 
	background: none; /*background column*/
	margin-bottom: 10px;
}
.two_third{ 
	width:66%;
	margin-right: 2%; float:left; 
	background: none; /*background column*/
	margin-bottom: 10px;
}
.if_last{
	 margin-right:0 !important; clear:right; 
}
.one_fourth{
	width:23.20%;
	margin-right: 2%; float:left; 
	background: none; /*background column*/
	margin-bottom: 10px;
}
.one_fifth{
	width:18.40%;
	margin-right: 1%; float:left; 
	background: none; /*background column*/
	margin-bottom: 10px;
}
.imgepro-left {
    float: left;
	margin-right:20px;
	margin-bottom: 20px;
}
.imgepro-right {
    float: right;
	margin-left: 20px;
	margin-bottom: 20px;}
	
.image-frame {
	-moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 3px #919192;
    background: -moz-linear-gradient(center bottom , #E8E9E9 0px, #F2F2F2 100%) repeat scroll 0 0 transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2F2F2, endColorstr=#E8E9E9, GradientType=0)" !important;/*Frame of Image for IE*/
    border: 1px solid #cccccc !important;
    margin-bottom: 0.6em;
    padding: 6px;
}
	
.epro-p { margin-top:0; color:#727272; font-weight:normal; font-size:15px; line-height:18px;}
.epro-readmare { color:#F60; text-decoration:none;}
.e-highlight {  color:#41789c; font-weight:normal; font-size:13px;}
.ansColor {color:#FF8E01;}


.eclear {
	clear:both; 
	height:0px !important; 
	line-height:10px !important; 
	float:none!important;
	margin-bottom:10px !important;
}
.title { color:#41789c; font-weight:bold; font-size:13px;}
.bg-login { background-image:url('/images/index/bg-login.jpg'); 
background-position:50% top; 
width:298px; 
height:205px;
}

#customer-logo { text-align:center;}
#customer-logo p{ text-align:center;margin-top:0; color:#727272; font-weight:normal; font-size:13px; line-height:18px;}

#PrivilegeStyle { text-align:left;}
#PrivilegeStyle p{ text-align:left;margin-top:0; color:#727272; font-weight:normal; font-size:13px; line-height:18px;}
#PrivilegeStyle h4 { color:#43799B; font-size:14px; font-weight:bold;height: 2px;}

/*****Login button Hover****/
.imagebut { float:right;

		width:80px;
		height:26px;
		background:url(/images/index/btn-LoginB.png) no-repeat; border:none;
	}
.imagebut:hover{float:right;width:80px;
		height:26px;
		background:url(/images/index/btn-LoginA.png) no-repeat;border:none;
	}
/*****Banner Hover****/
a.ofmBanner { float:right;width:230px; height:104px; background:url(/images/index/OFM-Banner.jpg) no-repeat; border:none;}
a.ofmBanner:hover{float:right;background:url(/images/index/OFM-Banner2.jpg) no-repeat; border:none;}

a.TDBanner { float:right;width:230px; height:104px; background:url(/images/index/TD-Banner.jpg) no-repeat; border:none;}
a.TDBanner:hover{float:right;background:url(/images/index/TD-Banner2.jpg) no-repeat; border:none;}

a.TDprintBanner { float:right;width:230px; height:104px; background:url(/images/index/TdPrint-Banner.jpg) no-repeat; border:none;}
a.TDprintBanner:hover{float:right;background:url(/images/index/TdPrint-Banner2.jpg) no-repeat; border:none;}

a.TDreward { float:right;width:230px; height:104px; background:url(/images/index/Td-Reward-Banner.jpg) no-repeat; border:none;}
a.TDreward:hover{float:right;background:url(/images/index/Td-Reward-Banner2.jpg) no-repeat; border:none;}

/*****Footer****/
.footer_repeat { width:100%; background:url(/images/index/Footer-bottom.jpg) center top no-repeat; height:108px; margin:0; padding:0;
background-position:bottom;}

.pTitle { color:#43799B; font-size:16px; font-weight:bold;}/**/
.pTitleCenter { color:#43799B; font-size:16px; font-weight:bold; text-align:center;}/**/
.image-center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}
.Loginlabel{
	color:#000000;
	display:block;
	float:left;
	font-weight:normal;
	position:relative;
	text-align:left;
	width: 80px;
	font-size:13px;
	margin-top: -5px;
}
.LoginSpanGray {font-size:13px;margin-left:0px; padding-top:0px; color:#666666;margin-top: -10px;}
.LoginAlert {font-size:10px;margin-left:0px; padding-top:0px; color:Red;margin-top: -10px;}/**/

.forget a:link, .forget a:visited, .forget a:active{color:#38789B;font-size:13px;}
.forget a:hover {color:#000000;font-size:13px;}

.positionLoginlabel{padding-top:60px; margin-left:27px; padding-bottom:0;}
.leftFloat{float:left;}
.100percent { width:100%;} 
#positionButtonLogin {width: 250px; height: 50px; margin-top: -35px; position: absolute; margin-left: 10px;}
/*width: 250px; height: 50px; margin-top: -40px; position: absolute; margin-left: 10px;*/
/*#positionButtonLogin p {float: left; margin-top:0px; cursor: pointer;padding-left:95px;}*/
.footerAddress {width: 950px; margin:0 auto; margin-top: 70px;}
#title-Apply { color:Black; font-size:1.2em; font-weight:bold;font-family:Tahoma, Sans-Serif;}
#epro-login { line-height:8px;}

/**********Page FAQInSiteEpro*********************/
.Faq_link { font-weight:bold; line-height:20px;}
.Faq_link a {color:#38789B;font-size:14px; text-decoration:none;}
.Faq_link a:link, a:active {color:#38789B;font-size:14px; text-decoration:none;}
.Faq_link a:hover {color:#F5A647; text-decoration:underline;}
.forget a:visited {color:#38789B;font-size:14px;text-decoration:none;}


/**********Page SelectCompany*********************/
#selectcompay { width:950px; height:425px; background-image:url(/images/theme/Slide-SelectCompany.jpg);}
#selectcompay .selectSite { margin-left:600px; padding-top:100px;}

/**********Page Apply now*********************/

#applyform { line-height:18px;margin-top: 0;
color: #727272;
font-weight: normal;
font-size: 15px;
}
#applyform h4 {background: #EEEDEA;padding: 5px;font-weight: bold;margin-bottom: 5px;}
#applyform input[type="text"] { height:20px; width:350px; margin-bottom:0px;}
#applyform input[type="password"] { height:20px; width:350px; margin-bottom:0px;}
#applyform select { height:25px; width:353px;margin-bottom:0px;}
.applyAlert {font-size:12px;margin-left:0px; padding-top:0px; color:Red;margin-top:-10px; padding-left:0px;padding-bottom:10px;}
.positionApplylabel{padding-top:10px; margin-left:0px; padding-bottom:0;font-size:15px;}
.applylabel{color:#000000;display:block;float:left;font-weight:normal;position:relative;text-align:left;width: 150px;
	top: 0px;
	left: 0px;
}
.applylabel label{font-size: 15px;color: #727272;}
.applySpanGray  {margin-left:0px; padding-top:0px; color:#666666;margin-top: -5px;}
#applyform input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; width: 13px; height: 13px; float:left; }
.Sitelabel{color:#000000;display:block;float:left;font-weight:normal;position:relative;text-align:left;width: 250px;}
.Sitelabel2 label{font-size: 15px;color: #727272;}

.Sitelabel3 label{font-size: 15px;color: #727272; width:180px;}

.Sitelabel3 input[type="password"] { width:200px;}
.Sitelabel3 input[type="text"]{ width:200px;}

.Sitelabel2{color:#000000;display:block;float:left;font-weight:normal;position:relative;text-align:left;width: 650px;}
.box_siteUn { background:#FFFFFF;background-repeat:no-repeat; width:100%;margin:0 auto; line-height:16px;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-border-bottom-radius: 5px; -webkit-border-bottom-radius: 5px; border-bottom-radius: 5px; margin-bottom:0;}
.img60 { width:60px; height:60px;}
.frameImages
{
    outline: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 10px;
    background: #f0f0f0;
}

.graybutton {

		width:80px;
		height:33px;
		background-image: url(/images/theme/GrayButton.png);
		background-color: transparent;
		background-repeat: no-repeat;
		border:none;
		cursor:pointer;
		color: #7C7C7C;
		font-size:11px;
		padding-left:5px; 
	}
.graybutton:hover{
		background-image: url(/images/theme/GrayButton-hover.png);
	}
.setPassPosition { margin-left:150px;}
.spaceTop { margin-top:50px;}

/**Responsive**/
/*
Smaller than 960: Smaller than the standard base grid
Tablet Portrait: Between 768px and 959px
All Mobile Sizes: Less than 767px
Just Mobile Landscape: Between 480px and 767px
Just Mobile Portrait: Less than 479px
*/
#epro-content > .one_third { float:right;}
body { -webkit-text-size-adjust:100%; }
@media only screen and (min-width : 960px)
{
	.epro-menu-bar > ul > li + li:before { content: "|";}
	
	.epro-menuposition { float:right; width:650px; height:50px;display:inline; font-size:14px; font-weight:normal; }
	#forgetButton{ display:none;}
	#epro-login-tablet { display:none;}
	#titileForMobile { display:none;}
	#btn-mobile { display:none;}
	#clearspace{ display:none;}
		
}

@media only screen and (max-width : 959px)
{
#epro-body{margin-top: 0 !important; padding: 0; background:#FFFFFF url(/images/index/BG-Head-tablet.jpg); background-repeat:no-repeat; width:100%;background-position:top;}
/*background-position:top; margin-bottom:0 !important; min-width:700px; font-family:Tahoma;*/

	/*#epro-body { background: none; }*/
	#epro-allwraper { margin: 0 auto; background:#FFF;  }
	.nivo_slider_plugin, .nivo_slider_plugin + img, #epro-catalog, #epro-news, #epro-testimonial, #epro-logo, .footer_repeat, .epro-menu-bar > ul > li, .epro-header-bar { display: none; }
	
	.epro-topmenu { margin: 0px; background:#FFF url(/images/index/menu-bg-center.jpg); background-repeat:no-repeat; width:100%; height: 35px; padding-top: 83px; margin-top:20px;text-align: center;}
	/*.epro-topmenu { margin: 0px; background:#FFF url(/images/index/menu-bg.jpg); background-repeat:no-repeat; width:310px; height: 35px; padding-top: 83px; margin-top:20px;}*/
	.epro-menuposition { width: auto; height:auto; float: none;}
	.epro-menu-bar > ul { margin: 0px; padding: 0px 21px; float: none; }
	.epro-menu-bar > ul > li.menu-small { display:inherit; }
	.epro-menu-bar > ul > li.menu-small ~ li.menu-small:before { content: "|";}
	.epro-menu-bar {background: none; padding: 0px;}img.image-center { width: 100%; }
	
	.epro-menuposition { font-size:16px; font-weight:normal; }
	.footerAddress {width:635px; margin-top: 30px;}
	#epro-login-tablet { display:none;}
	/*********Page Introduction******************************/
	.pTitle { color:#43799B; font-size:16px; font-weight:bold; padding-left: 10px;}
				

	#titileForMobile { display:none;}
	/**********Page Apply now*********************/
	.positionApplylabel { padding-left:10px;}
	#applyform input[type="text"] { height:20px; width:250px; margin-bottom:0px;}
    #applyform select { height:25px; width:253px;margin-bottom:0px;}

	
}


@media only screen and (min-width : 768px) and (max-width : 959px) 
	{
	#epro-allwraper { width: 612px; }
	#epro-content { background:url(/images/index/banner-600.jpg); background-repeat:no-repeat; padding-top: 220px;}/* background-position-x: 6px;*/
	#epro-content > .one_third { width: 299px; }
	/*#epro-register > img { width: 299px; }*/
	
	.Loginlabel {color: black;font-weight: normal;text-align: left;font-size: 16px;}
	.forget a:link, .forget a:visited {color: #38789B;font-size: 16px;}
	#forget{ display:none;}
	
	#positionButtonLogin { height: 50px;margin-left: -85px; margin-top: -12px;;position: absolute; width: 250px;}
	
	.epro-p { margin-top:0; color:#727272; font-weight:normal; font-size:15px; line-height:18px; padding:10px;}
	#btn-mobile { display:none;}
	#clearspace{ display:none;}
		
	}
	
@media only screen and (max-width : 767px)

{
	
	#epro-allwraper { width: 310px; }
	#epro-content > .one_third { float: none; }
	/*Lin*/	
	.epro-menuposition { font-size:17px; font-weight:normal; width:100%; }
	
	.Loginlabel {color: black;font-weight: normal;text-align: left;font-size: 16px;}
	.forget a:link, .forget a:visited {color: #38789B;font-size: 1em;}
	#forget{ display:none;}

	.epro-topmenu { margin: 0px; background:#FFF url(/images/index/menu-bg-mobile.jpg); background-repeat:no-repeat; width:100%; height: 35px; 
	 padding-top: 83px; margin-top:20px;text-align: center;}
	 .footerAddress {width:300px; margin-top: 30px;}
	#epro-body{ background: none; }
	
	#epro-login { min-height:300px;}
	#mobile input { height:20px; width:250px;}
	.Loginlabel{color:#000000; display:block; float:none; font-weight:normal; position:relative; text-align:left; width:100%;font-size:16px; padding-bottom:10px;}
	.bg-login { background-image:url(/images/index/bg-login-tablet.jpg); background-position:top; width:299px; height:205px; background-repeat:no-repeat;}
	.LoginAlert  {font-size:13px;margin-left:0px; padding-top:0px; color:Red;margin-top: -5px;}
	/**button**/

.imagebut  
{
	width:299px;height:40px;border: 1px solid;border-color: #50a3c8 #297cb4 #083f6f;background: #0c5fa5 url(/images/index/old-browsers-bg/button-element-bg.png) repeat-x left top;
	background: -moz-linear-gradient(top,white,#72c6e4 4%,#0c5fa5);background: -webkit-gradient(linear,left top, left bottom,from(white),to(#0c5fa5),color-stop(0.03, #72c6e4));
	-moz-border-radius: 3px;-webkit-border-radius: 3px;-webkit-background-clip: padding-box;border-radius: 3px;
	color: white;-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);font-size: 1em;padding: 0.286em 1em 0.357em;
	font-weight: bold;
	
	float:none;
    margin-left:-10px;
	margin-top:0px;



	}
.imagebut:hover{

	width:299px;height:40px;border: 1px solid;border-color: #50a3c8 #297cb4 #083f6f;background: #0c5fa5 url(/images/index/old-browsers-bg/button-element-bg.png) repeat-x left top;
	background: -moz-linear-gradient(top,white,#72c6e4 4%,#0c5fa5);background: -webkit-gradient(linear,left top, left bottom,from(white),to(#0c5fa5),color-stop(0.03, #72c6e4));
	-moz-border-radius: 3px;-webkit-border-radius: 3px;-webkit-background-clip: padding-box;border-radius: 3px;
	color: white;-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);font-size: 1em;padding: 0.286em 1em 0.357em;
	font-weight: bold;
	
	float:none;
   margin-left:-10px;
	margin-top:0px;


	}


#positionButtonLogin { height: 30px;margin-top: 0;position: absolute;width:299px;}
#title-regis { display:none;}



.forgetButtonstyle {padding-top:5px; float: left; padding-right:0px; margin-bottom:10px;
                    }

.forget a:link, .forget a:visited {
	width:297px;height:30px;border: 1px solid;border-color: #50a3c8 #297cb4 #083f6f;background: #0c5fa5 url(/images/index/old-browsers-bg/button-element-bg.png) repeat-x left top;
	background: -moz-linear-gradient(top,white,#72c6e4 4%,#0c5fa5);background: -webkit-gradient(linear,left top, left bottom,from(white),to(#0c5fa5),color-stop(0.03, #72c6e4));
	-moz-border-radius: 3px;-webkit-border-radius: 3px;-webkit-background-clip: padding-box;border-radius: 3px;
	color: white;-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);font-size: 1em;
	font-weight: bold;
	
	float:left;
	margin-top: 55px;
	text-align:center;
	padding-top:10px;
	text-decoration:none;
	position:inherit;
	}

	/*********Page Introduction******************************/
	.pTitle { color:#43799B; font-size:16px; font-weight:bold; padding-left: 0px;}
	/**********Page Apply now*********************/
#applyform input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; width: 20px; height: 20px; float:left; padding-left: 0px; }
#applyform input[type="text"] { height:20px; width:300px; margin-bottom:0px; margin-top:10px;}
#applyform select { height:25px; width:300px;margin-bottom:0px; margin-top:10px;}
.applylabel{color:#000000;display:block;float:left;font-weight:normal;position:relative;text-align:left;width: 250px;}

#applyform { line-height:18px;margin-top: 0;color: #727272;font-weight: normal;margin-left:0;}
#applyform h4 {background: #EEEDEA;padding: 5px;font-weight: bold;margin-bottom: 5px;font-size: 16px; }

.applyAlert {font-size:12px;margin-left:0px; padding-top:0px; color:Red;margin-top:-10px; padding-left:0px;padding-bottom:10px;}
.positionApplylabel{padding-top:10px; margin-left:0px; padding-bottom:0;font-size:15px; padding-left:0;}

.applylabel label{font-size: 18px;color: #727272; height:20px;}
.applySpanGray  {margin-left:0px; padding-top:0px; color:#666666;margin-top: -5px;}

#btn-tablet { display:none;}
#btn-mobile { margin-left:12px;}


}

	/***********************More CSS FEB 2013***********************************/
	.button-e2, .button-e2:visited{ 
float:left;
background: url(../../images/theme/bg-eButton.jpg) repeat-x;
height:25px;
padding:15px;
padding-top:3px;
width:auto;
color: #FFFFFF; font-weight:normal;
text-decoration:none; 
font-size:12px;
	text-align:center;
	 border:none;
}
.button-e2:hover{ 
float:left;
background: url(../../images/theme/bg-eButton-hover.jpg) repeat-x;
height:25px;
padding:15px;
padding-top:3px;
width:auto;
color: #FFFFFF; font-weight:normal;
text-decoration:none; 
font-size:12px;
	text-align:center;
 border:none;
}
