
 
/* -------------------------------------------------------------------------------------- SLIDER */
#slider{
	background:none;
	margin:0 auto !important;
}
#slider .content{
	margin:0 auto !important;

		width:950px; 
		height:425px;

	}
	
	
	/*  
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	margin-top:0px !important;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	bottom:10px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	padding:10px;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
/*-------------------------------------------------------------*/
.nivo_img { width:950px; height:425px; border:1px solid #CCC;}	
.nivo_slider_plugin{
		padding:0;
		margin-top:0;
		height:425px;
		background: no-repeat 50%;
	}
	#nivo{
		position:relative;
	}
	/* Direction nav styles (e.g. Next & Prev) */
	.nivo-directionNav a {
		position:absolute;
		top:50%;
		z-index:9;
		cursor:pointer;
		width:30px; height:30px;
		margin-top:-15px;
		display:block;
		text-indent:-9999px;
	}
	.nivo-prevNav {
		background:url('../../images/nivo_slider-previous.png');
		left:-10px;
	}
	.nivo-nextNav {
		background:url('../../images/nivo_slider-next.png');
		right:-10px;
	}
	.nivo-controlNav {
	position:absolute;
	right:0;
	top:5px;
	}
	.nivo-controlNav a {
		border-style: none;
	border-color: inherit;
	border-width: 0;
	display:block;
		width:16px;
		height:16px;
		background:url('../../images/bullets.png') no-repeat -16px 0;
		text-indent:-9999px;
		margin-right:3px;
		float:left;
	}
	.nivo-controlNav a.active {
		background-position:0 0;
	}
	