@charset "utf-8";
/* CSS Document */

/*Tab FAQ Page*/
/*********************************************************************
					TABS STYLE
 *********************************************************************/
#container { color:#727272; font-weight:normal; font-size:15px; line-height:18px;
	padding-top: 0px;
	padding-bottom: 10px;
	margin: 0px;
	float: left;
	width: 950px;
	background:none;

}
#container img { border:none;}
.imgleft {
	float:left;
	margin:4px 12px 0px 0px;
}
.image-center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

ul.tabs {
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 950px;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	
}
ul.tabs li {
	float: left;
	overflow: hidden;
	position: relative;
	margin-top: 0;
	margin-right: 1px;
	margin-left: 0;
	margin-bottom: 0;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}
ul.tabs.container li {
	background-color:#FFFFFF;/*สีของตัว Tab*/
}
ul.tabs.sidebar li {
	background-color: #000;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}
ul.tabs li a {
	text-decoration: none;
	color:#000000;
	display: block;
	outline: none;
	padding-top: 0;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
}
ul.tabs.container li.active, ul.tabs.container li.active a:hover {background-color:#FFFFFF; }/*สีของตัว Tab ที่ active*/
ul.tabs.container li.active {background-color:#FFFFFF;  border-top:#E1E1E1 solid 1px;border-left:#E1E1E1 solid 1px;border-right:#E1E1E1 solid 1px;}
 
ul.tabs.sidebar li.active, ul.tabs.sidebar li.active a:hover  {background-color:#FFFFFF; border:#E1E1E1 solid 1px;}/*สีของตัว Tab Content*/

.tab_container, .tab_container.sidebar {
	clear: both;
	float: left; 
	width: 100%;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_container { background-color:#FFFFFF; border:#E1E1E1 solid 1px;}/*สีของตัว Tab Content*/

.tab_content {
	padding: 20px;
	float: left;
	color:#000000;
}
.tab_content.sidebar {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.tab_content img { border:none;}
/*.tab_content img {
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px ;
	border:#E5E5E5 solid 3px;
}*/
