﻿body { width:100%; background:#FFF; font-family:Tahoma, Geneva, sans-serif; padding:0; margin:0;}

.wrapbox {width:545px; margin:0 auto;}

/*****Page ForgotChangePassword******/
#boxblue { width:545px; margin:0 auto; height:290px; background:#d7e0e5; padding-top:150px;	
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	}
.box_input_select { background-image:url(/images/theme/box-inputSelect.png); background-position:top; background-repeat:no-repeat; width:504px; 
height:227px !important; margin:0 auto;}


.button-e, .button-e:visited{ 
float:left;
background: url(/images/theme/bg-eButton.jpg) repeat-x;
height:20px;
min-width:50px;
color: #FFFFFF; font-weight:normal;
text-decoration:none; 
font-size:12px;

}
.button-e:hover{ 
float:left;
background: url(/images/theme/bg-eButton-hover.jpg) repeat-x;
height:20px;
min-width:50px;
color: #FFFFFF; font-weight:normal;
text-decoration:none; 
font-size:12px;

}

.button-e img { border:none;}

/*****Page Select Company******/
.boxblue2  
{
        width:577px; margin:0 auto; min-height:500px; background:#d7e0e5; padding-top:0px; padding-bottom:40px;	
	    -moz-border-radius-bottomright: 5px;
	    border-bottom-right-radius: 5px;
	    -webkit-border-bottom-right-radius: 5px;
	    -moz-border-radius-bottomleft: 5px;
	    border-bottom-left-radius: 5px;
	    -webkit-border-bottom-left-radius: 5px;
	}

.eclear {clear:both; height:0px !important; line-height:10px !important; float:none!important;margin-bottom:10px !important;}
.imgepro2-left {float: left;margin-right:20px;margin-bottom: 20px; border:2px solid #d7e0e5;}
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:5px !important;
	page-break-after:always;
	text-align:left;
	width:98%;
	clear:both;
	color:#d7e0e5;
	padding:0;
	background-color:#d7e0e5;
	background-repeat:repeat-x
}
.adminbox2 { padding:10px 0px 5px 5px;}/* width:90%;*/
.adminbox { padding:10px 0px 5px 5px; width:530px;}
.box_white p { padding:10px 5px 5px 5px;}
.box_white { background:#FFFFFF;background-repeat:no-repeat; width:540px; min-height:60px; margin:0 auto; line-height:16px;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-border-bottom-radius: 5px; -webkit-border-bottom-radius: 5px; border-bottom-radius: 5px; margin-bottom:0;}
.img60 { width:60px; height:60px;}




.boxblue3 { width:545px; margin:0 auto; height:270px; background:#d7e0e5; padding-top:5px;	
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	}





/*input style*/
#boxblue .box_input_select input[type="text"], #boxblue input[type="text"], #boxblue input[type="password"] {
    margin-left: 5px;
    width: 150px !important;
    margin-bottom:15px;
  
}

#boxblue .box_input_select label
{
    display: inline-block;
    width: 150px;
    text-align: right;
}

#boxblue .box_input_select label
{
    display: inline-block;
    width: 150px;
    text-align: right;
}


/*Footer*/


#footer
{

    margin-top: 120px;
    height:160px;
    padding-bottom:0;
    margin-bottom:0;
    width: 100%;
    background:#AFC5DA url('/images/theme/top-footer.jpg') repeat-x 0 0;
}

    
    .imgepro-center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}
.graybutton { float:right;

		width:80px;
		height:33px;
		background:url(/images/theme/GrayButton.png) no-repeat; border:none; cursor:pointer;
	}

/*****Change Footer****/

#footerDown {    margin-top: 120px;
    height:160px;
    padding-bottom:0;
    margin-bottom:0;
    width: 100%;
    
    }
    
.footer_repeat { width:100%; background:url(/images/theme/Footer-bottom-new.jpg) center top no-repeat; height:108px; margin:0; padding:0;
background-position:bottom;}

.epro-p { margin-top:0; color:#727272; font-weight:normal; font-size:15px; line-height:18px;}

.centerwrap { width:950px; margin:0 auto; }



/****************** Cut CSS From HTML ************************/
.minHeight650{min-height:650px; }
.positionLogo{width:545px; margin:0 auto; text-align:center;margin-bottom:20px; margin-top:10px;}
.positionTitle {width:577px; margin:0 auto;}
.positionSelect{padding-top:50px; padding-left:20px; color:#000000;}
..positionOpensite{width:577px; margin:0 auto;}

..positionBtnOK{ float:right;margin-left: 395px; margin-top:40px; }

.headtext-title { color:White; font-weight:bold; font-size:15px; position:absolute; margin-top:25px; margin-left:80px;}
.subtitle { color:Black; font-weight:normal; font-size:13px; position:absolute; margin-top:47px; margin-left:80px; width:450px; }

.PositionButton {margin-top:30px; margin-left:350px; cursor:pointer;}