﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Admin/AdminProductCatalog.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<h2 id="page-heading">
			DeleteProductCatalogSuccess</h2>
		----------------------------------- Compleate Delete Product CataLog -----------------------------------------------

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="CssContent" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="JavaScript" runat="server">
</asp:Content>
