﻿<%@ Master Language="C#" MasterPageFile="~/Views/Shared/Master.Master" Inherits="System.Web.Mvc.ViewMasterPage<Eprocurement2012.Models.DepartmentViewData>" %>

<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="MainContent">
	<script type="text/javascript">
		$(function () {
			$("#jMenu").load('<%=Url.Action("PatialMenu","Home", new { c="20110606" }) %>', function () {
				$("#menuAnchor").show();
				$(".flyoutAnchor").hover(function () { incCounter(); $("#jMenu").show(); }, decCounter);
				$(".navShopAll").hover(incCounter, decCounter);
				$("#jMenu").hover(incCounter, decCounter);
			});
		});
	</script>
	<asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>
<asp:Content ID="Content3" runat="server" ContentPlaceHolderID="CssContent">
	<link href="/css/QuickInfo.css" rel="stylesheet" type="text/css" />
	<style type="text/css">
		#slider ul, #slider li
		{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		#slider, #slider li
		{
			width: 180px;
			overflow: hidden;
		}
		span#prevBtn a
		{
			width: 25px;
			height: 25px;
			display: block;
			position: absolute;
			right: 0px;
			top: 0px;
			background: url('/images/btn/btn-prev.png') no-repeat 0 0;
		}
		span#nextBtn a
		{
			width: 25px;
			height: 25px;
			display: block;
			background: url('/images/btn/btn-next.png') no-repeat 0 0;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
		.for-slider
		{
			position: relative;
			width: 180px;
			height: auto;
		}
	</style>
	<asp:ContentPlaceHolder ID="CssContent" runat="server" />
</asp:Content>
<asp:Content ID="Content4" runat="server" ContentPlaceHolderID="JavaScriptContent">
	<script src="/js/QuickInfo.js" type="text/javascript"></script>
	<script src="/js/easySlider1.5.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
//			$(".propname").show();
//			$(".propname").each(function () {
//				if ($(this).val() == $("#PropName").val()) {
//					$(this).attr("checked", "checked");
//				}
//			});
//			$(".propname").live("click", function () {
//				if ($(this).is(':checked')) {
//					$("#PropName").val($(this).val());
//					$("#groupByDeptSupply").attr("checked", true);
//					$("#cRefId").remove();
//					$("#bRefId").remove();
//					$("#pRefId").remove();
//					$('#formSortBy').submit();
//				} else {
//					$("#PropName").val($(this).val());
//					$("#groupByDeptSupply").attr("checked", false);
//					$('#formSortBy').submit();
//				}
//			});
			$("#sortBy").change(function () {
				$('#formSortBy').submit()
			});
			$("#sortByDept").change(function () {
				$('#formSortBy').submit()
			});
			$("#slider").easySlider({
				vertical: true,
				nextText: "",
				prevText: ""
			});
			if ($("#slider li").size() < 2) {
				$("#nextBtn").hide();
			}
			initQuickInfo($('.quickinfobt'), '<%=Url.Action("QuickInfo","Product")%>');
		});
	</script>
	<asp:ContentPlaceHolder ID="JavaScriptContent" runat="server" />
</asp:Content>
