﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Help/Help.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<div>
		<p class="pTitle" style="padding-left: 10px;">
			Delete Order | ผู้อนุมัติยกเลิก ใบขอซื้อสินค้านั้น



</p>
		<div style="background-image: url(/images/index/grayLine.jpg); background-repeat: repeat-x;
			width: 100%; height: 19px;">
		</div>
		<!--Content-->
		<div class="epro-p" style="padding-left: 10px;">
			<p>
				ผู้อนุมัติ ทำการยกเลิกใบสั่งซื้อ</p>
		</div>
		<!--Content-->
	</div>
</asp:Content>
