﻿<%@ Page Language="C#" MasterPageFile="~/Views/Help/Help.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<%--<link href="../../css/faq.css" rel="stylesheet" type="text/css" />--%>
	<script type="text/javascript" src="/js/AC_RunActiveContent.js"></script>
	<style type="text/css">
		.cbox2
		{
			width: 500px;
			height: 300px;
			font-family: Tahoma, verdana;
			font-size: 13px;
			color: #666666;
			margin: 15px 0px; /*border-bottom: solid 1px #c1c1c1;*/ /*margin-left: 80px;*/
		}
		img.m10
		{
			margin-right: 10px;
			float: left;
			border: solid 2px orange;
		}
	</style>
	<div>
		<div id="epro-content" class="100percent">
			<p class="pTitle" style="padding-left: 10px;">
				VDO สาธิตการใช้งานระบบ</p>
			<%--<div style="background-image: url(/images/index/grayLine.jpg); background-repeat: repeat-x;
				width: 100%; height: 19px;">
			</div>--%>
			<div class="boxcontent">
				<!--Video 1-->
				<div class="cbox2">
					<div style="float: left; width: 496px">
						<ul>
							<li>สาธิตการสั่งซื้อ</li>
						</ul>
					</div>
					<%--silkspan.xml--%>
					<div style="text-align: center; padding-top: 10px; margin: 0; float: left; width: 496px">
						<div style="text-align: center; padding-top: 10px; margin: 0; float: left; width: 496px">
							<div id="videoPlayer">
								<script type="text/javascript" src="/swfobject/swfobject.js"></script>
								<script type="text/javascript">
									var flashvars = {
										htmlPage: document.location,
										settingsFile: "ofm.xml"
									};
									var params = {
										allowFullScreen: "true"
									};

									swfobject.embedSWF("/videoPlayer.swf", "videoPlayer", "300", "200", "9.0.115", "/swfobject/expressInstall.swf", flashvars, params);
								</script>
								<p>
									<a href="http://www.adobe.com/go/getflashplayer">
										<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
											alt="Get Adobe Flash player" /></a></p>
							</div>
						</div>
					</div>
				</div>
				<!-- End Video 1-->
				<!--Video 2-->
				<%--<div class="cbox2">
					<div style="height: 50px; float: left; width: 496px">
						<ul>
							<li>สาธิตการตั้งค่าระบบ</li>
						</ul>
					</div>
					<div style="text-align: center; padding-top: 10px; margin: 0; float: left; width: 496px">
						<div id="videoPlayer3">
							<script type="text/javascript" src="/swfobject/swfobject.js"></script>
							<script type="text/javascript">
								var flashvars = {
									htmlPage: document.location,
									settingsFile: "paysbuy.xml"
								};
								var params = {
									allowFullScreen: "true"
								};

								swfobject.embedSWF("/videoPlayer.swf", "videoPlayer3", "300", "200", "9.0.115", "/swfobject/expressInstall.swf", flashvars, params);
							</script>
							<p>
								<a href="http://www.adobe.com/go/getflashplayer">
									<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
										alt="Get Adobe Flash player" /></a></p>
						</div>
					</div>
				</div>--%>
				<!-- End Video 2-->
			</div>
		</div>
	</div>
</asp:Content>
