﻿<%@ Page Language="C#" MasterPageFile="~/Views/Help/Help.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<link href="../../css/faq.css" rel="stylesheet" type="text/css" />
	<div>
		<div class="left" style="width: 200px;">
			<ul style="display: block">
				<li><%=Html.ActionLink("สาธิตการสั่งซื้อ (VDO)", "DemoOrder", "Help")%></li>
				<li><%=Html.ActionLink("สาธิตการตั้งค่าระบบ (VDO)", "DemoSettings", "Help")%></li>
			</ul>
		</div>
		<div>
		สาธิตการตั้งค่าระบบ
			</div>
	</div>
</asp:Content>