﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Report/ReportAdmin.Master"
	Inherits="System.Web.Mvc.ViewPage<Eprocurement2012.Models.TrackOrders>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<div class="grid_16">
		<h2 id="page-heading">
			<%=Html._("Report.GoodReceiveOrder")%></h2>
		<%Html.BeginForm("ConditionalGoodReceiveOrder", "Report", FormMethod.Post, new { id = "fromConditionalOrder" }); %>
		<div id="OrderStatus">
			<%=Html.CheckBoxFor(m => m.AdvanceSearchField.CheckOrderStatus, new { id = "CheckOrderStatus" })%>
			<label for="CheckOrderStatus">
				<%=Html._("Order.ViewDataOrder.OrderStatus")%></label><br />
			<div id="divOrderStatus">
				<%=Html.CheckBoxFor(m => m.AdvanceSearchField.Waiting, new { id="Waiting"})%>
				<label for="Waiting">
					<%=Html._("Eprocurement2012.Models.GoodReceive+GoodReceiveStatus.Waiting")%></label><br />
				<%=Html.CheckBoxFor(m => m.AdvanceSearchField.Partial, new { id = "Partial" })%>
				<label for="Partial">
					<%=Html._("Eprocurement2012.Models.GoodReceive+GoodReceiveStatus.Partial")%></label><br />
				<%=Html.CheckBoxFor(m => m.AdvanceSearchField.Completed, new { id = "Completed" })%>
				<label for="Completed">
					<%=Html._("Eprocurement2012.Models.GoodReceive+GoodReceiveStatus.Completed")%></label>
			</div>
		</div>
		<br />
		<div id="OrderDate">
			<%=Html.CheckBoxFor(m => m.AdvanceSearchField.CheckOrderDate, new { id = "CheckOrderDate" })%>
			<label>
				<%=Html._("Order.ViewDataOrder.OrderDate")%></label><br />
			<%=Html._("Report.Conditional.From")%><%=Html.TextBoxFor(m => m.AdvanceSearchField.OrderDateFrom, new { id = "OrderDateFrom" })%>
			<%=Html._("Report.Conditional.To")%><%=Html.TextBoxFor(m => m.AdvanceSearchField.OrderDateTo, new { id = "OrderDateTo" })%>
		</div>
		<br />
		<div id="ApproveDate">
			<%=Html.CheckBoxFor(m => m.AdvanceSearchField.CheckAppDate, new { id = "CheckAppDate" })%>
			<label for="CheckAppDate">
				<%=Html._("Order.PartialReceive.ActionDate")%></label>
			<br />
			<%=Html._("Report.Conditional.From")%><%=Html.TextBoxFor(m => m.AdvanceSearchField.AppDateFrom, new { id = "AppDateFrom" })%>
			<%=Html._("Report.Conditional.To")%><%=Html.TextBoxFor(m => m.AdvanceSearchField.AppDateTo, new { id = "AppDateTo" })%>
		</div>
		<br />
		<%if (Model.UserRequester != null)
	{%>
		<div>
			<%=Html.CheckBoxFor(m => m.AdvanceSearchField.CheckRequester, new { id = "CheckRequester" })%>
			<label for="CheckRequester">
				<%=Html._("SetRequesterLine.Requester")%></label>
			<div id="divRequester" style="width: 50%">
				<table>
					<tr>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadSelect")%>
						</th>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadDisplayName")%>
						</th>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadEmail")%>
						</th>
					</tr>
					<%foreach (var Req in Model.UserRequester)
	   {
		   string requesterChecked = "";
		   if (Model.AdvanceSearchField.Requester.Any(r => r == Req.UserGuid))
		   {
			   requesterChecked = "checked=checked";
		   }
					%>
					<tr>
						<td>
							<input id="<%=Req.UserGuid %>" name="Requester" type="checkbox" value="<%=Req.UserGuid %>"
								<%=requesterChecked%> />
						</td>
						<td>
							<label for="<%=Req.UserGuid %>">
								<%=Req.DisplayName %></label>
						</td>
						<td>
							<%=Req.UserId %>
						</td>
					</tr>
					<%}%>
				</table>
			</div>
		</div>
		<%}%>
		<br />
		<%if (Model.UserApprover != null)
	{%>
		<div>
			<%=Html.CheckBoxFor(m => m.AdvanceSearchField.CheckApprover, new { id = "CheckApprover" })%>
			<label for="CheckApprover">
				<%=Html._("SetRequesterLine.Approver")%></label>
			<div id="divApprover" style="width: 50%">
				<table>
					<tr>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadSelect")%>
						</th>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadDisplayName")%>
						</th>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadEmail")%>
						</th>
					</tr>
					<%foreach (var App in Model.UserApprover)
	   {
		   string approverChecked = "";
		   if (Model.AdvanceSearchField.Approver.Any(r => r == App.UserGuid))
		   {
			   approverChecked = "checked=checked";
		   }
					%>
					<tr>
						<td>
							<input id="<%=App.UserGuid %>" name="Approver" type="checkbox" value="<%=App.UserGuid %>"
								<%=approverChecked%> />
						</td>
						<td>
							<label for="<%=App.UserGuid %>">
								<%=App.DisplayName%></label>
						</td>
						<td>
							<%=App.UserId%>
						</td>
					</tr>
					<%}%>
				</table>
			</div>
		</div>
		<%}%>
		<br />
		<%if (Model.Costcenter != null)
	{%>
		<div>
			<%=Html.CheckBoxFor(m => m.AdvanceSearchField.CheckCostcenter, new { id = "CheckCostcenter" })%>
			<label for="CheckCostcenter">
				<%=Html._("Report.Conditional.Costcenter")%></label>
			<div id="divCostcenter" style="width: 50%">
				<table>
					<tr>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadSelect")%>
						</th>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadCostCenterID")%>
						</th>
						<th>
							<%=Html._("Report.ConditionalOrderReport.HeadCostCenterName")%>
						</th>
					</tr>
					<%foreach (var Cost in Model.Costcenter)
	   {
		   string costcenterChecked = "";
		   if (Model.AdvanceSearchField.Costcenter.Any(r => r == Cost.CostCenterID))
		   {
			   costcenterChecked = "checked=checked";
		   }
					%>
					<tr>
						<td>
							<input id="<%=Cost.CostCenterID %>" name="Costcenter" type="checkbox" value="<%=Cost.CostCenterID %>"
								<%=costcenterChecked%> />
						</td>
						<td>
							<label for="<%=Cost.CostCenterID %>">
								<%=Cost.CostCenterID %></label>
						</td>
						<td>
							<%=Cost.CostCenterName %>
						</td>
					</tr>
					<%}%>
				</table>
			</div>
			<%}%>
		</div>
		<br />
		<input type="submit" value="<%=Html._("Button.Search")%>" />
		<%Html.EndForm(); %>
		<div>
			<%if (Model.ListOrder.Orders != null)
	 {
		 if (Model.TotalOrdersCount != 0)
		 {%>
			<%Html.BeginForm("ExportGoodReceive", "ExportExcel", Model.AdvanceSearchField); %>
			<%
	 var data = new RouteValueDictionary { { "AdvanceSearchField", Model.AdvanceSearchField } };

	 data.Add("waiting", Model.AdvanceSearchField.Waiting);
	 data.Add("partial", Model.AdvanceSearchField.Partial);
	 data.Add("completed", Model.AdvanceSearchField.Completed);

	 data.Add("orderDateFrom", Model.AdvanceSearchField.OrderDateFrom);
	 data.Add("orderDateTo", Model.AdvanceSearchField.OrderDateTo);

	 data.Add("appDateFrom", Model.AdvanceSearchField.AppDateFrom);
	 data.Add("appDateTo", Model.AdvanceSearchField.AppDateTo);

	 data.Add("checkAppDate", Model.AdvanceSearchField.CheckAppDate);
	 data.Add("checkOrderDate", Model.AdvanceSearchField.CheckOrderDate);
	 data.Add("checkOrderStatus", Model.AdvanceSearchField.CheckOrderStatus);
	 data.Add("checkApprover", Model.AdvanceSearchField.CheckApprover);
	 data.Add("checkCostcenter", Model.AdvanceSearchField.CheckCostcenter);
	 data.Add("checkRequester", Model.AdvanceSearchField.CheckRequester);


	 for (int i = 0; i < Model.AdvanceSearchField.Requester.Length; i++)
	 {
		 data.Add(string.Format("Requester[{0}]", i), Model.AdvanceSearchField.Requester[i]);%>
			<input type="hidden" name="requester" value="<%=Model.AdvanceSearchField.Requester[i]%>" />
			<%} %>
			<%for (int i = 0; i < Model.AdvanceSearchField.Approver.Length; i++)
	 {
		 data.Add(string.Format("Approver[{0}]", i), Model.AdvanceSearchField.Approver[i]);
			%>
			<input type="hidden" name="approver" value="<%=Model.AdvanceSearchField.Approver[i]%>" />
			<%} %>
			<%for (int i = 0; i < Model.AdvanceSearchField.Costcenter.Length; i++)
	 {
		 data.Add(string.Format("Costcenter[{0}]", i), Model.AdvanceSearchField.Costcenter[i]);
			%>
			<input type="hidden" name="costcenter" value="<%=Model.AdvanceSearchField.Costcenter[i]%>" />
			<%} %>
			<input id="Export" type="submit" value="Export to Excel" />
			<%Html.EndForm(); %>
			<div class="pager">
				<%=Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalOrdersCount, "ConditionalGoodReceiveOrderPaging", data)%>
				<%Model.ListOrder.Index = ((Model.PageNumber - 1) * Model.PageSize);%>
			</div>
			<div id="content-shopping-cart-detail" style="text-align: center;">
				<table id="table-order">
					<tr>
						<td width="30" class="thead">
							<%=Html._("Admin.CompanyInfo.No")%>
						</td>
						<td width="100" class="thead">
							<%=Html._("Order.ViewDataOrder.CustID")%>
						</td>
						<td width="100" class="thead">
							<%=Html._("Order.ViewDataOrder.OrderId")%>
						</td>
						<td width="80" class="thead">
							<%=Html._("Order.ViewDataOrder.OrderStatus")%>
						</td>
						<td width="80" class="thead">
							<%=Html._("Order.ViewDataOrder.OrderDate")%>
						</td>
						<td width="80" class="thead">
							<%=Html._("Order.ViewDataOrder.ApprovrOrderDate")%>
						</td>
						<td width="100" class="thead">
							<%=Html._("Order.ViewOrder.RequesterName")%>
						</td>
						<td width="50" class="thead">
							<%=Html._("Report.GoodReceiveOrder.EmailRequster")%>
						</td>
						<td width="100" class="thead">
							<%=Html._("Order.ViewOrder.ApproverName")%>
						</td>
						<td width="50" class="thead">
							<%=Html._("Report.GoodReceiveOrder.EmailApprover")%>
						</td>
						<td width="70" class="thead">
							<%=Html._("Order.ViewOrder.CostCenterName")%>
						</td>
						<td width="50" class="thead">
							<%=Html._("Order.ConfirmOrder.Quantity")%>
						</td>
						<td width="70" class="thead">
							<%=Html._("Order.PartialReceive.ProductAction")%>
						</td>
						<td width="70" class="thead">
							<%=Html._("Order.PartialReceive.ProductCancel")%>
						</td>
						<td width="70" class="thead">
							<%=Html._("Order.PartialReceive.ProductRemain")%>
						</td>
						<td width="70" class="thead">
							<%=Html._("Order.ConfirmOrder.GrandTotalAmt")%>
						</td>
						<td width="70" class="thead">
							<%=Html._("Order.PartialReceive.ActionDate")%>
						</td>
						<td width="70" class="thead">
							<%=Html._("Report.GoodReceiveOrder.Status")%>
						</td>
					</tr>
					<tbody>
						<%int seq = Model.ListOrder.Index;%>
						<%foreach (var order in Model.ListOrder.Orders)
		{%>
						<tr>
							<td style="text-align: center">
								<%=++seq%>
							</td>
							<td>
								<%=order.CustId%>
							</td>
							<td>
								<%=Html.ActionLink(order.OrderID, "ViewOrderDetail", "Admin", new { Id = order.OrderGuid }, null)%>
							</td>
							<td>
								<%=Html._("Eprocurement2012.Models.Order+OrderStatus." + order.Status.ToString())%>
							</td>
							<td>
								<%=order.OrderDate.ToString(new DateTimeFormat())%>
							</td>
							<td>
								<%=order.DisplayApproveOrderDate%>
							</td>
							<td>
								<%=order.Requester.DisplayName%>
							</td>
							<td>
								<%=order.Requester.UserId%>
							</td>
							<td>
								<%if (order.PreviousApprover != null)
		  { %>
								<%=order.PreviousApprover.Approver.DisplayName%>
								<%}
		  else
		  { %>
								<%=order.CurrentApprover.Approver.DisplayName%>
								<%} %>
							</td>
							<td>
								<%if (order.PreviousApprover != null)
		  { %>
								<%=order.PreviousApprover.Approver.UserId%>
								<%}
		  else
		  { %>
								<%=order.CurrentApprover.Approver.UserId%>
								<%} %>
							</td>
							<td>
								<%="[ " + order.CostCenter.CostCenterID + " ] " + order.CostCenter.CostCenterName%>
							</td>
							<td>
								<%=order.ItemCountOrder%>
							</td>
							<td>
								<%=order.GoodReceiveDetail.ActionQty%>
							</td>
							<td>
								<%=order.GoodReceiveDetail.CancelQty%>
							</td>
							<td>
								<%=order.ItemCountOrder - (order.GoodReceiveDetail.ActionQty + order.GoodReceiveDetail.CancelQty)%>
							</td>
							<td>
								<%=order.GrandTotalAmt.ToString(new MoneyFormat())%>
							</td>
							<td>
								<%=order.GoodReceive.UpdateOn.ToString(new DateTimeFormat())%>
							</td>
							<td>
								<%=Html._("Eprocurement2012.Models.GoodReceive+GoodReceiveStatus." + order.GoodReceive.Status.ToString())%>
							</td>
						</tr>
						<%}%>
					</tbody>
				</table>
			</div>
			<%}
		 else
		 {%>
			<p style="margin-top: 20px; color: Red; font-weight: bold;">
				<%=Html._("Order.ViewOrder.EmptryOrder")%></p>
			<%}
	 } %>
		</div>
		<div style="min-height: 100px;">
		</div>
	</div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="JavaScript" runat="server">
	<script type="text/javascript">
		$(function () {
			$("#OrderDateFrom").datepicker({
				changeMonth: true,
				dateFormat: 'dd/mm/yy'
			});

			$("#OrderDateTo").datepicker({
				changeMonth: true,
				dateFormat: 'dd/mm/yy'
			});

			$("#AppDateFrom").datepicker({
				changeMonth: true,
				dateFormat: 'dd/mm/yy'
			});

			$("#AppDateTo").datepicker({
				changeMonth: true,
				dateFormat: 'dd/mm/yy'
			});

			if ($("#CheckOrderStatus").attr("checked")) { $("#divOrderStatus").show(); } else { $("#divOrderStatus").hide(); }
			if ($("#CheckRequester").attr("checked")) { $("#divRequester").show(); } else { $("#divRequester").hide(); }
			if ($("#CheckApprover").attr("checked")) { $("#divApprover").show(); } else { $("#divApprover").hide(); }
			if ($("#CheckCostcenter").attr("checked")) { $("#divCostcenter").show(); } else { $("#divCostcenter").hide(); }

			$("#CheckOrderStatus").live("click", function () {
				if (this.checked) {
					$("#divOrderStatus").show();
				}
				else {
					$("#divOrderStatus").hide();
				}
			});

			$("#CheckRequester").live("click", function () {
				if (this.checked) {
					$("#divRequester").show();
				}
				else {
					$("#divRequester").hide();
				}
			});

			$("#CheckApprover").live("click", function () {
				if (this.checked) {
					$("#divApprover").show();
				}
				else {
					$("#divApprover").hide();
				}
			});

			$("#CheckCostcenter").live("click", function () {
				if (this.checked) {
					$("#divCostcenter").show();
				}
				else {
					$("#divCostcenter").hide();
				}
			});
		});
	</script>
</asp:Content>
