ul#trendymenu div
{
	display: none;
}
ul#trendymenu li:hover>*
{
	display: block;
}
ul#trendymenu li:hover
{
	position: relative;
}
ul#trendymenu div
{
	left: 98%;
	position: absolute;
	top: -15px;
}
ul#trendymenu ul div
{
	left: 98%;
	position: absolute;
	top: -2px;
}
ul#trendymenu,ul#trendymenu ul
{
	
	border-color: #999999;
	border-style: solid;
	border-width: 0px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul#trendymenu div
{
	/*background-image: url(sub.gif);*/
	left: 195px;
	position: absolute;
	z-index:1
}
ul#trendymenu #m1, ul#trendymenu #m2
{
	background-image: url(sub.gif);
	font-size: 0;
	height: 7px;
	margin: 0;
	position: absolute;
	width: 7px;
}
ul#trendymenu #m1
{
	background-position: 100% 0;
	left: 100%;
	top: 0;
}
ul#trendymenu #m2
{
	background-position: 0 100%;
	left: 0;
	top: 100%;
}
ul#trendymenu
{
	display: block;
	float: left;
	font-size: 0;
	width: 200px;
	zoom: 1;
}
ul#trendymenu ul
{
	/*background-image: url(sub.gif);
	background-position: 100% 100%;*/
	border: none;
	left: 7px;
	padding: 0 7px 7px 0;
	position: relative;
	top: 7px;
	min-width:180px
}
ul#trendymenu ul.cell
{
	/*background-color: white;*/
	background-position: 100% 100%;
	border: none;
	left: 5px;
	padding: 0 7px 7px 0;
	position: relative;
	top: 5px;
	min-width:180px
}
ul#trendymenu li
{
	display: block;
	font-size: 0;
	margin: 0;
	zoom: 1;
	height:22px
}
ul#trendymenu a:active, ul#trendymenu a:focus
{
	outline-style: none;
}
ul#trendymenu a, ul#trendymenu li.dis a:hover,ul#trendymenu li.sep a:hover
{
	/*background-color: #FFFFFF;*/
	border: 0px none #6655FF;
	color: #007495;
	cursor: pointer;
	display: block;
	font: normal 13px Tahoma, sans-serif;
	padding: 3px;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	zoom: 1;
}
ul#trendymenu span
{
	overflow: hidden;
}
ul#trendymenu ul li
{
	float: none;
}
ul#trendymenu ul a, ul#trendymenu ul li.dis a:hover
{
	text-align: left;
	white-space: nowrap;
}
ul#trendymenu li.sep
{
	line-height: 0;
	padding: 0px;
	text-align: left;
}
ul#trendymenu li.sep span
{
	background-color: #999999;
	background-image: none;
	display: inline-block;
	float: none;
	height: 3px;
	padding-right: 0;
	width: 100%;
}
ul#trendymenu li:hover>a
{
	/*background-color: white;*/
	border-color: #665500;
	border-style: none;
	color: #007495;
	font: normal 13px Tahoma, sans-serif;
	text-decoration: underline;
}
ul#trendymenu li.dis a
{
	color: #AAAAAA !important;
}
ul#trendymenu img
{
	border: none;
	height: 15px;
	margin-right: 3px;
	vertical-align: middle;
	width: 15px;
}
ul#trendymenu ul img
{
	height: 9px;
	width: 6px;
}
ul#trendymenu img.over
{
	display: none;
}
ul#trendymenu li.dis a:hover img.over
{
	display: none !important;
}
ul#trendymenu li.dis a:hover img.def
{
	display: inline !important;
}
ul#trendymenu li:hover > a img.def
{
	display: none;
}
ul#trendymenu li:hover > a img.over
{
	display: inline;
}
ul#trendymenu li.istylei0
{
	background-image: url(top-or.gif);
	margin-right: 20px;
}
ul#trendymenu li.istylei0>a
{
	background-image: url(top-or.gif);
	background-position: 100% 0;
	color: #FFFFFF;
	font: bold 13px Arial,sans-serif;
	height: 32px;
	margin: 0 -20px 0 20px;
	text-decoration: none;
}
ul#trendymenu li.istylei0:hover>a
{
	background-image: url(top-or-o.gif);
	color: #FFFFFF;
	font: bold 13px Arial,sans-serif;
	text-decoration: underline;
}
ul#trendymenu li.istylei0:hover
{
	background-image: url(top-or-o.gif);
	color: #FFFFFF;
	font: bold 13px Arial,sans-serif;
	text-decoration: underline;
}
ul#trendymenu li.istylei1
{
	background-image: url(top1.gif);
	margin-right: 20px;
}
ul#trendymenu li.istylei1>a
{
	background-image: url(top1.gif);
	background-position: 100% 0;
	height: 16px;
	margin: 0 -20px 0 20px;
}
ul#trendymenu li.istylei1:hover>a
{
	background-image: url(top1-o.gif);
}
ul#trendymenu li.istylei1:hover
{
	background-image: url(top1-o.gif);
}
ul#trendymenu li.istylei2
{
	background-image: url(top3.gif);
	margin-right: 20px;
	height:25px
}
ul#trendymenu li.istylei2>a
{
	background-image: url(top3.gif);
	background-position: 100% 0;
	color: #007495;
	font: normal 13px Tahoma,sans-serif;
	height: 19px;
	margin: 0 -20px 0 7px;
	text-decoration: none;
	border-bottom:solid 3px transparent;
	border-top:solid 3px transparent;
	border-left:solid 3px transparent;
	background-repeat:no-repeat;
}
ul#trendymenu li.istylei2:hover>a
{
	/*background-image: url(top3-o.gif);*/
	background-image:none;
	color: #880000;
	font: normal 13px Tahoma,sans-serif;
	background-color:white;

	width:181px;
	position:absolute;
	z-index:2;
	text-decoration:underline;
		-moz-border-radius-topleft: 10px;
	-khtml-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 0px;
			-moz-border-radius-bottomleft: 10px;
	-khtml-border-radius-bottomleft: 0px;
	-webkit-border-bottom-radius: 10px;
	border-bottom-left-radius: 0px;
		border-bottom:solid 3px #ab0303;
	border-top:solid 3px #cc0000;
	border-left:solid 3px #cc0000;
		background-image:url(/images/menu/bg_nav_left_top.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	
}
ul#trendymenu li.istylei2:hover
{
	/*background-image: url(top3-o.gif);*/
	color: #880000;
	font: normal 13px Tahoma,sans-serif;
}
ul#trendymenu li.istylei3
{
	background-image: url(top2-1.gif);
	background-position: 100% 1;
	background-repeat: repeat;
	margin-right: 0px;
	min-height: 18px;
	z-index:2;
}
ul#trendymenu li.istylei3>a
{
	background-image: url(top2.gif);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	color: #007495;
	font: normal 13px Tahoma,sans-serif;
	margin: 0px 0px 0px 5px;
	min-height: 18px;
	text-decoration: none;
	border-bottom:solid 3px transparent;
	border-top:solid 3px transparent;
	border-left:solid 3px transparent;
}
ul#trendymenu li.istylei3:hover>a
{
	background-image:url(/images/menu/bg_nav_left_top.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	color: #880000;
	font: normal 13px Tahoma,sans-serif;
	background-color:white;
	border-bottom:solid 3px #d90404;
	border-top:solid 3px #d90404;
	border-left:solid 3px #d90404;
	width:183px;
	position:absolute;
	z-index:2;
	text-decoration:underline;
}
ul#trendymenu li.istylei3:hover
{
	/*background-image: url(top2-o.gif);*/
	color: #007495;
	font: normal 13px Tahoma,sans-serif;
}
ul#trendymenu li.istylei3 ul li a, ul#trendymenu li.istylei2 ul li a
{
	background-image: url(/images/menu/arrow.gif);
	background-position: 0px 8px;
	background-repeat: no-repeat;
	padding-left: 8px;
}
ul#trendymenu li.istylei3 ul li a:hover, ul#trendymenu li.istylei2 ul li a:hover
{
	text-decoration:underline
}

.menu-radius
{
	/* basic */
	background-color:#fffbfb;
	background-image:url(/images/menu/bg_nav_left.jpg);
	background-repeat:repeat-x;
	background-position:top;
	margin: 0 auto;
	/*min-width: 450px;*/
	border:solid 2px #d90404;
	padding: 5px;
	text-align: left; /* border-radius */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	/*-moz-border-radius-topleft: 0px;
	-khtml-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;*/
	/* box-shadow */
	-webkit-box-shadow: #880000 0px 1px 3px;
	-moz-box-shadow: #880000 0px 1px 3px;
	box-shadow: #880000 0px 1px 3px;
}