﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/OFMAdmin/OFMAdmin.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<div>
	<h2>
		สร้าง DeptStructure ของ officemate</h2>
	<div>
		<%Html.BeginForm("GentDeptStructureForOFMCatalog", "OFMAdmin", FormMethod.Post); %>
		ยืนยัน password : <input type="password" id="password" name="password" />
		<input type="submit" id="submit" name="submit" value="submit" /> <%=TempData["data"]%>
		<%Html.EndForm(); %>
	</div>
	<br />
</div>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="JavasCript" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="CssContent" runat="server">
</asp:Content>
