﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/StaticPage/Intro.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<div class="centerwrap">
		<h2>
			<%=ViewData["Error"]%>
		</h2>
	</div>
</asp:Content>
