﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/StaticPage/Intro.Master"
	Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<div style="width: 100%">
		<img alt="" width="950" height="425" src="/images/Slide-Faq.jpg" class=" wp-post-image" />
	</div>
	<img alt="" src="/images/index/slideShadow.jpg" />
	<div style="width: 100%">
		<img alt="" src="/images/theme/title_FAQ.jpg" />
		<div style="background-image: url(/images/index/grayLine.jpg); background-repeat: repeat-x;
			width: 100%; height: 19px;">
		</div>
		<!--Tab -->
		<div id="container">
			<ul class="tabs container">
				<li><a href="#tab1">
					<img alt="" src="/images/tab/tab_general.png" /></a></li>
				<li><a href="#tab2">
					<img alt="" src="/images/tab/tab_User.png" /></a></li>
				<li><a href="#tab3">
					<img alt="" src="/images/tab/tab_Admin.png" /></a></li>
			</ul>
			<div class="tab_container">
				<div id="tab1" class="tab_content">
					<p class="pTitle">
						1. หากไม่เคยเป็นลูกค้าของ OfficeMate มาก่อน สามารถใช้ระบบได้หรือไม่ ?
					</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : หากคุณจะไม่เคยเป็นลูกค้าของ OfficeMate แต่ต้องการทราบละเอียดและทดลองใช้ระบบ
						สามารถติดต่อได้ที่ OfficeMate e-Business Consultant: 02-739-5555 ต่อแผนก e-Business
						หรือ eprocurement@officemate.co.th และแจ้งชื่อ ที่อยู่บริษัท ชื่อผู้ติดต่อ พร้อมหมายเลขโทรศัพท์ติดต่อกลับ
						หรือกรอกแบบฟอร์มออนไลน์ได้ที่ www.officemate.co.th/eprocurement เพื่อเจ้าหน้าที่
						OfficeMate e-Business Consultant จะนัดหมายเวลาติดต่อขอเข้าพบเพื่อชี้แจงถึงรายละเอียดการใช้งานระบบโดยละเอียด
						และท่านสามารถเข้าชม Demo Online ได้ที่ www.officemate.co.th/eprocurement</p>
					<p class="pTitle">
						2. องค์กรแบบไหนที่เหมาะกับการใช้งานระบบ e-procurement ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : 1. พร้อมที่จะนำเทคโนโลยีใหม่ๆมาช่วยในการเพิ่มประสิทธิภาพของการดำเนินงานขององค์กร
						<br />
						2. ให้ความสำคัญกับคุณค่าทางด้านบริการ และคุณภาพสินค้าเป็นสำคัญ
						<br />
						3. กลุ่มผู้ใช้งานระบบ OfficeMate e-Procurement (Requester, Approver and Admin) สามารถใช้
						Internet ได้ และมี e-Mail address เพื่อการติดต่อ</p>
					<p class="pTitle">
						3. การสั่งซื้อทางเว็บไซต์ปกติ และการสั่งซื้อทางระบบ e-Procurement แตกต่างกันอย่างไรค่ะ
						?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : การสั่งซื้อทั้ง 2 ช่องทาง เป็นการสั่งซื้อผ่านระบบอินเตอร์เน็ต
						โดยระบบ OfficeMate e-Procurement จะเป็น ระบบจัดซื้อแบบ paperless ที่ออฟฟิศเมท ออกแบบโปรแกรมให้เหมาะกับรูปแบบการสั่งซื้อในแต่ละองค์กรอย่างมีประสิทธิภาพ
						มีรายงานในทุกขั้นตอนการทำงาน ง่ายต่อการควบคุมสำหรับท่านค่ะ</p>
					<p class="pTitle">
						4. หากต้องการใช้ระบบ Officemate e-Procurement จะต้องใช้เวลาเท่าไร นับตั้งแต่วันที่แจ้ง
						ความต้องการ ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : ระยะเวลาในการติดตั้งระบบขึ้นอยู่กับจำนวนผู้ใช้งาน
						หากมีผู้ใช้งานระบบประมาณ 1-5 ท่าน จะใช้เวลาในการ Implement ประมาณ 1 ชม. เท่านั้น
						ก็จะสามารถใช้ระบบได้ทันที</p>
					<p class="pTitle">
						5. ทำไมจึงต้องเปลี่ยนมาใช้ระบบ OfficeMate e-Procurement ช่วยอธิบายข้อดีของระบบ OfficeMate
						e-Procurement ที่ดีกว่าระบบการจัดซื้อแบบปกติ ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> :
						<br />
						1. เป็นระบบที่ช่วยลดขั้นตอน เวลาดำเนินการ
						<br />
						2. ลดค่าใช้จ่ายในกระบวนการสั่งซื้ออุปกรณ์สำนักงาน
						<br />
						3. ลดงานเอกสารด้านจัดซื้อและเบิกจ่าย
						<br />
						4. ลดความผิดพลาดที่เกิดขึ้นจากการทำเอกสาร และลดปริมาณการจัดซื้อนอกระบบ ซึ่งทั้งหมดนี้นับเป็นต้นทุนการดำเนินงาน
						ที่หลายๆ องค์กรมักจะมองข้ามไป
						<br />
						5. สามารถติดตามและตรวจสอบสถานะของเอกสารได้ตลอดเวลาด้วยระบบออนไลน์ ผ่านเว็บ Browser
						ที่ออฟฟิศเมทได้จัดเตรียมไว้ให้ ทำให้ผู้ใช้งานสามารถตรวจสอบได้ว่าใบขอซื้อ (Purchase
						Requisition) และใบสั่งซื้อ (Purchase Order) อยู่ในขั้นตอนใด
						<br />
						6. กระบวนการอนุมัติสะดวกรวดเร็วขึ้น โดยผู้อนุมัติสามารถตรวจสอบและอนุมัติใบขอซื้อแบบออนไลน์ผ่านระบบอินเตอร์เน็ตจากสถานที่ใดก็ได้
						เป็นการลดภาระข้อจำกัดเรื่องเวลาและสถานที่
						<br />
						7. ช่วยลดความยุ่งยากในการทำงานของฝ่ายจัดซื้อ เพื่อให้สามารถมุ่งเน้นไปในด้านการจัดหา
						คัดเลือก แทนการจัดการด้านงานเอกสารและการคอยตามแก้ปัญหาเรื่องการสั่งซื้อสินค้า</p>
					<p class="pTitle">
						6. การใช้ระบบของ OfficeMate e-Procurement มีค่าใช้จ่ายอย่างไร ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : OfficeMate e-Procurement ไม่มีค่าบริการแต่อย่างใด
						เนื่องจากเป็นบริการเสริมที่สร้างขึ้นมาเพื่อเพิ่มประสิทธิภาพของการสั่งซื้อสินค้า
						และสร้างความพึงพอใจให้กับลูกค้าของออฟฟิศเมทค่ะ</p>
					<p class="pTitle">
						7. ต้องมีการ Install ระบบอะไรบ้างหรือไม่ เพราะอาจมีการรบกวนระบบการทำงานภายในของบริษัท
						?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : ระบบ OfficeMate e-Procurement ทำงานผ่านระบบ
						Internet เหมือนการใช้งาน Web site ทั่วไป ดังนั้นจึงไม่มีการลงระบบใดๆ ทั้งสิ้นบนเครื่องของท่านค่ะ</p>
					<p class="pTitle">
						8. ปัจจุบันระบบ OfficeMate e-Procurement มีผู้ใช้งานมากน้อยอย่างไร และผลการใช้งานเป็นอย่างไรบ้าง
						?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : ปัจจุบัน ระบบ OfficeMate e-Procurement ได้ให้บริการแก่องค์กรกว่า
						600 องค์กรกว่า 20,000 ผู้ใช้งาน ซึ่งมีทั้งองค์กรขนาดเล็กและขนาดใหญ่ โดยสามารถรองรับการทำงานของแต่ละองค์กรได้
						โดยไม่ต้องปรับเปลี่ยนขั้นตอนการขององค์กรนั้นๆ และใช้เวลาในการขึ้นระบบที่สั้น เพียง
						15 วันทำการ ก็สามารถเริ่มใช้ระบบได้ทันที องค์กรของท่านจึงเสมือนได้รับ ระบบการสั่งซื้อที่มีประสิทธิภาพ
						และได้รับ Best Practice จากประสบการณ์ที่ OfficeMate ได้สร้างระบบการสั่งซื้ออุปกรณ์สำนักงานให้กับองค์กรชั้นนำต่างๆ</p>
					<p class="pTitle">
						9. OfficeMate e-Procurement ทำงานยังไง ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : แบ่งคนใช้งานเป็น 3 กลุ่มคือ
						<br />
						1. ผู้ขอซื้อ (Requester) ทำหน้าที่เสนอขอซื้อสินค้า โดยออกเป็นใบขอซื้อ (Purchase
						Requisition)
						<br />
						2. ผู้อนุมัติ (Approver) ทำหน้าที่พิจารณาอนุมัติการเสนอขอซื้อสินค้าจากผู้ขอซื้อ
						<br />
						3. เจ้าหน้าที่จัดซื้อกลาง (Admin) ทำหน้าที่ดำเนินการเกี่ยวกับแคตตาล็อค, โครงสร้างการจัดซื้อขององค์กรและผู้ใช้ระบบ</p>
					<p class="pTitle">
						ขั้นตอนการทำงานของระบบ e-Procurement</p>
					<p class="epro-p">
						1. Requester เข้าไปเลือกสินค้าที่ต้องการ และสร้างใบขอซื้อ (Purchase Requisition)
						<br />
						2. Approver เข้าระบบ เพื่อทำการอนุมัติใบขอซื้อ (Purchase Order)
						<br />
						3. บริษัท ซีโอแอล จำกัด (มหาชน) ดำเนินการจัดส่งสินค้าตามใบสั่งซื้อ
						<br />
						4. ต้องการให้ระบบการจัดซื้ออุปกรณ์ เครื่องใช้สำนักงานมีความโปร่งใส
						<br />
						5. องค์กรของท่านต้องสามารถใช้งาน Internet ได้ (ie Version 6 ขึ้นไป)
					</p>
					<p class="pTitle">
						10. ระบบ e-Procurement มี menu การใช้งานเป็นภาษาอังกฤษมั้ยคะ ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : ระบบ e-Procurement มี 2 ภาษาให้ผู้ใช้งานสามารถเลือกใช้งานได้ตามความสะดวก
						คือ ภาษาไทย กับ ภาษาอังกฤษ ซึ่งถ้า User เลือกที่จะใช้งานเมนูภาษาอังกฤษ ไม่ว่าจะเป็นเมนู
						หรือรายละเอียดของสินค้าในระบบ e-Procurement ก็จะแสดงเป็นภาษาอังกฤษทั้งหมด รวมไปถึง
						e-mail ที่จะส่งไปให้ผู้อนุมัติรับทราบ นั้นก็สามารถกำหนดให้หน้า e-mail เป็น ภาษาอังกฤษได้เช่นเดียวกัน
						โดยสามารถไปตั้งค่าเลือกภาษาที่จะใช้งานได้ในเมนู Setting</p>
					<p class="pTitle">
						11. ถ้าใช้ระบบ e-Procurement ในการสั่งซื้อสินค้านั้น การบริการจัดส่งสินค้าให้ฟรีนั้น
						จะต้องมียอดสั่งซื้อขั้นต่ำหรือไม่ค่ะ และถ้าบริษัทอยู่ต่างจังหวัด สามารถจัดส่งสินค้าให้ได้หรือเปล่าค่ะ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : สำหรับในเขตกรุงเทพ และปริมณฑล ( สมุทรปราการ
						นนทบุรี และบางพื้นที่ของจังหวัดนครปฐม ชลบุรี อยุธยา ระยอง ปทุมธานี ฉะเชิงเทรา สมุทรสาคร
						ปราจีนบุรี สระบุรี ) หากท่านมียอดการสั่งซื้อสินค้า 499 บาทขึ้นไป บริษัทฯ บริการจัดส่งสินค้าให้ฟรีภายในวันทำการถัดไป
						แต่หากท่านมียอดสั่งซื้อต่ำกว่า 499 บาท บริษัทฯ จะมีค่าบริการในการจัดส่งเพียง 50
						บาท ต่อ 1 บิลการสั่งซื้อค่ะ โดยหากท่านเป็นลูกค้าต่างจังหวัด ท่านจะสามารถได้รับสินค้าภายใน
						3 - 7 วันทำการ สำหรับสินค้าบางรายการที่มีขนาดใหญ่หรือน้ำหนักมากอาจมีค่าจัดส่งเพิ่มเป็นพิเศษตามที่ระบุเอาไว้ในรายละเอียดของสินค้านั้นๆค่ะ</p>
					<p class="pTitle">
						12. หากสั่งซื้อผ่านระบบ OfficeMate e-Procurement มีบริการรับเปลี่ยนคืนสินค้าหรือมีบริการหลังการขายให้หรือไม่ค่ะ
						?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : ออฟฟิศเมทเรายินดีรับเปลี่ยนคืนสินค้าภายใน 7
						วัน (ยกเว้นสินค้าสั่งซื้อพิเศษ หรือสั่งผลิต) สามารถแจ้งความประสงค์ที่ต้องการเปลี่ยนสินค้าได้ในเมนู
						'Contact us' จะมีเจ้าหน้าที่ติดต่อกลับเพื่อรับเรื่องในการดำเนินการเปลี่ยนสินค้า
						โดยสินค้าที่ส่งคืนจะต้องอยู่ในสภาพที่สมบูรณ์ ภายในหีบห่อบรรจุเดิมพร้อมเอกสารใบเสร็จรับเงิน
						/ ใบกำกับภาษี ซึ่งออฟฟิศเมทจะรีบดำเนินการรับคืนหรือเปลี่ยนสินค้าให้ท่านภายใน 3 วันทำการค่ะ
						สำหรับสินค้าประเภทเครื่องใช้ไฟฟ้า เครื่องใช้สำนักงาน หรือ สินค้า IT โดยทั่วไปรับประกันการใช้งาน
						1 ปี หรือระยะเวลาตามผู้ผลิตกำหนดในใบรับประกัน กรณีที่สินค้ามีปัญหาจากการผลิต ออฟฟิศเมท
						จะดำเนินการเปลี่ยนหรือแก้ไขปัญหาให้ตามนโยบายของผู้ผลิต</p>
					<p class="pTitle">
						13. อยากทราบสิทธิพิเศษที่ดิฉันจะได้รับเมื่อสั่งซื้อผ่านระบบ OfficeMate e-Procurement
						?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : นอกเหนือจากที่จะทำให้คุณลดต้นทุนในเรื่องการสั่งซื้อ
						สินค้าที่มีคุณภาพ และบริการหลังการขายที่ดีเยี่ยมแล้ว คุณยังได้รับสิทธิพิเศษในการเป็นสมาชิกของโครงการ
						Officemate Member Rewards 2 เท่า โดยสั่งซื้อทุกๆ 100 บาท จะได้รับ 10 คะแนนไว้สะสม
						เพื่อนำมาแลกของรางวัลที่มีให้เลือกอย่างมากมายใน www.redeemcenter.com/ofm ค่ะ</p>
				</div>
				<!--tab2 -->
				<div id="tab2" class="tab_content">
					<p class="pTitle">
						1. หากมีข้อสงสัยเกี่ยวกับการใช้งาน OfficeMate e-Procurement จะติดต่อกับใครได้</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : หากต้องการสอบถามข้อมูลสินค้า หรือการใช้งานระบบ
						ท่านสามารถติดต่อเจ้าหน้าที่ OfficeMate หรือเจ้าหน้าที่ให้ บริการข้อมูลของ ออฟฟิศเมท
						ตามรายละเอียดในหน้าจอหลัก ในส่วนของ Contact Information</p>
					<p class="pTitle">
						2. ขั้นตอนการทำใบสั่งซื้อเป็นอย่างไร ?
					</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : ผู้ใช้งานเข้าสู่ระบบ e-Procurement แล้วก็ทำการเลือกสินค้าที่ต้องการโดยเลือกจากหมวดสินค้า
						ประเภทต่าง ๆ ด้านซ้ายมือ ใส่จำนวนที่ต้องการในช่องจำนวนของสินค้าที่เลือก เมื่อทำการเลือกสินค้าเรียบร้อยแล้วคลิก
						จัดทำใบสั่งซื้อ ระบบจะถามว่าจะบันทึกข้อมูลการสั่งหรือไม่ หลังจากนั้นระบบจะขึ้นข้อความยืนยันการทำใบสั่งซื้อ
						แล้วรอผลพิจารณาจากผู้อนุมัติ สามารถศึกษาวิธีการใช้งานเพิ่มเติมได้อย่างละเอียดจากเอกสารประกอบการใช้งานหรือดาวน์โหลดที่
						'Instruction'</p>
					<p class="pTitle">
						3. ผู้อนุมัติสามารถทำการอนุมัติได้จากช่องทางไหนบ้าง?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : จาก e-Mail แจ้งการขอซื้อที่ระบบจัดส่งให้ โดยคลิ๊ก
						Link ที่คำว่า "คลิ๊กที่นี่เพื่อพิจารณาใบขอซื้อ" 3.2 ผ่านหน้า web site e-Procurement
						ของท่าน โดยใช้ User name คือ e-Mail Address ของผู้อนุมัติเอง และใช้ Password เดียวกับที่ใช้อนุมัติผ่าน
						e-Mail การอนุมัติ จะต้องกรอก Password ก่อนคลิกพิจารณาใบขอซื้อ หลังจากนั้น ระบบจะขึ้นข้อความยืนยันให้ทราบ
						และจะมี e-Mail แจ้งกลับไปให้ผู้ขอซื้อทราบด้วยว่าได้รับการอนุมัติใบขอซื้อนั้นแล้ว
						การอนุมัติ จะต้องกรอก Password ก่อนคลิกพิจารณาใบขอซื้อ หลังจากนั้น ระบบจะขึ้นข้อความยืนยันให้ทราบ
						และจะมี e-Mail แจ้งกลับไปให้ผู้ขอซื้อทราบด้วยว่าได้รับการอนุมัติใบขอซื้อนั้นแล้ว</p>
					<p class="pTitle">
						4. จะทราบได้ยังไงว่าใบขอซื้อมีการอนุมัติแล้ว</p>
					<p class="epro-p">
						หลังจากที่ผู้อนุมัติทำการอนุมัติใบสั่งซื้อแล้ว ระบบจะส่ง e-Mail แจ้งให้ผู้ที่ทำใบขอซื้อทราบ
						หรือผู้ขอซื้อ สามารถตรวจสอบได้ โดยเข้าเมนูดูรายงาน แล้วคลิ๊ก Track My Order หากสถานะ
						ใบสั่งซื้อ เป็น APP (Approved) หมายถึงใบสั่งซื้อนั้น มีการอนุมัติเรียบร้อยแล้ว</p>
					<p class="pTitle">
						5. ต้องการสินค้าที่ไม่มีอยู่ในระบบ e-Procurement จะต้องทำอย่างไง?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : เนื่องจากสินค้าที่มีอยู่ใน e-Catalog ของท่านเป็นสินค้าที่ถูกเลือกสรร
						โดยฝ่ายจัดซื้อกลางขององค์กรท่าน หากท่านต้องการสั่งซื้อสินค้า ที่ไม่มีอยู่ใน e-Catalog
						ท่านสามารถติดต่อเจ้าหน้าที่จัดซื้อกลาง โดยทำการ Request ที่เมนู "Special Request"
						และใส่รหัสสินค้าที่ต้องการ (สามารถดูรหัสและรายละเอียดของสินค้าได้จาก (www.officemate.co.th)
						หลังจากนั้นคลิก submit request ระบบจะแสดงรายการสินค้าที่ท่าน Request คลิก "confirm"
						เพื่อส่งให้จัดซื้อกลางทราบ หากจัดซื้อกลางของท่านเห็นชอบให้ใช้ได้ เจ้าหน้าที่จัดซื้อกลางจะเป็นผู้ดำเนินการเพิ่มรหัสสินค้านั้นให้
						หมายเหตุ : การใช้เมนู "ต้องการสินค้าพิเศษ" ไม่ใช่การสั่งซื้อสินค้า เป็นเพียงการทำ
						Request ให้ผู้มีอำนาจทราบว่าต้องการสินค้านอกเหนือจากที่กำหนดไว้ใน e-Catalog เท่านั้น
					</p>
					<p class="pTitle">
						6. มีการอนุมัติใบสั่งซื้อไปแล้วทำไมยังไม่ได้รับสินค้า</p>
					<p class="epro-p">
						ผู้ขอซื้อ สามารถตรวจสอบได้ว่าใบขอซื้อได้รับการอนุมัติแล้วหรือไม่ โดยเช็คจาก เมนู
						"Report" คลิก "Pending Order" จะพบเลขที่ใบขอซื้อ ดูในช่องสถานะว่าเป็นสถานะ APP (Approved)
						แล้วหรือไม่ ถ้าเป็น WFA. (Waiting For Approve ) ผู้ขอซื้อ ต้องแจ้งให้ผู้อนุมัติ
						ดำเนินการอนุมัติ Order นั้นก่อน หากพบว่าใบขอซื้อ นั้นมีสถานะเป็น APP. และถึงกำหนดส่งสินค้า
						ที่ได้ทำการตกลงกับออฟฟิศเมท แต่ยังไม่ได้รับสินค้าสามารถติดต่อ OfficeMate Call Center
						02-739-5555 เพื่อสอบถามข้อมูลการจัดส่งสินค้า</p>
					<p class="pTitle">
						7. ต้องการดูประวัติการสั่งซื้อย้อนหลังเพื่อวิเคราะห์การสั่งซื้อ ต้องทำอย่างไร</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : ท่านสามารถดูได้โดยเข้า เมนู "Report" แล้วคลิก
						"My Historical Order" หน้าจอจะแสดง ใบขอซื้อทั้งหมด พร้อมวันที่ ที่ท่านสร้าง และสถานะใบขอซื้อทั้งหมดว่าอยู่ในขั้นตอนใด
						รวมถึงยอดรวมการขอซื้อทั้งหมด</p>
					<p class="pTitle">
						8. My Catalog คืออะไร แตกต่างจาก e-Catalog อย่างไร</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : My Catalog จะเป็นอีก 1 เมนูที่จะช่วยให้ผู้ขอซื้อทำงานได้ง่ายขึ้น
						ผู้ขอซื้อสามารถเลือกเก็บรายการสินค้าที่ต้องการสั่งซื้ออยู่เป็นประจำได้ โดยไม่จำเป็นต้องไปเลือกใหม่จาก
						e-Catalog ในทุกๆครั้งที่ต้องการซื้อสินค้านั้น ซึ่งผู้ขอซื้อสามารถสร้างรายการสินค้าที่ต้องการสั่งซื้ออยู่เป็นประจำได้โดยการ
						คลิกที่ My catalog แล้ว คลิกที่ เพิ่มหรือลดรายการสินค้าที่สั่งซื้อบ่อย เพื่อเลือกสินค้าเข้าไว้ใน
						My Catalog</p>
					<p class="pTitle">
						9. หากลืม Password ในการ Log in จะต้องทำอย่างไร</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : หาก User ลืม Password ของตัวเองในการ Log in
						เข้าสู่ระบบ e-procurement นั้น ให้คลิกที่ Forgot password ซึ่งจะอยู่ที่หน้าแรกของระบบ
						e-procurement หลังจากนั้นจะมีหน้าต่างขึ้นมาให้ท่านใส่ e-Mail Address ของท่าน หลังจากนั้นระบบ
						จะทำการส่ง Password ไปยัง e-Mail ของท่าน</p>
				</div>
				<!--tab3 -->
				<div id="tab3" class="tab_content">
					<p class="pTitle">
						1. หากมีข้อสงสัยเกี่ยวกับการใช้งาน OfficeMate e-Procurement จะติดต่อทางใดได้บ้าง
						?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : หากต้องการสอบถามข้อมูลสินค้า หรือการใช้งานระบบ
						ท่านสามารถติดต่อเจ้าหน้าที่ออฟฟิศเมท โดยเลือกในเมนูส่วนของ 'contact us' หรือ สอบถามได้ที่
						e-Business Consultant แผนก e-Business โทร. 0-2739-5555 กด 3, Fax 02-763-5555, e-Mail
						eprocurement@officemate.co.th</p>
					<p class="pTitle">
						2. หากต้องการแก้ไขรายละเอียดของผู้ใช้งานในระบบ เช่น เพิ่มหรือลบ จำนวนผู้ใช้งาน หรือ
						Cost Center จะทำอย่างไร ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : ผู้ใช้งานสามารถเลือกเมนูต่างๆ เพื่อเพิ่ม แก้ไข
						หรือลบ ได้จากที่นี่ค่ะ
					</p>
					<img alt="" src="/images/tab/menuadmin.gif" class="image-center" />
					<br class="eclear" />
					<p class="pTitle">
						3. หากต้องการดูรายงาน เพื่อการจัดการทั้งหมด จะเรียกดูได้จากตรงไหน ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : คลิ๊กที่เมนู Report ที่เมนูบาร์ด้านบน ซึ่งจะแสดงเมนูต่างๆ
						เพื่อเรียกดูรายงานที่คุณต้องการค่ะ</p>
					<img alt="" src="/images/tab/report.gif" class="image-center" />
					<br class="eclear" />
					<p class="pTitle">
						4. เจ้าหน้าที่จัดซื้อกลาง หรือ ผู้ที่มีสถานะเป็น Admin ของระบบ สามารถ สั่งซื้อสินค้าได้เองหรือไม่
						?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> : สามารถสั่งซื้อได้ เมื่อมีการกำหนดให้จัดซื้อกลาง
						ให้มีสถานะเป็นทั้ง admin และ requester หรือจะกำหนดให้เป็น approver ในบุคคลเดียวกันด้วยก็ได้
						แต่จะต้องมีการกำหนดตั้งแต่แรก มิฉะนั้น จัดซื้อกลางก็จะทำการสั่งซื้อไม่ได้ เนื่องจากระบบมีการแบ่งแยกหน้าที่การทำงานอย่างชัดเจนว่า
						ผู้มีที่มีสถานะเป็น Requester เท่านั้น จึงจะมีในการหน้าที่สั่งซื้อสินค้า ส่วนผู้ที่มีสถานะเป็น
						Approver ก็จะมีหน้าที่เป็นผู้อนุมัติเท่านั้น และผู้ที่มีสถานะเป็น Admin ระบบ ก็จะมีหน้าที่เป็นผู้ดูแลความเรียบร้อยของระบบเช่นเดียวกัน</p>
					<p class="pTitle">
						5. e-Mail Address ที่ใช้งานเป็น User Log In ต้องมีลักษณะอย่างไร ?</p>
					<p class="epro-p">
						<span class="ansColor">ตอบ</span> :
						<br />
						- ควรจะเป็น e-Mail Address ที่ออกให้โดยองค์กรของท่านที่ใช้อยู่
						<br />
						- มีจำนวนของตัวอักษร (รวมเครื่องหมาย @ . _หรืออื่นๆ) ไม่เกิน 20 ตัวอักษร
						<br />
						- หนึ่ง e-Mail Address สามารถใช้ได้สำหรับ User ID เท่านั้น</p>
				</div>
			</div>
		</div>
	</div>
</asp:Content>
