﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/StaticPage/Intro.Master"
	Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<br />
	<span class="pTitle">ส่วนหนึ่งจากผู้ใช้งานระบบ Customers Reference</span>
	<p class="pTitle">
		&quot;ยุคหน้าคือโลกแห่งการทำธุรกรรมบนอินเทอร์เน็ต&quot;</p>
	<div class="epro-p" style="padding-left:20px;">
		<%--<p style="font: 11px/14px tahoma gray">--%>
		<p style="padding-left:20px;">
			คุณกฤษดา โกมลมิศร์<br />
			ผู้จัดการฝ่ายทรัพยากรมนุษย์และกิจการสัมพันธ์<br />
			บริษัท ท่อส่งปิโตรเลียมไทย จำกัด</p>
		<p>
			<img src="/images/index/ref3.jpg" style="float: left; margin-right: 10px;" />บริษัท
			ท่อส่งปิโตรเลียมไทย จำกัด เป็นหนึ่งในบรรดาองค์กรชั้นนำของเมืองไทยที่ใช้ระบบ e-Procurement
			กับบริษัท ซีโอแอล จำกัด (มหาชน) ที่เน้นความสะดวก รวดเร็ว ปลอดภัย และขนส่งได้ปริมาณที่มาก
			ๆ อย่างมีคุณภาพ ส่วนหนึ่งของความสำเร็จของหน่วยงานแห่งนี้คือการเลือกใช้บริการจัดหาอุปกรณ์สำนักงานให้ตรงกับความต้องการและคุ้มค่ามากที่สุด
		</p>
		<p>
			บริษัทท่อส่งปิโตรเลียมไทย จำกัด ทำธุรกิจทางด้านไหน ธุรกิจของเราคือการให้บริการขนส่งน้ำมัน
			ซึ่งตัวน้ำมันก็มาจากบริษัทน้ำมันใหญ่ ๆ ทั้งหมดที่รวมตัวเป็นเจ้าของแล้วก็ส่งน้ำมันมาให้เรา
			ฉะนั้นคนมารับก็คือเจ้าของน้ำมันเช่นกัน จะเห็นว่ารถน้ำมันที่มารับก็เป็นของบริษัทน้ำมัน
			เราจึงเป็นตัวกลางให้บริการขนส่งคอยจ่ายน้ำมันให้ ธุรกิจของเราขนส่งน้ำมันมาจากโรงกลั่น
			โดยมีปณิธานเน้นการจัดส่งน้ำมันที่รวดเร็ว มีประสิทธิภาพ และความปลอดภัยสูง&nbsp;
		</p>
		<p>
			วัตถุประสงค์ของบริษัทแห่งนี้คืออะไร บริษัทตั้งขึ้นจากมติคณะรัฐมนตรีเพื่อให้ลดการขนส่งน้ำมันทางรถยนต์ที่จะเข้าไปรับในกรุงเทพฯ
			โดยเริ่มดำเนินงานมาตั้งแต่ปี 2534 เพราะถ้าไปรับน้ำมันที่ช่องนนทรี โอกาสที่จะเกิดอุบัติเหตุค่อนข้างสูง
			รัฐบาลจึงมีมติให้ขนส่งน้ำมันทางท่อ ซึ่งลดการเข้าไปรับน้ำมันในเมือง ส่วนผู้ถือหุ้นใหญ่ก็มี
			ปตท. เอสโซ่ เชลล์ เชฟรอน ปิโตรนาส Q8 BP ไทยออยล์ โดยใช้งบประมาณลงทุนกว่า 10,000
			ล้านบาท
		</p>
		<p>
			&nbsp;ระบบขนส่งน้ำมันทางท่อมีวิธีการส่งอย่างไร ใช้ท่อน้ำมันท่อเดียว แต่แยกน้ำมันเป็น
			5 ชนิด ส่งพร้อมกันในเวลาเดียวกัน ท่อส่งจากศรีราชามาลำลูกกาเป็นขนาด 24 นิ้ว จากนี้ไปสระบุรีเป็นขนาด
			18 นิ้ว น้ำมันที่ส่งก็จะเป็นน้ำมัน5 ประเภท
		</p>
		<p>
			แต่การส่งน้ำมันทั้ง 5 ชนิดพร้อมกันจะต้องมีการดีไซน์ว่าน้ำมันอะไรจะต้องอยู่ตรงช่วงไหน
			มีการวางแผนการส่งในล็อตใหญ่ ๆ เช่นเราส่งให้สนามบินสุวรรณภูมิถึงวันละ 9-10 ล้านลิตร
			เปรียบเทียบกับสมัยก่อนที่ใช้รถขนาด 15,000 ลิตรวิ่งต้องใช้รถวิ่ง 300-400 กว่าเที่ยว
			แต่ปัจจุบันใช้เวลาค่อนข้างสั้น และยังมีความปลอดภัย ประหยัดค่าใช้จ่าย ถือเป็นค่าขนส่งถูกที่สุดเมื่อเทียบกับรถไฟหรือรถยนต์
			และคุณภาพของน้ำมันจะดีกว่า เพราะควบคุมด้วยระบบคอมพิวเตอร์ทั้งหมดทั้งการดีไซน์และคอนโทรล
		</p>
		<p>
			แผนการขยายงานในอนาคตของบริษัท ถ้าคุ้มทุนจริง ๆ ก็จะไปตั้งที่อีสานกับเหนือ ไปตั้งที่ขอนแก่นและพิษณุโลก
			ในอนาคตจะทำให้ราคาที่กรุงเทพและต่างจังหวัดแทบจะไม่แตกต่างกัน เพราะทุกวันนี้ ยิ่งไกลยิ่งแพง
			แต่ปัญหาคือการลงทุนค่อนข้างสูง ทุกวันนี้ท่อปริมาณ 24 นิ้วมีการใช้งานจริงเพียง 40
			เปอร์เซนต์ยังไม่เต็มร้อย เพราะบางบริษัทยังใช้รถวิ่งอยู่ไปรับจากระยอง ไปรับจากโรงกลั่น
			ถ้าทุกคนมาใช้ระบบท่อเต็มร้อย จะทำให้คุ้มทุนเร็วขึ้น
		</p>
		<p>
			รู้จักและใช้บริการของออฟฟิศเมทได้อย่างไร ตอนนั้นเล่นคอมพิวเตอร์อยู่ได้เสิร์ชเข้าไปเพื่อหาอุปกรณ์อย่างหนึ่งไป
			แล้วเจอออฟฟิศเมท คิดว่าน่าสนใจดีก็เข้าไปดู ลองแนะนำลูกน้องให้ติดต่อดูลองไปเทสต์สั่งก็โอเค
			เห็นว่าค่อนข้างคล่องตัวดี เราก็ทำคอนแทกซ์ติดต่อ ปัจจุบันเราเป็นลูกค้าของออฟฟิศเมท
			มาเกือบปีกว่า
		</p>
		<p>
			ชื่นชอบและประทับใจอะไรในออฟฟิศเมท ชอบตรงคอนเซ็ปต์ที่ว่าบริษัทไหนก็สั่งซื้อบนเว็บไซต์ได้
			เพราะมีความคิดตรงกับผม แทนที่ต้องให้คนหรือเด็กในสำนักงานไปซื้อตามตลาด หรือห้างสรรพสินค้าทั่วไป
			ทำให้เสียเวลา สู้ใช้วิธีสั่งซื้อทางอินเทอร์เน็ตดีกว่า ซึ่งผมคิดว่าเรามีเป้าหมายเหมือนกัน
			ชอบออฟฟิศเมทตรงที่ความรวดเร็ว คือถ้าสั่งวันนี้พรุ่งนี้ได้สินค้าแล้ว และการบริการก็ค่อนข้างดีให้ข้อมูลและติดต่อรับทราบปัญหาค่อนข้างเร็ว
		</p>
		<p>
			&nbsp;สินค้าครอบคลุมความต้องการหรือไม่ แรก ๆ ยังไม่หลากหลาย แต่ตอนหลังสินค้าบอกได้คำเดียวว่า
			หลากหลายมาก บางทีพอจำในแคตาล็อกว่าสินค้านี้อยู่หน้าไหนได้ ก็เปลี่ยนเพิ่มรายการสินค้าขึ้นอีกแล้ว
			ถือว่าดีเยอะ และหลากหลายขึ้นทุกปี ครอบคลุมกับความต้องการภายในสำนักงานได้เป็นอย่างดี
		</p>
		<p>
			รูปแบบการสั่งซื้อสินค้าใช้วิธีการสั่งซื้อแบบไหน ตอนนี้เราสั่งสินค้าโดยการใช้ e-Procurement
			กับออฟฟิศเมท
		</p>
		<p>
			อยากให้ออฟฟิศแมทปรับปรุงตรงส่วนไหนบ้าง อยากให้ระวังคู่ต่อสู้ ที่จะดึงลูกค้าโดยใช้การตัดราคา
			ต้องแก้โดยมีโปรโมชั่นส่วนลด มีสัดส่วนเท่าไหร่ ถ้าบริการดีด้วยและราคาสมน้ำสมเนื้อกืถือว่าโอเคสำหรับลูกค้าที่จะยังคงใช้บริการตลอดไป
			แต่ออฟฟิศเมทได้เปรียบคู่แข่งคือรวดเร็ว และมีระบบขนส่งที่เป็นเครือข่าย สั่งของแล้วรอได้เลยอีกวัน
			ซึ่งที่อื่นยังทำไม่ได้ตรงจุนี้ และถือว่าออฟฟิศเมทเป็นผู้นำสินค้าแค็ตตาล็อกและระบบออนไลน์
			ที่มีจุดแข็งคือช่วยประหยัดเวลา แรงงานและค่าใช้จ่ายในการเดินทาง ลูกค้าสามารถสั่งโดยดูจากแค็ตตาล็อกหรือออนไลน์ได้เลย
			โดยไม่จำเป็นต้องมีหน้าร้านที่เป็นรูปแบบโบราณอยู่ ถือว่ามีวิสัยทัศน์ที่ยอดเยี่ยมครับ
		</p>
		<%=Html.ActionLink("กลับหน้าแรก", "LogIn", "Account")%>
	</div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="JavaScriptContent" runat="server">
</asp:Content>
