﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/StaticPage/Intro.Master"
	Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<br />
	<span class="pTitle">ส่วนหนึ่งจากผู้ใช้งานระบบ Customers Reference</span>
	<p class="pTitle">
		&quot;ประหยัดเวลา ย่อมประหยัดค่าใช้จ่าย&quot;</p>
	<div class="epro-p" style="padding-left:20px;">
		<p>
			สนธิ พึ่งศรีเพ็ง<br />
			ส่วนบุคคลและกิจการทั่วไป<br />
			บริษัท สยามนิสสัน บอดี้ จำกัด</p>
		<p>
			<img src="/images/index/ref2.jpg" style="float: left; margin-right: 10px;" />แรกที่ได้ยินชื่อบริษัทสยามนิสสัน
			บอดี้ จำกัด หลายคนอาจคิดว่า ต้องเป็นบริษัทที่ให้บริการอะไหล่รถยนต์ยี่ห้อนิสสันแน่
			ๆ แต่อันที่จริง ที่นี่รับให้บริการรถยนต์ทุกยี่ห้อเลยทีเดียว บริษัท สยามนิสสัน บอดี้
			จำกัด เป็นบริษัทในเครือสยามกลการ ได้ให้บริการแก่ลูกค้ามานานกว่า 30 ปีแล้ว โดยเน้นการซ่อมสีรถยนต์เป็นหลัก
			“เราเน้นการซ่อมสีตัวถังรถยนต์ ซึ่งการทำงานของเราจะต่างจากอู่ธรรมดา ๆ ทั่วไปเพราะ
			เพราะเราจะเน้นเรื่องคุณภาพของสี วัตถุดิบ อะไหล่จะต้องเป็นของแท้ การให้บริการต้องดี
			เรื่องของฝีมือ ประสบการณ์นี่รับประกันได้ เพราะเราอยู่มายาวนานขนาดนี้ ช่างของเราเป็นช่างของนิสสันโดยตรง”
			คุณสนธิเล่าถึงหลักการทำงานของบริษัทอย่างน้ำเสียงหนักแน่นและภาคภูมิใจ
		</p>
		<p>
			ทุกวันนี้ บริษัท สยามนิสสัน บอดี้ จำกัด มีอยู่ทั้งหมด 5 สาขาในกรุงเทพฯ คือ สาขา
			ลาดพร้าว สาขาหนองแขม (ตรงข้ามมหาวิทยาลัยเอเชียอาคเนย์) สาขาศูนย์บางจาก สุขุมวิท
			101 สาขาบางนา-ตราด กม. 12 และสาขาศูนย์วิภาวดี ( สำนักงานใหญ่) ซึ่งแนวโน้มของบริษัทก็ดีขึ้นตามลำดับ
			เพราะทุกวันนี้คนใช้รถยนต์กันมาก ทำให้ในอนาคตอาจขยายสาขาเพิ่มอีกและมีการปรับเปลี่ยนสาขาเดิมให้ทันสมัยยิ่งขึ้น
			ขณะที่แนวโน้มของการให้บริการซ่อมตัวถังรถยนต์ของที่นี่กำลังเติบโตมากขึ้น อุปกรณ์สำนักงานก็ยิ่งมีจำเป็นมากขึ้นทวีคูณ
			ดังนั้น หลังจากที่เคยออกไปซื้อของในห้าง ต้องถือเงินสด และขนของขึ้นรถ เสียเวลากับการซื้อของไปมากมาย
			คุณสนธิ ซึ่งมีหน้าที่ดูแลงานส่วนนี้จึงได้ลองมองหาวิธีการซื้อของใช้สำนักงานแบบใหม่เพื่อลดขั้นตอนและประหยัดเวลาให้มากขึ้น
			“</p>
		<p>
			ตอนนั้นผมไปที่บริษัทของเพื่อน ก็เห็นแคตตาล็อกของออฟฟิศเมท ก็เลยลองเปิดดู เออ ดูเข้าท่าดี
			มีของให้เลือกหลายอย่าง อยากได้อะไรก็เลือกเอา ไม่ต้องออกไปเดินหาตามร้าน ก็เลยลองโทรไปที่ออฟฟิศเมท
			และทางออฟฟิศเมทก็ส่งเจ้าหน้าที่มาคุย แต่เมื่อก่อนยังใช้ใบสั่งซื้อนะครับ ไม่ได้เป็นระบบ
			e-Procurement เราเขียนรายการสั่งของและส่งแฟ็กซ์ไป แต่ละสาขาของเราอยากได้อะไรก็จะเขียนใบเบิกมาให้เรา
			และเมื่อได้ของมาแล้ว แต่ละศูนย์ก็จะต้องเข้ามาเอาที่นี่ มันก็ยุ่งยากหน่อย “แต่พอเป็นระบบ
			OfficeMate e-Procurement ใช้งานได้ดีมาก เพราะแต่ละศูนย์อยากได้อะไรเขาก็จะแสดงรายการมาให้เราดู
			เราก็จะเช็คของที่เขาสั่งในนั้นว่าเหมาะสมไหม เบิกมากไปหรือเปล่า จำเป็นไหม และเราก็ส่งไปให้ออฟฟิศเมท
			และออฟฟิศเมทก็จะส่งของไปให้แต่ละศูนย์เลย ไม่ต้องมารับที่นี่เหมือนเมื่อก่อน มันสะดวกมาก
			“ส่วนเรื่องราคานั้นก็ไม่ได้แตกต่างเท่าไหร่ เพราะแต่ละที่ ราคา คุณภาพ ค่อนข้างใกล้เคียงกันหมด
			แต่เราจะดูที่การจัดซื้อ การจัดส่ง คิดถึงรายละเอียดทั้งหมดแล้ว ผลคือ ที่นี่ทำให้ประหยัดเวลา
			ลดขั้นตอนหลายอย่าง ทำให้ประหยัดค่าใช้จ่ายได้มาก โอเคที่สุดแล้วครับ”
		</p>
		<p>
			สยามนิสสัน บอดี้ ตั้งมานานกว่า 30 ปีแล้ว นอกจากเป็นการพิสูจน์ถึงความมั่นคงในบริการที่มีให้กับลูกค้ามายาวนานแล้ว
			ยังหมายถึงอนาคตที่ดีของบริษัท ซึ่งคุณสนธิและเพื่อนร่วมงานยังคงเป็นแรงขับเคลื่อนอันสำคัญของบริษัทต่อไป
			และแน่นอนว่า บริการจากออฟฟิศเมทยังเป็นส่วนหนึ่งที่ได้ร่วมรับใช้การทำงานของที่นี่
			เพื่อการงานที่ก้าวหน้าของคนไทยต่อไป
		</p>
		<%=Html.ActionLink("กลับหน้าแรก", "LogIn", "Account")%>
	</div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="JavaScriptContent" runat="server">
</asp:Content>
