﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/StaticPage/Intro.Master"
	Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<div style="width: 100%">
		<div class="nivo_slider_plugin">
		<div id="nivo" class="nivoSlider">

			

		   
		  <a href="http://storesupplyuse.officemate.int/Activity/news/LD-Jan16-NewYearBless.html?utm_source=eprocurement-home&utm_medium=main&utm_campaign=Jan16-NewYearBless"
						target="_blank">
						<img width="950" height="400" src="/images/theme/Main-NewYear-Blessing.jpg"class="wp-post-image" alt="" /></a> 
                            
                                    <a href="http://storesupplyuse.officemate.int/Activity/news/LD-Jan16-SOHO.html?utm_source=eprocurement-home&utm_medium=main&utm_campaign=Jan16-LD-Jan16-SOHO"
										target="_blank">
										<img width="950" height="400" src="/images/theme/MainBanner-Jan16-SOHO.jpg"
											class="wp-post-image" alt="" /></a> 

                                            <a href="http://storesupplyuse.officemate.int/Activity/news/LD-Jan-16-BrandOne.html?utm_source=eprocurement-home&utm_medium=main&utm_campaign=Jan-16-BrandOne" target="_blank">
												<img width="950" height="400" src="/images/theme/MainBanner-Jan-16-Brand-One.jpg" class="wp-post-image"
													alt="" /></a>

                                                     <a href="http://storesupplyuse.officemate.int/Activity/news/LD-Jan16-PremuimChair.html?utm_source=eprocurement-home&utm_medium=main&utm_campaign=Jan16-PremuimChair" target="_blank">
												<img width="950" height="400" src="/images/theme/MainBanner-Jan-16-Promotion-PremuimChair02.jpg" class="wp-post-image"
													alt="" /></a>

                                                     <a href="http://storesupplyuse.officemate.int/Activity/news/LD-Jan16-Printingsolution.html?utm_source=eprocurement-home&utm_medium=main&utm_campaign=Jan16-Printingsolution" target="_blank">
												<img width="950" height="400" src="/images/theme/Main-Card1Baht.jpg" class="wp-post-image"
													alt="" /></a>
                        
                   
  
		</div>
	</div>
	</div>
	<img alt="" src="/images/index/slideShadow.jpg" />
	<div id="epro-content" class="100percent">
		<div style="width: 100%; min-height: 700px;">
			<img alt="" src="/images/theme/title-Privilege.jpg" />
			<div style="background-image: url(/images/index/grayLine.jpg); background-repeat: repeat-x;
				width: 100%; height: 19px;">
			</div>
			<div class="eclear">
			</div>
			<div id="PrivilegeStyle">
				<%--<div class="one_third"><img alt="" src="/images/index/banner-Privilege-1.jpg" />
				<h4>Trendyday Rewards</h4>
				<p>รับคะแนน Member Rewards คูณ2สำหรับการสั่งซื้อผ่านระบบ OfficeMate e-Procurement</p>
				</div>--%>
				<div class="one_third">
					<img alt="" src="/images/index/banner-Privilege-2.jpg" />
					<h4>
						HOT! Promotion</h4>
					<p>
						รับรายการโปรโมชั่นรายเดือนจากกิจกรรมทางการตลาดของออฟฟิศเมท ตลอดทั้ง</p>
				</div>
				<div class="one_third">
					<img alt="" src="/images/index/banner-Privilege-3.jpg" />
					<h4>
						Set up ระบบฟรี</h4>
					<p>
						รับการ Set up ระบบฟรีและรับการดูแลจากเจ้าหน้าที่ของออฟฟิศเมทตลอดการใช้งาน</p>
				</div>
				<div class="one_third if_last">
					<img alt="" src="/images/index/banner-Privilege-4.jpg" />
					<h4>
						พร้อมดูแลระบบให้คุณเสมอ</h4>
					<p>
						มีเจ้าหน้าที่ที่มีความรู้และมีประสบการณ์ ในเรื่องของระบบ คอยดูแล และแก้ไขปัญหาให้กับท่านในทุกกรณ์</p>
				</div>
				<div class="eclear">
				</div>
				<div class="one_third">
					<img alt="" src="/images/index/banner-Privilege-5.jpg" />
					<h4>
						LIVE CHAT</h4>
					<p>
						มีบริการ LIVE CHAT ให้บริการตอบข้อซักถามและให้คำแนะนำผ่านการสนทนากับพนักงานอย่างฉับไว</p>
				</div>
			</div>
		</div>
	</div>
</asp:Content>
