﻿/* 
	LEVEL ONE
*/
ul.for-dropdown                          { position: relative; }
ul.for-dropdown  li                      { font-weight: bold; float: left; zoom: 1; cursor:pointer; }
ul.for-dropdown  a:hover		            { color: #000; }
ul.for-dropdown  a:active                { color: #ffa500; }
ul.for-dropdown  li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  color: #222; }
ul.for-dropdown  li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.for-dropdown  li.hover,
ul.for-dropdown  li:hover                { background: #ffffff; color: black; position: relative; }
ul.for-dropdown  li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.for-dropdown  ul 						{ /*width: 220px;*/ visibility: hidden; position: absolute; top: 100%; left: 0; z-index:50; border:solid 1px #b6b1a5; background-color:White }
ul.for-dropdown  ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.for-dropdown  ul li a					{ border-right: none; width: 100%; display: inline-block; } 
ul.for-dropdown ol { display:table-cell}
ul.for-dropdown ol li {width:200px;}
ul.for-dropdown ol li a{background-image:none}
ul.for-dropdown ol {background-color:#f6f6f6}

/* 
	LEVEL THREE
*/
ul.for-dropdown  ul ul 					{ left: 100%; top: 0; }
ul.for-dropdown  li:hover > ul 			{ visibility: visible; }