.awesome, .awesome:visited {
	background: #222 url(/images/btn/hi-light-btn.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-family:Tahoma!important;
	font-weight:bold;
	border:none
}
	@-moz-document url-prefix() {.awesome, .awesome:visited{-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);border-bottom: 1px solid rgba(0,0,0,0.20);}} 
	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	@-moz-document url-prefix() { .small.awesome, .small.awesome:visited 			{ padding:4px ; } } 
	.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.btn-green.awesome, .btn-green.awesome:visited		{ background-color: #91bd09; }
	.btn-green.awesome:hover						{ background-color: #749a02; }
	.btn-blue.awesome, .btn-blue.awesome:visited		{ background-color: #2daebf; }
	.btn-blue.awesome:hover							{ background-color: #007d9a; }
	.btn-red.awesome, .btn-red.awesome:visited			{ background-color: #cc0000/*#e33100*/; }
	.btn-red.awesome:hover							{ background-color: #950000/*#872300*/; }
	.btn-magenta.awesome, .btn-magenta.awesome:visited		{ background-color: #a9014b; }
	.btn-magenta.awesome:hover							{ background-color: #630030; }
	.btn-orange.awesome, btn-.orange.awesome:visited		{ background-color: #ff5c00; }
	.btn-orange.awesome:hover							{ background-color: #d45500; }
	.btn-yellow.awesome, .btn-yellow.awesome:visited		{ background-color: #ffb515; }
	.btn-yellow.awesome:hover							{ background-color: #fc9200; }
	.btn-gray.awesome, .btn-gray.awesome:visited		{ background-color: #aaaaaa; }
	.btn-gray.awesome:hover							{ background-color: #919191; }
	.btn-brown.awesome, .btn-brown.awesome:visited		{ background-color: #d45500; }
	.btn-brown.awesome:hover							{ background-color: #ff8000; }
	.btn-greenmint.awesome, .btn-greenmint.awesome:visited		{ background-color: #3eaaac; }
	.btn-greenmint.awesome:hover							{ background-color: #2f8082; }
	.btn-view-all a{text-indent:-999px; background-image:url(/images/btn/btn_view_all.png); height:22px; width:74px; display:inline-block}
	.btn-view-all a:hover{background-image:url(/images/btn/btn_view_all_hover.png)}
	
	
	.forbtn{border:none; cursor:pointer}
	.btn-send-red {background:url(/images/btn/btn-send-red.png) no-repeat; width:57px; height:26px;}
	.btn-send-red:hover {background:url(/images/btn/btn-send-red-h.png) no-repeat; width:57px; height:26px;}
		
	.btn-credit-blue {background:url(/images/btn/btn-credit-blue.png) no-repeat; width:102px; height:28px;}
	.btn-credit-blue-red:hover {background:url(/images/btn/btn-credit-blue_h.png) no-repeat; width:102px; height:28px;}
	
	.btn-submit-gray {background:url(/images/btn/btn-submit-gray.png) no-repeat; width:68px; height:21px;}
	.btn-submit-gray:hover {background:url(/images/btn/btn-submit-gray-h.png) no-repeat; width:68px; height:21px;}
	
	.btn-cancel-gray {background:url(/images/btn/btn-cancel-gray.png) no-repeat; width:68px; height:21px;}
	.btn-cancel-gray:hover {background:url(/images/btn/btn-cancel-gray-h.png) no-repeat; width:68px; height:21px;}
	
	.btn-sendtext-gray {background:url(/images/btn/btn-sendtext-gray.png) no-repeat; width:101px; height:24px;}
	.btn-sendtext-gray:hover {background:url(/images/btn/btn-sendtext-gray-h.png) no-repeat; width:101px; height:24px;}
	
	.btn-upload-gray {background:url(/images/btn/btn-upload-gray.png) no-repeat; width:76px; height:25px;}
	.btn-upload-gray:hover {background:url(/images/btn/btn-upload-gray-h.png) no-repeat; width:76px; height:25px;}
	
	.btn-save-gray {background:url(/images/btn/btn-save-gray.png) no-repeat; width:76px; height:25px;}
	.btn-save-gray:hover {background:url(/images/btn/btn-save-gray-h.png) no-repeat; width:76px; height:25px;}
	
	.btn-post-comment {background:url(/images/btn/btn-post-comment3.png) no-repeat; width:129px; height:25px;}
	.btn-post-comment:hover {background:url(/images/btn/btn-post-comment3-h.png) no-repeat; width:129px; height:25px;}
	
	.btn-new-catalog {background:url(/images/btn/btn-new-catalog.png) no-repeat; width:148px; height:28px;}
	.btn-new-catalog:hover {background:url(/images/btn/btn-new-catalog-h.png) no-repeat; width:148px; height:28px;}
	
	.btn-delete-catalog {background:url(/images/btn/btn-delete-catalog.png) no-repeat; width:148px; height:28px;}
	.btn-delete-catalog:hover {background:url(/images/btn/btn-delete-catalog-h.png) no-repeat; width:148px; height:28px;}
	
	.btn-edit-catalog {background:url(/images/btn/btn-edit-catalog.png) no-repeat; width:148px; height:28px;}
	.btn-edit-catalog:hover {background:url(/images/btn/btn-edit-catalog-h.png) no-repeat; width:148px; height:28px;}
	
	.btn-add-product {background:url(/images/btn/btn-add-product.png) no-repeat; width:106px; height:26px;}
	.btn-add-product:hover {background:url(/images/btn/btn-add-product-h.png) no-repeat; width:106px; height:26px;}
	
	.btn-save-darkgray {background:url(/images/btn/btn-save-darkgray.png) no-repeat; width:71px; height:24px;}
	.btn-save-darkgray:hover {background:url(/images/btn/btn-save-darkgray-h.png) no-repeat; width:71px; height:24px;}
	
	.btn-cancel-darkgray {background:url(/images/btn/btn-cancel-darkgray.png) no-repeat; width:71px; height:24px;}
	.btn-cancel-darkgray:hover {background:url(/images/btn/btn-cancel-darkgray-h.png) no-repeat; width:71px; height:24px;}
	
	.btn-create-catalog {background:url(/images/btn/btn-create-catalog.png) no-repeat; width:106px; height:26px;}
	.btn-create-catalog:hover {background:url(/images/btn/btn-create-catalog-h.png) no-repeat; width:106px; height:26px;}
	
	.btn-add-shipping {background:url(/images/btn/btn-add-shipping.png) no-repeat; width:136px; height:26px;}
	.btn-add-shipping:hover {background:url(/images/btn/btn-add-shipping-h.png) no-repeat; width:136px; height:26px;}
	
	.btn-add-shipping-sm {background:url(/images/btn/btn-add-shipping-sm.png) no-repeat; width:121px; height:24px;}
	.btn-add-shipping-sm:hover {background:url(/images/btn/btn-add-shipping-sm-h.png) no-repeat; width:121px; height:24px;}
	
	.btn-edit-darkgray {background:url(/images/btn/btn-edit-darkgray.png) no-repeat; width:51px; height:24px;}
	.btn-edit-darkgray:hover {background:url(/images/btn/btn-edit-darkgray-h.png) no-repeat; width:51px; height:24px;}
	
	.btn-choose-address {background:url(/images/btn/btn-choose-address.png) no-repeat; width:81px; height:24px;}
	.btn-choose-address:hover {background:url(/images/btn/btn-choose-address-h.png) no-repeat; width:81px; height:24px;}
	
	.btn-payment-red {background:url(/images/btn/btn-payment-red.png) no-repeat; width:106px; height:26px;}
	.btn-payment-red:hover {background:url(/images/btn/btn-payment-red-h.png) no-repeat; width:106px; height:26px;}
	
	.btn-change-payment {background:url(/images/btn/btn-change-payment.png) no-repeat; width:136px; height:26px;}
	.btn-change-payment:hover {background:url(/images/btn/btn-change-payment-h.png) no-repeat; width:136px; height:26px;}
	
	.btn-confirm-darkgray {background:url(/images/btn/btn-confirm-darkgray.png) no-repeat; width:124px; height:26px;}
	.btn-confirm-darkgray:hover {background:url(/images/btn/btn-confirm-darkgray-h.png) no-repeat; width:124px; height:26px;}

	.btn-send-gray {background:url(/images/btn/btn-send-gray.png) no-repeat; width:76px; height:25px;}
	.btn-send-gray:hover {background:url(/images/btn/btn-send-gray-h.png) no-repeat; width:76px; height:25px;}
	
	.btn-add-cart {background:url(/images/btn/btn-add-cart.png) no-repeat; width:129px; height:25px;}
	.btn-add-cart:hover {background:url(/images/btn/btn-add-cart-h.png) no-repeat; width:129px; height:25px;}

    .btn-product-notifyme {background:url(/images/btn/btn-product-notifyme.png) no-repeat; width:195px; height:23px;}
	.btn-product-notifyme:hover {background:url(/images/btn/btn-product-notifyme-h.png) no-repeat; width:195px; height:23px;}
	
	.btn-delete-darkgray {background:url(/images/btn/btn-delete-darkgray.png) no-repeat; width:63px; height:23px;}
	.btn-delete-darkgray:hover {background:url(/images/btn/btn-delete-darkgray-h.png) no-repeat; width:63px; height:23px;}
	
#btnGoToShoppingCart
{
	width:234px;
	height:44px;
	background-image:url(/images/btn/btn-merge-cart.gif);
	background-repeat:no-repeat;
	border:none;
	cursor:pointer
	
}
#btnGoToShoppingCart:hover
{
	background-image:url(/images/btn/btn-merge-cart-hover.gif);
	background-repeat:no-repeat
	
}
#btnGoToCheckOut
{
	width:254px;
	height:44px;
	background-image:url(/images/btn/btn-cancel-merge-cart.gif);
	background-repeat:no-repeat;
	border:none;
	cursor:pointer
}
#btnGoToCheckOut:hover
{
	background-image:url(/images/btn/btn-cancel-merge-cart-hover.gif);
	background-repeat:no-repeat
}