﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Master.Master" Inherits="System.Web.Mvc.ViewPage<Eprocurement2012.Models.User>" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<div class="centerwrap">
	<h2>
		ViewUser</h2>
	<%=Model.UserId %>
</div>
</asp:Content>
